.hero-home {
    margin-top: 30px;

    &__container {
        @media (max-width:$desktop) {
            padding: 0;
        }
    }

    &__wrapper {
        border-radius: 70px;
        background: linear-gradient(255deg, #DFE8FF 3.57%, rgba(255, 255, 255, 0.00) 78.21%);
        display: flex;

        padding: 70px 0 120px 61px;
        overflow: hidden;

        @media (max-width:$desktop) {
            flex-direction: column;
            padding: 32px 16px;
            background: linear-gradient(242deg, #DFE8FF 3.13%, rgba(255, 255, 255, 0.00) 60.9%);
            border-bottom-left-radius: 36px;
            border-bottom-right-radius: 36px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        @media (max-width:$smallTablet-max) {
            border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;
        }
    }

    &__info {
        min-width: 512px;
        margin-right: 75px;

        @media (max-width:$desktop) {
            max-width: 485px;
            min-width: auto;
            text-align: center;
            margin: 0 auto;
        }
    }

    &__title {
        color: var(--black);
        font: var(--title-2);

        span {
            color: var(--blue);

            @media (max-width:$desktop) {
                display: block;
            }
        }
    }

    &__descr {
        margin-top: 20px;
        color: var(--black);
        font: var(--text-1);
        max-width: 430px;

        @media (max-width:$desktop) {
            margin: 12px auto 0;
        }
    }

    &__btn {
        margin-top: 49px;

        @media (max-width:$desktop) {
            margin-top: 24px;
            width: 100%;
        }

        @media (max-width:$smallTablet-max) {
            max-width: 250px;
        }
    }

    &__images {
        flex-grow: 1;
        max-height: 445px;

        display: flex;

        @media (max-width:$desktop) {
            margin-top: 32px;
            max-height: 460px;
        }

        @media (max-width:$smallTablet-max) {
            max-height: 375px;
        }

        @media (max-width:$mobile-max) {
            max-height: 250px;
        }
    }

    &__image {
        border-radius: 50px;
        min-width: 308px;
        box-shadow: 0px 1px 2px 0px rgba(7, 46, 146, 0.03), 13px 4px 26px 0px rgba(69, 106, 199, 0.10);
        transition: transform $transitionSpeed ease-out;
        --active-prc: 35.2%;

        img {
            height: 100%;
            border-radius: 50px;

            @media (max-width:$desktop) {
                border-radius: 50px;
            }

            @media (max-width:$smallTablet-max) {
                border-radius: 40px;
            }

            @media (max-width:$mobile-max) {
                border-radius: 28px;
            }
        }

        &:nth-child(1) {
            @media (min-width:$desktop-min) {
                &:hover {
                    transform: translateX(calc(-1 * var(--active-prc)));
                }
            }
        }

        &:nth-child(2) {
            transform: translateX(-61%);

            @media (min-width:$desktop-min) {
                &:hover {
                    transform: translateX(calc(-61% - var(--active-prc)));
                }
            }

            @media (max-width:$mobile-max) {
                transform: translateX(-80%);
            }
        }

        &:nth-child(3) {
            transform: translateX(calc(-308px + (-22%)));

            @media (min-width:$desktop-min) {
                &:hover {
                    transform: translateX(calc(-308px + (-22%) - var(--active-prc)));
                }
            }

            @media (max-width:$mobile-max) {
                transform: translateX(calc(-308px + (-49%)));
            }
        }

        &:nth-child(4) {
            transform: translateX(calc((-308px*2) + 17%));

            @media (min-width:$desktop-min) {
                &:hover {
                    transform: translateX(calc((-308px*2) + 17% - var(--active-prc)));
                }
            }

            @media (max-width:$mobile-max) {
                transform: translateX(calc((-308px*2) + (-19%)));
            }
        }

        &:nth-child(5) {
            transform: translateX(calc((-308px*3) + 56%));

            @media (min-width:$desktop-min) {
                &:hover {
                    transform: translateX(calc((-308px*3) + 66% - var(--active-prc)));
                }
            }

            @media (max-width:$mobile-max) {
                transform: translateX(calc((-308px*3) + 10%));
            }
        }

        @media (max-width:$desktop) {
            min-width: 330px;
            border-radius: 50px;
        }

        @media (max-width:$smallTablet-max) {
            min-width: 310px;
            border-radius: 40px;
        }

        @media (max-width:$mobile-max) {
            min-width: 290px;
            border-radius: 30px;
        }
    }

    @media (max-width:$desktop) {
        margin-top: 0;
    }
}
