.newsletter-home {
    @include adaptiveValue("margin-top", 170, 48,1296,576,1);
    @include adaptiveValue("margin-bottom", 80, 48,1296,576,1);
    height: 383px;
    min-height: 383px;
    max-height: 383px;
    .container{
        position: relative;
        height: 100%;
    }
    &__wrapper,&__success {
        @include adaptiveValue("border-radius", 82, 24,1296,576,1);
        background: #050505;
        text-align: center;
        padding: 63px 35px 90px;
        color: var(--white);
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            background-image: url("../img/decor-3.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            position: absolute;
            bottom: -14px;
            left: 0;
            width: 54%;
            height: 108%;
            @media (max-width:$smallTablet-max){
                 width: 100%;
                 height: 116%; 
                 background-position: 104% 50%;
            }
        }
        @media (max-width:$tablet-max){
            padding: 32px 24px;
        }
    }

    &__title,
    &__descr,
    &__form {
        position: relative;
        z-index: 1;
    }

    &__title {
        font: var(--title-3);
        letter-spacing: -1px;
    }

    &__descr {
        margin-top: 8px;
        font: var(--text-1);
    }

    &__form {
        margin-top: 70px;
        display: inline-flex;
        align-items: center;
        @media (max-width:$tablet-max){
            margin-top: 32px;
            display: flex;
            flex-direction: column;
            align-items: start;
        }
    }

    &__input {
        margin: 0;
        width: 471px;

        &:not(:last-child) {
            margin-bottom: 0;
        }

        input {
            border: none;
            background: rgba(255, 255, 255, 0.37);
            backdrop-filter: blur(11.5px);
            font: var(--text-1);
            color: var(--white);

            &::placeholder {
                color: var(--white);
            }

            &.focus-visible {
                border: none;
            }
        }
        @media (max-width:$tablet-max){
            width: 100%;
            height: 55px;
        }
    }

    &__btn {
        margin: 0 0 0 18px;
        width: auto;
 height: 75px;
        padding: 0 66px;
        border-radius: 28px;

        @media (min-width:$tablet-min) {
            &:hover {
                background-color: var(--white);
                color: var(--blue);
            }
        }
        @media (max-width:$tablet-max){
            margin: 16px 0 0 0;
            width: 100%;
            border-radius: 20px;
            padding: 0 32px;
            height: 58px;
        }
    }
    &__success{
        height: 100%;
        padding: 138px 35px 90px;

        .newsletter-home__title{
            display: flex;
            align-items: center;
            justify-content: center;

            font: var(--title-3);
            img{
                margin-left: 24px;
            }
        }

        @media (max-width:$tablet-max){
            padding: 32px 24px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            &:not([hidden]){
                display: flex;
            }
        }
    }
    &.newsletter-contacts{
        @include adaptiveValue("margin-top", 100, 48,1296,576,1);
    }
    @media (max-width:$tablet-max){
        height: 315px;
        min-height: 315px;
        max-height: 315px;
    }
}
