.possibilities-home {
    margin-top: 35px;
    position: relative;

    &__top {
        background: none;
        padding-left: 0;
        padding-right: 0;

        @media (max-width:$tablet-max) {
            padding: 32px 0;
        }

        @media (max-width:$smallTablet-max) {
            padding: 24px 0;
        }
    }

    &__title {
        @include adaptiveValue("font-size", 162, 48, 1296, 420, 1);
        letter-spacing: -3.24px;
        font-weight: 600;

        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        height: 162px;

        @media (max-width:$desktop) {
            height: auto;
        }

        @media (max-width:$tablet-max) {
            letter-spacing: -1.56px;
            white-space: normal;
            text-align: center;
            max-width: 925px;
        }
    }

    &__text {
        top: 10px;

        @media (max-width:$desktop) {
            top: 18px;
        }

        p {
            max-width: 750px;

            @media (max-width:$mobile-max) {
                display: inline;
            }
        }

    }

    &__inner {
        margin-top: 75px;
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 417px));
        grid-column-gap: 24px;
        grid-row-gap: 38px;

        @media (max-width:$tablet-max) {
            margin-top: 56px;
            grid-row-gap: 13px;
            grid-template-columns: 400px 1fr;
        }

        @media (max-width:$smallTablet-max) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        @include adaptiveValue("border-radius", 60, 24, 1296, 576, 1);

        &--1 {
            background-color: #ffc5ee;
            display: flex;
            justify-content: center;
            align-items: end;
            height: 100%;
            max-height: 449px;
            position: relative;

            picture {
                transition: max-height $transitionSpeed $transitionFunction;
                width: 69%;
                max-width: 284px;
                max-height: 484px;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0, 100px 0, 100px calc(100% - 1px), 0 calc(100% - 1px));

                @media (max-width:$tablet-max) {
                    width: auto;
                    min-height: calc(100% + 24px);
                }

                @media (max-width:$smallTablet-max) {
                    max-height: calc(100% + 32px);
                    min-height: auto;
                }
            }

            img {
                position: relative;
                z-index: 2;

                @media (max-width:$smallTablet-max) {
                    height: 100%;
                    max-width: 220px;
                }
            }

            @media (max-width:$tablet-max) {
                grid-column: 1/2;
            }

            @media (max-width:$smallTablet-max) {
                max-width: 500px;
                min-width: 500px;
                justify-self: center;
                max-height: 350px;
            }

            @media (max-width:$mobile-max) {
                max-width: none;
                min-width: auto;
                justify-self: auto;
            }

            @media (min-width:$tablet-min) {
                &:hover {
                    picture {
                        max-height: 494px;
                    }
                }
            }
        }

        &--2 {
            grid-column: 2 span;
            max-height: 449px;
            background: linear-gradient(196deg, #6BA6FF -44.28%, #1541DF 107.8%);
            padding: 56px 0 56px 56px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            overflow: hidden;

            .col {
                max-width: 378px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;

                @media (max-width:1200px) {
                    max-width: 300px;
                }

                @media (max-width:$tablet-max) {
                    max-width: none;
                    text-align: center;
                }
            }

            .possibilities-home__item-title {
                color: var(--white);
                font: var(--subtitle-1);
                max-width: 278px;

                span {
                    color: #aec2ff;
                }
            }

            .possibilities-home__item-descr {
                margin-top: 24px;
                color: var(--white);
                font: var(--text-1);
            }

            img {
                border-radius: 22px;
                box-shadow: 0px 3.75545px 39px 0px rgba(8, 36, 135, 0.37);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -25%;

                @media (max-width:1300px) {
                    right: -40%;
                }

                @media (max-width:1200px) {
                    right: -50%;
                }

                @media (max-width:$tablet-max) {
                    position: static;
                    transform: translateY(25%);
                }

                @media (max-width:$smallTablet-max) {
                    margin-top: 32px;
                    transform: translateY(0);
                }
            }

            @media (max-width:$tablet-max) {
                padding: 32px;
                flex-direction: column;
                grid-column: 2/3;
            }

            @media (max-width:$smallTablet-max) {
                padding: 24px;
                grid-column: 1/2;
                max-height: none;
            }
        }

        &--3 {
            border: 1px solid #e7eaf2;
            background-color: #fbfbfb;
            padding: 86px 44px 48px;
            color: var(--black);

            display: flex;
            flex-direction: column;
            align-items: center;

            .possibilities-home__item-title {
                margin-top: 75px;
                font: var(--subtitle-1);

                @media (max-width:$tablet-max) {
                    margin-top: 32px;
                }
            }

            .possibilities-home__item-descr {
                margin-top: 16px;

                font: var(--text-1);
            }

            @media (max-width:$tablet-max) {
                padding: 32px;
            }

            @media (max-width:$smallTablet-max) {
                padding: 24px;
            }
        }

        &--4 {
            border: 1px solid #e7eaf2;
            background-color: #fbfbfb;
            --gap-sides: 44px;
            padding: 48px var(--gap-sides) 50px;
            color: var(--black);

            display: flex;
            flex-direction: column;
            overflow: hidden;

            .possibilities-home__item-title {
                font: var(--subtitle-1);
                margin-bottom: 24px;

                span {
                    color: var(--blue);
                }
            }


            .possibilities-home__item-tags {
                margin: 60px calc(-1 * var(--gap-sides)) 0;

                .row {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:not(:last-child) {
                        margin-bottom: 6px;
                    }
                }

                .tag {
                    flex-wrap: nowrap;
                    min-width: max-content;

                    &:not(:last-child) {
                        margin-right: 6px;
                    }
                }
            }

            @media (max-width:$tablet-max) {
                --gap-sides: 32px;
                padding: 32px;
                grid-column: 1/3;
                grid-row: 3/4;
            }

            @media (max-width:$smallTablet-max) {
                --gap-sides: 24px;
                padding: 24px;
                grid-column: 1/2;
                grid-row: auto;
            }
        }

        &--5 {
            border: 1px solid #e7eaf2;
            background-color: #fbfbfb;
            padding: 25px 0 48px 44px;
            color: var(--black);


            overflow: hidden;

            .possibilities-home__item-title {
                font: var(--subtitle-1);
                margin-right: 44px;

                span {
                    color: var(--blue);
                }

                @media (max-width:$smallTablet-max) {
                    margin-right: 24px;
                }
            }

            @media (max-width:$tablet-max) {
                padding: 32px 0 32px 32px;

                img {
                    max-width: 50%;
                    margin-left: auto;
                }
            }

            @media (max-width:$smallTablet-max) {
                padding: 24px 0 24px 24px;
            }

            @media (max-width:$mobile-max) {
                img {
                    max-width: 65%;
                }
            }
        }
        &--2{
            transition: transform 0.5s $transitionFunction;
            @media (min-width:$desktop-min) {
                &:hover {
                    transform: translateY(-5px);
                }
            }
        }
        &--3,
        &--4,
        &--5 {
            transition: transform 0.5s $transitionFunction;

            @media (min-width:$desktop-min) {
                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, .09);
                }
            }
        }
    }

    @media (max-width:$tablet-max) {
        margin-top: 0;
    }
}
