.about-home {
    @include adaptiveValue("border-top-left-radius", 65, 16, 1296, 576, 1);
    @include adaptiveValue("border-top-right-radius", 65, 16, 1296, 576, 1);
    @include adaptiveValue("padding-top", 90, 46, 1296, 576, 1);
    background-color: var(--white);
    position: relative;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:$tablet-max) {
            margin-left: 25px;
        }
    }

    &__title {
        color: var(--black);
        @include adaptiveValue("font-size", 32, 16, 1296, 576, 1);
        font-weight: 500;
        line-height: math.div(42, 32);
        letter-spacing: -0.32px;
        margin-right: 24px;

        span {
            color: var(--blue);
        }
        @media (max-width:$tablet-max){
            font-weight: 600;
        }
    }

    &__content {
        margin-top: 155px;
        border-radius: 74px;
        background-color: #f3f6ff;
        padding: 0 60px;

        @media (max-width:$tablet-max) {
            padding: 0;
            background-color: transparent;
            border-radius: 0;
            margin-top: 46px;
        }
    }

    &__items {
        transform: translateY(-55px);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 24px;

        @media (max-width:$tablet-max) {
            grid-column-gap: 16px;
            grid-row-gap: 16px;
            grid-template-columns: 1fr;
            transform: translateY(0);
        }
    }

    &__item {
        @include adaptiveValue("border-radius", 54, 18, 1296, 576, 1);
        border: 1px solid #dce4fc;
        background-color: var(--white);

        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: left;
        white-space: normal;
        padding: 24px 24px 48px 32px;

        &--1 {
            .about-home__item-icon {
                background: #ffdaf2;
            }
        }

        &--2 {
            .about-home__item-icon {
                background: #a1c5ff;
            }
        }

        &--3 {
            .about-home__item-icon {
                background: #b7b6ff;
            }
        }

        @media (max-width:$tablet-max) {
            padding: 24px;
        }
    }

    &__item-icon {
        width: 73px;
        height: 73px;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        align-self: end;

        svg {
            width: 30px;
            height: 30px;
            stroke: var(--black);
            fill: var(--white);
            stroke-width: 1.5px;
        }

        @media (max-width:$tablet-max) {
            width: 55px;
            height: 55px;
        }
    }

    &__item-subtitle {
        margin-top: -18px;
        color: #141414;
        @include adaptiveValue("font-size", 18, 16, 1296, 576, 1);
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.13px;
    }

    &__item-title {
        color: #141414;
        @include adaptiveValue("font-size", 60, 30, 1296, 576, 1);
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -1px;
    }

    &__item-descr {
        color: var(--black);
        @include adaptiveValue("font-size", 18, 14, 1296, 576, 1);
        font-weight: 400;
        line-height: 166%;
        max-width: 244px;
    }

    &__item-link {
        margin-top: 32px;
        color: var(--blue);
        @include adaptiveValue("font-size", 16, 13, 1296, 576, 1);
        font-weight: 500;
        line-height: 140%;

        @media (max-width:$tablet-max) {
            margin-top: 24px;
        }
    }

}
