.app-home {

    &__container {
        position: relative;
    }

    &__top {
        background: none;
        padding-left: 0;
        padding-right: 0;

        @media (max-width:$tablet-max) {
            padding: 32px 0;
        }

        @media (max-width:$smallTablet-max) {
            padding: 24px 0;
        }
    }

    &__title {
        @include adaptiveValue("font-size", 132, 40, 1296, 420, 1);
        letter-spacing: -3.259px;
        font-weight: 600;
    }

    &__text {
        p {
            max-width: 750px;
        }
    }

    &__form {
        max-width: 518px;
        margin: 0 auto;

        @media (max-width:$tablet-max) {
            margin-top: 16px;
        }
    }

    &__btn {
        margin-top: 40px;
        height: 80px;
        border-radius: 28px;

        @media (max-width:$tablet-max) {
            height: 50px;
            border-radius: 23px;
        }
    }

    &__decor-lightning {
        position: absolute;
        z-index: 1;

        &--1 {
            top: 3%;
            left: 20%;
        }

        &--2 {
            top: 36%;
            left: 10%;
        }

        &--3 {
            top: 46%;
            left: 4%;
        }

        &--4 {
            top: 75%;
            left: 16%;
        }

        &--5 {
            top: 33%;
            right: -4%;
        }

        &--6 {
            top: 55%;
            right: 18%;
        }
        @media (max-width:$tablet-max){
            display: none;
        }
    }
}
