.newsletter-home {
    @include adaptiveValue("margin-top", 240, 48,1296,576,1);
    @include adaptiveValue("margin-bottom", 80, 48,1296,576,1);

    &__wrapper {
        @include adaptiveValue("border-radius", 82, 18,1296,576,1);
        background: #050505;
        text-align: center;
        padding: 63px 35px 90px;
        color: var(--white);
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            background-image: url("../img/decor-3.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            position: absolute;
            bottom: -14px;
            left: 0;
            width: 54%;
            height: 108%;
            @media (max-width:$smallTablet-max){
                 width: 100%;
                 height: 120%; 
            }
        }
        @media (max-width:$tablet-max){
            padding: 32px 24px;
        }
    }

    &__title,
    &__descr,
    &__form {
        position: relative;
        z-index: 1;
    }

    &__title {
        @include adaptiveValue("font-size", 32, 24,1296,576,1);
        font-weight: 500;
        line-height: 166.943%;
        letter-spacing: -1px;
    }

    &__descr {
        margin-top: 1px;

        @include adaptiveValue("font-size", 16, 14,1296,576,1);
        font-weight: 400;
        line-height: 159.299%;
    }

    &__form {
        margin-top: 70px;
        display: inline-flex;
        align-items: center;
        @media (max-width:$tablet-max){
            margin-top: 32px;
            display: flex;
            flex-direction: column;
            align-items: start;
        }
    }

    &__input {
        margin: 0;
        width: 471px;
        height: 80px;

        &:not(:last-child) {
            margin-bottom: 0;
        }

        input {
            border-radius: 26px;
            border: none;
            background: rgba(255, 255, 255, 0.37);
            backdrop-filter: blur(11.5px);
            height: 80px;
            font-size: 18px;
            padding: 0 38px;
            color: var(--white);

            &::placeholder {
                color: var(--white);
            }

            &.focus-visible {
                border: none;
            }
            @media (max-width:$tablet-max){
                height: 55px;
                font-size: 14px;
                padding: 0 24px;
                border-radius: 18px;
            }
        }
        @media (max-width:$tablet-max){
            width: 100%;
            height: 55px;
        }
    }

    &__btn {
        margin: 0 0 0 18px;
        width: auto;
        height: 80px;
        padding: 0 66px;
        border-radius: 28px;

        @media (min-width:$tablet-min) {
            &:hover {
                background-color: var(--blue-dark);
                color: var(--white);
            }
        }
        @media (max-width:$tablet-max){
            margin: 16px 0 0 0;
            width: 100%;
            border-radius: 18px;
            padding: 0 32px;
            height: 55px;
        }
    }
}
