.tags-home {
    @include adaptiveValue("margin-top", 137, 75, 1920, 576, 1);
    @include adaptiveValue("margin-bottom", -263, -65, 1920, 576, 1);
    @include adaptiveValue("border-radius", 88, 18,1920,576,1);
    background-color: #0f0f0f;
    position: relative;

    .container {
        position: relative;
        @include adaptiveValue("padding-top", 100, 46, 1920, 576, 1);
        @include adaptiveValue("padding-bottom", 375, 100, 1920, 576, 1);
    }

    &__decor {
        position: absolute;
        bottom: -20%;
        right: 0;
        @media (max-width:$smallTablet-max){
             width: 100%;
             top: -15%;
             bottom: auto; 
        }
    }

    &__wrapper {
        .row {
            transform: translateX(-25px);
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }

    &__tag {
        border: none;
        background: rgba(255, 255, 255, 0.13);
        color: var(--white);
        flex-wrap: nowrap;
        min-width: max-content;

        &:not(:last-child) {
            margin-right: 16px;
        }
    }

}
