.tags-home {
    @include adaptiveValue("margin-top", 137, 75, 1296, 576, 1);
    @include adaptiveValue("margin-bottom", -263, -65, 1296, 576, 1);
    @include adaptiveValue("border-radius", 88, 18, 1296, 576, 1);
    background-color: #0f0f0f;
    position: relative;
    @include adaptiveValue("padding-top", 100, 46, 1296, 576, 1);
    @include adaptiveValue("padding-bottom", 375, 100, 1296, 576, 1);

    &__container {
        max-width: 1920px;
        margin: 0 auto;
    }

    &__decor {
        position: absolute;
        bottom: -20%;
        right: 0;

        @media (max-width:$smallTablet-max) {
            width: 100%;
            top: -15%;
            bottom: auto;
        }
    }

    &__wrapper {}

    &__row {
        &:not(:last-child){
            margin-bottom: 16px;
        }
        .swiper-wrapper {
            transition-timing-function: linear;
        }
    }

    &__tag {
        border: none;
        background: rgba(255, 255, 255, 0.13);
        color: rgba(255, 255, 255, 0.45);
        flex-wrap: nowrap;
        max-width: max-content;
    }

}
