<section class="hero-about-company-two">
    <div class="container hero-about-company-two__container">
        <div class="hero-about-company-two__inner hero-primary">
            <h1 class="hero-about-company-two__title hero-primary__title" data-rellax-speed="-2.5" data-rellax-tablet-speed="0"
            data-rellax-xs-speed="0" data-rellax-mobile-speed="0">
                о компании
            </h1>
            <div class="hero-about-company-two__text hero-primary__text">
                <p>
                    Продом — это технологичные сервисы и продукты. <br>
                    Мы внедряем <span>инновационные решения</span> во всех сферах управления недвижимостью.
                    Наша цель — <span>изменить рутину,</span> внедряя современные технологии в рабочий процесс
                </p>
            </div>
            <div class="hero-about-company-two__content">
                <div class="col">
                    <div class="hero-about-company-two__tags">
                        <div class="hero-about-company-two__tag tag">
                            Приложения
                        </div>
                        <div class="hero-about-company-two__tag tag">
                            CRM-системы
                        </div>
                        <div class="hero-about-company-two__tag tag">
                            Сайты
                        </div>
                        <div class="hero-about-company-two__tag tag">
                            Внутренние продукты
                        </div>
                        <div class="hero-about-company-two__tag tag">
                            Умные устройства
                        </div>
                        <div class="hero-about-company-two__tag tag">
                            ...
                        </div>
                    </div>
                    <div class="hero-about-company-two__info" data-da=".hero-about-company-two__content,1326,2">
                        <span>(10000+)</span>
                        <span>
                            пользователей основного приложения для жителей
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="card-info-third">
                        <div class="card-info-third__icon">
                            <svg>
                                <use xlink:href="img/sprite.svg#check"></use>
                            </svg>
                        </div>
                        <h3 class="card-info-third__title">
                            Бесшовная интеграция
                        </h3>
                        <p class="card-info-third__descr">
                            Внедряем наш функционал в&nbsp;вашу систему, без смены оборудования
                        </p>
                    </div>
                    <div class="card-info-third">
                        <div class="card-info-third__icon">
                            <svg>
                                <use xlink:href="img/sprite.svg#check"></use>
                            </svg>
                        </div>
                        <h3 class="card-info-third__title">
                            Быстрое подключение
                        </h3>
                        <p class="card-info-third__descr">
                            По&nbsp;стандарту подключаем
                            в&nbsp;течении суток
                        </p>
                    </div>
                    <div class="card-info-third">
                        <div class="card-info-third__icon">
                            <svg>
                                <use xlink:href="img/sprite.svg#check"></use>
                            </svg>
                        </div>
                        <h3 class="card-info-third__title">
                            Тестовый период
                        </h3>
                        <p class="card-info-third__descr">
                            Попробуйте все возможности сервиса бесплатно в&nbsp;течении 30&nbsp;дней
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
