<section class="partners-about-company-two">
    <div class="container">
        <div class="partners-about-company-two__top top-section-info">
            <h2 class="top-section-info__title title-2">
                О функционале
            </h2>
            <p class="top-section-info__descr">
                Продом используют по всей России, больше всего — в Москве
                и Московской области. География расширяется ежедневно, границ нет.
            </p>
        </div>
        <div class="partners-about-company-two__wrapper">
            <div class="swiper partners-about-company-two__slider">
                <div class="swiper-wrapper">
                    <a href="#" class="swiper-slide">
                        <picture>
                            <source srcset="./img/partner-1.webp" type="image/webp">
                            <img loading="lazy" src="./img/partner-1.jpg" width="260" height="293" alt="ЖК 9/18">
                        </picture>
                        <span>ЖК 9/18</span>
                    </a>
                    <a href="#" class="swiper-slide">
                        <picture>
                            <source srcset="./img/partner-2.webp" type="image/webp">
                            <img loading="lazy" src="./img/partner-2.jpg" width="260" height="293" alt="ЖК Лайнер Запад">
                        </picture>
                        <span>ЖК Лайнер Запад</span>
                    </a>
                    <a href="#" class="swiper-slide">
                        <picture>
                            <source srcset="./img/partner-3.webp" type="image/webp">
                            <img loading="lazy" src="./img/partner-3.jpg" width="260" height="293" alt="ЖК Прайм Тайм">
                        </picture>
                        <span>ЖК Прайм Тайм</span>
                    </a>
                    <a href="#" class="swiper-slide">
                        <picture>
                            <source srcset="./img/partner-4.webp" type="image/webp">
                            <img loading="lazy" src="./img/partner-4.jpg" width="260" height="293" alt="БЦ Сити">
                        </picture>
                        <span>БЦ Сити</span>
                    </a>
                    <a href="#" class="swiper-slide">
                        <picture>
                            <source srcset="./img/partner-5.webp" type="image/webp">
                            <img loading="lazy" src="./img/partner-5.jpg" width="260" height="293" alt="ЖК Зиларт">
                        </picture>
                        <span>ЖК Зиларт</span>
                    </a>
                    <a href="#" class="swiper-slide">
                        <picture>
                            <source srcset="./img/partner-6.webp" type="image/webp">
                            <img loading="lazy" src="./img/partner-6.jpg" width="260" height="293" alt="ЖК Реутов">
                        </picture>
                        <span>ЖК Реутов</span>
                    </a>
                    <a href="#" class="swiper-slide">
                        <picture>
                            <source srcset="./img/partner-2.webp" type="image/webp">
                            <img loading="lazy" src="./img/partner-2.jpg" width="260" height="293" alt="ЖК Лайнер Запад">
                        </picture>
                        <span>ЖК Лайнер Запад</span>
                    </a>
                </div>
            </div>
            <div class="partners-about-company-two__nav">
                <button type="button" class="btn btn-reset partners-about-company-two__prev nav-primary nav-primary_prev">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-left"></use>
                    </svg>
                </button>
                <button type="button" class="btn btn-reset partners-about-company-two__next nav-primary nav-primary_next">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-left"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
