.card-info {
    padding: 50px 43px;
    background: #FBFBFB;
    border: 1px solid #E7EAF2;
    border-radius: 39px;

    display: flex;
    flex-direction: column;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font: var(--subtitle-1);
        color: var(--dark);
    }

    &__icon {
        margin-left: 15px;
        width: 53px;
        height: 53px;

        @media (max-width:$smallTablet-max) {
            width: 40px;
            height: 40px;
        }
    }

    &__descr {
        margin-top: 35px;
        margin-bottom: 50px;


        color: var(--black);
        font: var(--text-2-400);

        @media (max-width:$tablet-max) {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }

    &__link {
        margin-top: auto;
        display: flex;
        align-items: center;

        color: var(--blue);

        font: var(--text-2-400);
        transition: color $transitionSpeed $transitionFunction;

        svg {
            margin-left: 12px;
            width: 16px;
            height: 16px;
            fill: currentColor;
        }

        @media (min-width:$smallTablet-min) {
            &:hover {
                color: var(--blue-light);
            }
        }

        @media (max-width:$tablet-max) {
            align-self: start;

            svg {
                margin-left: 8px;
                width: 14px;
                height: 14px;
            }
        }
    }

    @media (max-width:$tablet-max) {
        padding: 24px;
        border-radius: 22px;
    }
}


.card-info-secondary {
    background: radial-gradient(73.81% 73.81% at 95.49% 0%, rgba(146, 131, 234, 0.5) 0%, rgba(0, 0, 0, 0) 100%), rgba(39, 39, 39, 0.6);
    border-radius: 42px;
    padding: 48px 33px;

    &__number {
        font: var(--text-1);
        color: #6C7EA7;
    }

    &__descr {
        margin-top: 24px;
        font: var(--text-2-400);
        color: var(--white);

        @media (max-width:$tablet-max) {
            margin-top: 16px;
        }
    }

    @media (max-width:$tablet-max) {
        padding: 24px;
        border-radius: 18px;
    }
}

.card-info-third {
    background: #FBFBFB;
    border: 1px solid #E7EAF2;
    @include adaptiveValue("border-radius", 56, 18, 1296, 576, 1);
    padding: 36px 40px 54px 46px;

    &__icon {
        --size: 40px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--blue);

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 15px;
            height: 15px;
            fill: none;
            stroke: var(--white);
            stroke-width: 2px;
        }

        @media (max-width:$tablet-max) {
            --size: 35px;
        }
    }

    &__title {
        margin-top: 23px;
        font: var(--subtitle-3);
        color: var(--dark);

        @media (max-width:$tablet-max) {
            margin-top: 16px;
        }
    }

    &__descr {
        margin-top: 23px;
        font: var(--text-2-400);
        color: var(--black);

        @media (max-width:$tablet-max) {
            margin-top: 16px;
        }
    }

    @media (max-width:$tablet-max) {
        padding: 32px 24px;
    }
}


.card-info-four {
    border-radius: 45px;
    border: 1px solid #E7EAF2;
    background: var(--white);
    padding: 28px 32px 45px;

    &__icon {
        width: 73px;
        height: 73px;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--dark);

        svg {
            width: 42px;
            height: 34px;
            fill: var(--white);
            stroke: var(--black);
            stroke-width: 1.5px;
        }

        @media (max-width:$tablet-max) {
            width: 50px;
            height: 50px;

            svg {
                width: 30px;
                height: 23px;
            }
        }

        @media (max-width:$smallTablet-max) {
            width: 42px;
            height: 42px;

            svg {
                width: 25px;
                height: 18px;
            }
        }
    }

    &__title {
        margin-top: 42px;
        font: var(--text-1);
        font-weight: 500;
        @media (max-width:$tablet-max) {
            margin-top: 24px;
        }
    }

    &__descr {
        margin-top: 12px;
        font: var(--text-3);

        @media (max-width:$tablet-max) {
            margin-top: 8px;
        }
    }

    @media (max-width:$tablet-max) {
        border-radius: 24px;
        padding: 24px;
    }

    @media (max-width:$smallTablet-max) {
        padding: 16px;
    }
}
