.news-card {
    max-width: 1000px;

    &__wrapper {
        display: grid;
        grid-template-columns: percent(375, 992) 1fr;

        &.focus-visible {
            .news-card__title {
                color: var(--blue);
            }
        }

        @media (max-width:$smallTablet-max) {
            grid-template-columns: 1fr;
        }
    }

    &__image {
        padding-bottom: percent(262, 375);
        border-radius: 40px;

        img {
            border-radius: 40px;

            @media (max-width:$tablet-max) {
                border-radius: 26px;
            }
        }

        @media (max-width:$tablet-max) {
            border-radius: 26px;
        }

        @media (max-width:$smallTablet-max) {}
    }

    &__content {
        padding: 16px 24px;
        display: grid;
        grid-template-columns: 1fr max-content;

        @media (max-width:$tablet-max) {
            padding: 12px 16px;
        }

        @media (max-width:$smallTablet-max) {
            padding: 16px;
        }
    }

    &__subtitle {
        align-self: start;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        span {
            color: var(--blue);
            font: var(--small-text);
            font-weight: 500;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            padding: 3.5px 15px;
            border-radius: 33px;
            background: #F1F6FF;
            margin: 0 8px 8px 0;

            @media (max-width:$tablet-max) {
                padding: 3.5px 10px;
                border-radius: 26px;
            }
        }
    }

    &__time {
        margin-left: 16px;
        color: #AAAAAA;
        font: var(--text-2);
        white-space: nowrap;
    }

    &__title {
        margin: 24px 0 32px;
        grid-column: 1/-1;
        align-self: start;
        color: var(--dark);
        font: var(--subtitle-1);
        transition: color $transitionSpeed $transitionFunction;

        @media (max-width:$tablet-max) {
            margin: 16px 0 24px;
        }
    }

    &__descr {
        margin-top: auto;
        grid-column: 1/-1;

        font: var(--text-2);
        color: var(--dark);
    }

    @media (min-width:$tablet-min) {
        &:hover {
            .news-card__title {
                color: var(--blue);
            }
        }
    }
}