.benefit-ads-two {
    @include adaptiveValue("margin-top", 135, 50, 1296, 576, 1);

    &__top {}

    &__tabs {
        margin-top: 48px;

        @media (max-width:$desktop) {
            margin-top: 32px;
        }
    }

    .tabs__content {
        margin-top: 68px;
        width: 100%;

        @media (max-width:$desktop) {
            margin-top: 32px;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: percent(744, 1296) 1fr;
        grid-column-gap: 56px;
        grid-row-gap: 24px;

        @media (max-width:$desktop) {
            grid-template-columns: 1fr;
            justify-content: center;
        }
    }

    &__image {
        padding-bottom: percent(471, 744);
        --radius: 40px;
        border-radius: var(--radius);
        align-self: start;

        img {
            border-radius: var(--radius);
        }

        @media (max-width:$desktop) {
            display: none;
        }
    }

    &__content {
        margin-top: 33px;
        display: flex;
        flex-direction: column;
        max-width: 462px;

        @media (max-width:$desktop) {
            margin-top: 0;
            max-width: none;
            text-align: center;
        }
    }

    &__item {
        display: grid;
        grid-template-columns: 20px 1fr;
        grid-column-gap: 14px;
        grid-row-gap: 16px;

        &:not(:last-child) {
            margin-bottom: 32px;
        }

        @media (max-width:$desktop) {
            grid-row-gap: 8px;
            grid-template-columns: 1fr;
            align-items: center;
        }
    }

    &__number {
        margin-top: 4px;
        grid-column: 1/2;

        width: 20px;
        height: 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
        background-color: var(--dark);
        color: var(--white);

        font: var(--small-text);

        @media (max-width:$desktop){
             grid-column: auto;
             margin-top: 0; 
         justify-self: center;
        }
    }

    &__title {
        grid-column: 2/3;
        color: var(--dark);
        font: var(--text-1);
        font-weight: 500;
        @media (max-width:$desktop){
             margin-bottom: 8px;
             grid-column: auto; 
           font-size: 18px;
             font-weight: 500;
        }
    }

    &__descr {
        grid-column: 1/-1;
        font: var(--text-2-400);
        color: #8A8A8E;
        @media (max-width:$desktop){
             font-size: 14px; 
        }
    }
}
