.faq-ads-two {
    margin-top: 135px;
    margin-bottom: 80px;

    &__wrapper {
        padding: 106px 0 127px;
        background: linear-gradient(0deg, #000 0%, #000 100%), #FBFBFB;
        border: 1px solid #E7EAF2;
        @include adaptiveValue("border-radius", 70, 42, 1296, 576, 1);
        position: relative;
        overflow: hidden;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(35%, 35%);
            width: 378px;
            height: 339px;
            background: linear-gradient(89.28deg, rgba(95, 95, 250, 0) 3.91%, #6565FF 9.89%, #4242E3 44.88%, #2FC4FF 81.59%, rgba(51, 166, 249, 0) 89.27%);
            filter: blur(134.5px);
            z-index: -1;
            @media (max-width:$desktop){
                transform: translate(86%, 35%); 
            }
        }

        @media (max-width:$desktop) {
            padding: 56px 32px;
            border: none;
            border-radius: 18px;
        }

        @media (max-width:$smallTablet-max) {
            padding: 24px 16px;
        }
    }

    &__spollers {
        max-width: 737px;
        margin: 0 auto;

        @media (max-width:$desktop) {
            max-width: none;
        }
    }

    &__element {
        display: flex;
        >div {
            width: 22px;
            height: 22px;
            flex: 0 0 22px;
            background: #35B462;
            border-radius: 50%;

            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(5px);
            svg {
                width: 12px;
                height: 12px;
                stroke: var(--white);
                stroke-width: 1.5px;
                fill: none;
            }
        }

        >span {
            margin-left: 17px;
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    @media (max-width:$desktop) {
        margin-top: 68px;
        margin-bottom: 48px;
    }
}
