.faq-ads-two {
    @include adaptiveValue("margin-top", 135, 48,1296,576,1);
    @include adaptiveValue("margin-bottom", 80, 24,1296,576,1);
    .container {
        @media (max-width:$tablet-max) {
            padding: 0;
        }
    }

    &__wrapper {
        padding: 106px 0 127px;
background: linear-gradient(0deg, #000 0%, #000 100%), #FBFBFB;
        border: 1px solid #E7EAF2;
        @include adaptiveValue("border-radius", 70, 40,1296,576,1);
        position: relative;
        overflow: hidden;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(35%, 35%);
            width: 378px;
            height: 339px;
            background: linear-gradient(89.28deg, rgba(95, 95, 250, 0) 3.91%, #6565FF 9.89%, #4242E3 44.88%, #2FC4FF 81.59%, rgba(51, 166, 249, 0) 89.27%);
            filter: blur(134.5px);
            z-index: -1;
        }

        @media (max-width:$tablet-max) {
            padding: 56px 32px;
            border: none;
            border-radius: 18px;
        }

        @media (max-width:$smallTablet-max) {
            padding: 24px 16px;
        }
    }

    &__spollers {
        max-width: 634px;
        margin: 0 auto;

        @media (max-width:$tablet-max) {
            max-width: none;
        }
    }

    @media (max-width:$tablet-max) {
        margin-top: 56px;
    }

    @media (max-width:$mobile-max) {
        margin-top: 32px;
    }
}
