.footer {
    background-color: #0F0F0F;
    color: var(--white);
    border-radius: 45px 45px 0px 0px;

    @media (max-width:$smallTablet-max) {
        border-radius: 18px 18px 0 0;
    }

    &__container {
        padding-top: 60px;
        padding-bottom: 50px;

        @media (max-width:$smallTablet-max) {
            padding-top: 40px;
            padding-bottom: 30px;
        }
    }

    &__cols {
        display: grid;
        grid-template-columns: repeat(4, max-content);
        justify-content: space-between;
        grid-column-gap: 25px;
        grid-row-gap: 40px;
        padding-bottom: 65px;

        @media (max-width:$tablet-max) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width:$smallTablet-max) {
            padding-bottom: 40px;
        }
    }

    &__col {
        &--1 {
            @media (max-width:$tablet-max) {
                order: 4;
            }
        }

        &--2 {
            @media (max-width:$tablet-max) {
                order: 1;
            }
        }

        &--3 {
            @media (max-width:$tablet-max) {
                order: 3;
            }

            @media (max-width:$smallTablet-max) {
                grid-column: 1/-1;
            }
        }

        &--4 {
            @media (max-width:$tablet-max) {
                order: 2;
            }
        }
    }

    &__bottom {
        padding-top: 24px;
        border-top: 1px solid #545454;
        display: flex;
        align-items: center;
        justify-content: end;

        @media (max-width:$smallTablet-max) {
            justify-content: center;
        }
    }

    &__policy {
        font: var(--text-2-500);
        line-height: math.div(21, 16);
        font-weight: 400;
    }
}

.footer-contacts {
    display: flex;
    flex-direction: column;

    &__item {
        transition: color $transitionSpeed $transitionFunction;

        font: var(--text-2-500);

       @media (min-width:$smallTablet-min){
        &:hover {
            color: var(--blue);
        } 
       }

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.footer-nav {

    &__title {
        margin-bottom: 24px;
        color: #728FFF;
        font: var(--text-2-500);

        @media (max-width:$smallTablet-max) {
            margin-bottom: 16px;
        }
    }

    &__list {}

    &__item {
        &:not(:last-child) {
            margin-bottom: 20px;

            @media (max-width:$smallTablet-max) {
                margin-bottom: 14px;
            }
        }
    }

    &__link {
        transition: color $transitionSpeed $transitionFunction;
        font: var(--text-2-500);
        @media (min-width:$smallTablet-min) {
            &:hover {
                color: var(--blue);
            }
        }
    }
}
