.header {
    &:not(.header--only-logo) {
        height: 102px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        padding-top: 16px;
        background-color: var(--white);
        position: relative;
        z-index: 99;

        .header {
            &__container {
                height: 100%;
            }

            &__inner {
                display: flex;
                align-items: center;
                position: relative;
                height: 100%;

              @media (max-width:$desktop){
                justify-content: space-between;
                padding: 17px 0;
                justify-content: start; 
              }
            }

            &__logo {
                flex-shrink: 0;

               @media (max-width:$desktop){
                width: 120px; 
               }
            }

            &__nav {
               @media (max-width:$desktop){
                .header__call {
                    display: block;
                } 
               }
            }

            &__actions {
                display: flex;
                align-items: center;

             @media (max-width:$desktop){
                margin-left: auto;
                margin-right: 20px; 
             }
            }

            &__tel {
                display: flex;
                align-items: center;
                white-space: nowrap;

                svg {
                    width: 20px;
                    height: 20px;
                    fill: var(--blue);

                 @media (max-width:$desktop){
                    width: 22px;
                    height: 22px; 
                 }
                }

                span {
                    transition: color $transitionSpeed $transitionFunction;
                    color: var(--dark);

                    margin-left: 11px;

                    font-size: 16px;
                    line-height: math.div(21, 16);

                 @media (max-width:$desktop){
                    display: none; 
                 }
                }

               @media (min-width:$desktop-min){
                &:hover {
                    span {
                        color: var(--blue);
                    }
                } 
               }
            }

            &__call {
                margin-left: 35px;
                border-radius: 19px;

                @media (max-width:$desktop) {
                    display: none;
                    margin: auto 0 0;
                    width: 80%;
                    flex-shrink: 0;
                }

            }

            &__burger {

                @media (min-width:$desktop-min) {
                    display: none;
                }
            }
        }

        @media (max-width:$desktop) {
            height: 60px;
            padding-top: 0;
            border-radius: 0;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: var(--white);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            z-index: var(--index-5);

            .header__inner {
                background-color: transparent;
                backdrop-filter: blur(0);
                border-radius: 0;
            }
        }

    }

    &--only-logo {
        text-align: center;
    }
}
