.news {
    padding-top: 55px;
    margin-bottom: 120px;

    .container {
        max-width: 1108px;

        @media (max-width:$smallTablet-max) {
            padding: 0;
        }
    }

    &__image {
        padding-bottom: percent(262, 1076);
        border-radius: 40px;

        img {
            border-radius: 40px;

            @media (max-width:$tablet-max) {
                border-radius: 26px;
            }
        }

        @media (max-width:$tablet-max) {
            border-radius: 26px;
        }

        @media (max-width:$smallTablet-max) {
            padding-bottom: percent(550, 1076);
        }
    }

    &__content {
        max-width: 769px;
        margin-left: auto;

        @media (max-width:$tablet-max) {
            max-width: none;
        }

        @media (max-width:$smallTablet-max) {
            padding: 0 16px;
        }
    }

    &__top {
        margin-top: 42px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width:$tablet-max) {
            margin-top: 32px;
        }

        @media (max-width:$smallTablet-max) {
            margin-top: 16px;
        }
    }

    &__subtitle {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        span {
            color: var(--blue);
            font-size: 12px;
            line-height: math.div(17, 12);
            font-weight: 500;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            padding: 3.5px 15px;
            border-radius: 33px;
            background: #F1F6FF;
            margin: 0 8px 8px 0;

            @media (max-width:$tablet-max) {
                padding: 3.5px 10px;
                font-size: 10px;
                border-radius: 26px;
            }
        }
    }

    &__time {
        margin-left: 16px;
        color: var(--dark);
        font-weight: 500;
        font-size: 16px;
        line-height: math.div(20, 16);
        white-space: nowrap;

        @media (max-width:$tablet-max) {
            font-size: 14px;
        }
    }

    &__title {
        margin-top: 80px;
        color: var(--dark);
        font-size: 30px;
        line-height: math.div(40, 30);
        font-weight: 500;
        transition: color $transitionSpeed $transitionFunction;

        @media (max-width:$tablet-max) {
            font-size: 22px;
            margin-top: 48px;
        }

        @media (max-width:$smallTablet-max) {
            margin-top: 24px;
        }
    }

    &__text {
        margin-top: 48px;

        font-size: 16px;
        line-height: math.div(24, 16);
        font-weight: 400;
        color: var(--dark);

        p {
            &:not(:last-child) {
                margin-bottom: 40px;

                @media (max-width:$tablet-max) {
                    margin-bottom: 24px;
                }
            }
        }

        @media (max-width:$tablet-max) {
            font-size: 14px;
            margin-top: 32px;
        }

        @media (max-width:$smallTablet-max) {
            margin-top: 24px;
        }
    }

    &__btns {
        margin-top: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:$tablet-max) {
            margin-top: 32px;
        }

        @media (max-width:$smallTablet-max) {
            flex-direction: column;
        }
    }

    &__btn {
        &:nth-child(1) {
            padding: 0 70px;
        }

        &:nth-child(2) {
            padding: 0 55px;

            @media (max-width:$smallTablet-max) {
                margin-top: 16px;
            }
        }

        @media (max-width:$smallTablet-max) {
            width: 80%;
        }
    }

    @media (max-width:$tablet-max) {
        padding-top: 0;
        margin-bottom: 56px;
    }
}
