:root {
  --white: #fff;
  --black: #000;
  --blue: #3a66ff;
  --dark: #212121;
  --index-1: 1;
  --index-2: 2;
  --index-3: 3;
  --index-4: 4;
  --index-5: 5;
  --index-max: 10;
}

/* stylelint-disable */
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/ManropeRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/ManropeMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/ManropeSemibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/ManropeBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/ManropeExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
  font-size: inherit;
}

.page {
  height: 100%;
  font-family: "Manrope", sans-serif;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  line-height: 100%;
  background-color: #fff;
  color: #000;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.site-container {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.dis-scroll {
  overflow: hidden;
  height: 100vh;
}

.is-hidden {
  display: none !important;
}

.page--ios .dis-scroll {
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1326px;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.btn-reset:focus {
  outline: none;
}

.btn {
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.btn-primary {
  height: 58px;
  padding: 0 28px;
  color: var(--white);
  background-color: var(--black);
  border-radius: 15px;
  font-size: 16px;
  line-height: 1.375;
  font-weight: 500;
}
.btn-primary:hover {
  color: var(--white);
  background-color: var(--blue);
}
.btn-primary:focus {
  color: var(--white);
  background-color: var(--blue);
}

.btn-secondary {
  height: 58px;
  padding: 0 28px;
  color: var(--black);
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 15px;
  font-size: 16px;
  line-height: 1.375;
  font-weight: 500;
}
.btn-secondary:hover {
  color: var(--white);
  background-color: var(--blue);
}
.btn-secondary:focus {
  color: var(--white);
  background-color: var(--blue);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav__item:not(:first-child) {
  margin-left: 34px;
}
.nav__item:last-child {
  margin-left: 105px;
}
.nav__link {
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  color: var(--dark);
  font-size: 16px;
  line-height: 1.25;
  font-weight: 500;
}
.nav__link:hover {
  color: var(--blue);
}

.header {
  margin-top: 16px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.49);
  -webkit-backdrop-filter: blur(10.5px);
  backdrop-filter: blur(10.5px);
  border-radius: 57px;
  padding: 16px 25px;
}
.header__logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.header__nav {
  margin-left: 50px;
  margin-right: 20px;
}
.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}
.header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__tel svg {
  width: 20px;
  height: 20px;
  fill: var(--blue);
}
.header__tel span {
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  color: var(--dark);
  margin-left: 11px;
  font-size: 16px;
  line-height: 1.3125;
}
.header__tel:hover span {
  color: var(--blue);
}
.header__call {
  margin-left: 35px;
}
/*# sourceMappingURL=main.css.map */