:root {
  --white: #fff;
  --black: #000;
  --blue: #3a66ff;
  --blue-light: #91A8F8;
  --dark: #212121;
  --silver: #e0e9ff;
  --purple: #b09af8;
  --gray: #888;
  --index-1: 1;
  --index-2: 2;
  --index-3: 3;
  --index-4: 4;
  --index-5: 5;
  --index-max: 10;
}

/* stylelint-disable */
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/ManropeRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/ManropeMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/ManropeSemibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/ManropeBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/../fonts/ManropeExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
  font-size: inherit;
}

.page {
  height: 100%;
  font-family: "Manrope", sans-serif;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  line-height: 100%;
  background-color: #fff;
  color: #000;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.site-container {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.dis-scroll {
  overflow: hidden;
  height: 100vh;
}

.is-hidden {
  display: none !important;
}

.page--ios .dis-scroll {
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1326px;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  .main {
    margin-top: calc(var(--header-height) + 16px);
  }
}

.form-primary__title {
  color: var(--dark);
  font-size: 40px;
  line-height: 1.2;
}
.form-primary__descr {
  margin-top: 40px;
  font-size: 18px;
  line-height: 1.7777777778;
  font-weight: 500;
  color: var(--dark);
}
@media (max-width: 1024px) {
  .form-primary__descr {
    margin-top: 20px;
    font-size: 14px;
  }
}
.form-primary__container {
  margin-top: 40px;
}
.form-primary__label {
  height: 54px;
  display: block;
}
.form-primary__label:not(:last-child) {
  margin-bottom: 14px;
}
@media (max-width: 1024px) {
  .form-primary__label {
    height: 46px;
  }
}
.form-primary__agree {
  margin-top: 21px;
}
.form-primary_btn {
  margin-top: 80px;
  width: 100%;
  padding: 24px 30px;
  height: 70px;
}
@media (max-width: 1024px) {
  .form-primary_btn {
    margin-top: 35px;
  }
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.btn-reset:focus {
  outline: none;
}

.btn {
  white-space: nowrap;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.btn-primary {
  height: 58px;
  padding: 0 28px;
  color: var(--white);
  background-color: var(--black);
  border-radius: 15px;
  font-size: 16px;
  line-height: 1.375;
  font-weight: 500;
}
@media (min-width: 769px) {
  .btn-primary:hover {
    color: var(--white);
    background-color: var(--blue);
  }
}
.btn-primary:focus {
  color: var(--white);
  background-color: var(--blue);
}
@media (max-width: 1024px) {
  .btn-primary {
    height: 44px;
    padding: 0 22px;
    font-size: 13px;
  }
}
.btn-primary--big-size {
  font-size: 20px;
  line-height: 1.1;
  font-weight: 500;
  border-radius: 18px;
  height: 68px;
  padding: 22px 38px 24px;
}
@media (max-width: 768px) {
  .btn-primary--big-size {
    height: 50px;
    padding: 14px 38px;
    font-size: 14px;
    width: 80%;
  }
}

.btn-secondary {
  height: 58px;
  padding: 0 28px;
  color: var(--black);
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 15px;
  font-size: 16px;
  line-height: 1.375;
  font-weight: 500;
}
@media (min-width: 769px) {
  .btn-secondary:hover {
    color: var(--white);
    background-color: var(--blue);
  }
}
.btn-secondary:focus {
  color: var(--white);
  background-color: var(--blue);
}
@media (max-width: 1024px) {
  .btn-secondary {
    height: 44px;
    padding: 0 22px;
    font-size: 13px;
  }
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background-color: #fff;
  padding: 0;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}
.input-reset:focus {
  outline: none;
}

textarea.input-reset {
  resize: none;
}

.input-primary {
  height: 54px;
  width: 100%;
  color: var(--dark);
  font-size: 13px;
  line-height: 100%;
  font-weight: 500;
  padding: 0 26px;
  background: #F8FAFC;
  border: 1px solid #E0E7FF;
  border-radius: 16px;
}
.input-primary::-webkit-input-placeholder {
  color: #9EACD8;
}
.input-primary::-moz-placeholder {
  color: #9EACD8;
}
.input-primary:-ms-input-placeholder {
  color: #9EACD8;
}
.input-primary::-ms-input-placeholder {
  color: #9EACD8;
}
.input-primary::placeholder {
  color: #9EACD8;
}
@media (max-width: 768px) {
  .input-primary {
    height: 46px;
    padding: 0 18px;
    border-radius: 12px;
  }
}

.checkbox {
  position: relative;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox__input:checked + .checkbox__label:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #D0D5DD;
  border-radius: 6px;
  -webkit-transition: border 0.3s ease-in-out;
  -o-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
  position: relative;
  top: 0px;
}
.checkbox__label::after {
  content: "";
  background-color: var(--black);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 14px;
  flex: 0 0 14px;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 5px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.checkbox__text {
  margin-left: 12px;
  color: var(--black);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}
.checkbox__text a {
  text-decoration: underline;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.checkbox__text a:hover {
  color: var(--red);
}
@media (max-width: 768px) {
  .checkbox__text {
    font-size: 12px;
  }
}

.burger {
  --burger-width: 26px;
  --burger-height: 18px;
  --burger-line-height: 2px;
  position: relative;
  z-index: 12;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--blue);
  background-color: transparent;
  cursor: pointer;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.burger span {
  display: block;
  position: absolute;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 435ms ease-in-out;
  -o-transition: 435ms ease-in-out;
  transition: 435ms ease-in-out;
}
.burger span:nth-child(1) {
  top: 0;
}
.burger span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.burger span:nth-child(3) {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  top: 100%;
}
.burger--active span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg) translateY(-50%);
  -ms-transform: rotate(135deg) translateY(-50%);
  transform: rotate(135deg) translateY(-50%);
}
.burger--active span:nth-child(2) {
  opacity: 0;
  left: 40px;
}
.burger--active span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg) translateY(-50%);
  -ms-transform: rotate(-135deg) translateY(-50%);
  transform: rotate(-135deg) translateY(-50%);
}

.title-1 {
  color: var(--dark);
  line-height: 1.2083333333;
  font-weight: 700;
}
@media (min-width: 82.875em) {
  .title-1 {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 82.875em) {
  .title-1 {
    font-size: calc(1.625rem + 1.375 * (((100vw - 20rem)) / ((62.875))));
  }
}
@media (max-width: 20em) {
  .title-1 {
    font-size: 1.625rem;
  }
}

.title-2 {
  color: var(--dark);
  line-height: 1.1052631579;
  font-weight: 500;
}
@media (min-width: 82.875em) {
  .title-2 {
    font-size: 2.375rem;
  }
}
@media (min-width: 20em) and (max-width: 82.875em) {
  .title-2 {
    font-size: calc(1.375rem + 1 * (((100vw - 20rem)) / ((62.875))));
  }
}
@media (max-width: 20em) {
  .title-2 {
    font-size: 1.375rem;
  }
}

.title-3 {
  color: var(--dark);
  line-height: 1.3636363636;
  font-weight: 500;
}
@media (min-width: 82.875em) {
  .title-3 {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 82.875em) {
  .title-3 {
    font-size: calc(1rem + 0.375 * (((100vw - 20rem)) / ((62.875))));
  }
}
@media (max-width: 20em) {
  .title-3 {
    font-size: 1rem;
  }
}

.subtitle-number {
  color: var(--blue);
  background-color: #F3F6FF;
  letter-spacing: 0.11em;
  font-size: 20px;
  line-height: 1.05;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 8px 22px;
  border-radius: 42px;
}
@media (max-width: 768px) {
  .subtitle-number {
    font-size: 14px;
    border-radius: 28px;
    padding: 8px 16px;
  }
}

.popular-subtitle {
  background-color: #ff604a;
  color: var(--white);
  border-radius: 32px;
  font-size: 14px;
  line-height: 1.3571428571;
  font-weight: 500;
  padding: 9px 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.popular-subtitle svg {
  width: 15px;
  height: 17px;
  fill: var(--white);
  margin-right: 5px;
}
@media (max-width: 768px) {
  .popular-subtitle {
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 20px;
  }
  .popular-subtitle svg {
    width: 12px;
    height: 14px;
  }
}

.text-center {
  text-align: center;
}

.top-section-info__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .top-section-info__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.top-section-info__subtitle {
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  margin-right: 20px;
}
@media (max-width: 1024px) {
  .top-section-info__subtitle {
    margin-right: 0;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}
.top-section-info__title {
  text-align: center;
}
@media (max-width: 1024px) {
  .top-section-info__title {
    margin-top: 12px;
  }
}
.top-section-info__descr {
  margin: 32px auto 0;
  text-align: center;
  max-width: 842px;
  color: var(--black);
  font-size: 18px;
  line-height: 1.7777777778;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .top-section-info__descr {
    font-size: 14px;
    margin-top: 20px;
  }
}

.item-primary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35px 1fr;
  grid-template-columns: 35px 1fr;
  grid-column-gap: 14px;
  grid-row-gap: 4px;
  background-color: var(--white);
  -webkit-box-shadow: 0px 9px 11px rgba(77, 98, 214, 0.16);
  box-shadow: 0px 9px 11px rgba(77, 98, 214, 0.16);
  border-radius: 20px;
  padding: 15px;
}
.item-primary__icon {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  width: 35px;
  height: 35px;
  background-color: black;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.item-primary__icon svg {
  width: 16px;
  height: 16px;
  fill: var(--white);
}
@media (max-width: 768px) {
  .item-primary__icon {
    border-radius: 8px;
    width: 30px;
    height: 30px;
  }
  .item-primary__icon svg {
    width: 14px;
    height: 14px;
  }
}
.item-primary__title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  color: var(--black);
  font-size: 12px;
  line-height: 1.4166666667;
  font-weight: 500;
}
@media (max-width: 768px) {
  .item-primary__title {
    font-size: 11px;
  }
}
.item-primary__descr {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  color: var(--gray);
  font-size: 10px;
  line-height: 1.6;
  font-weight: 400;
}
.item-primary--orange .item-primary__icon {
  background: -o-linear-gradient(312.04deg, #FF8F27 45.62%, #FFFFFF 154.42%);
  background: linear-gradient(137.96deg, #FF8F27 45.62%, #FFFFFF 154.42%);
}
.item-primary--green .item-primary__icon {
  background: -o-linear-gradient(313.86deg, #6FD083 43.66%, rgba(111, 208, 131, 0) 151.41%);
  background: linear-gradient(136.14deg, #6FD083 43.66%, rgba(111, 208, 131, 0) 151.41%);
}
@media (max-width: 768px) {
  .item-primary {
    padding: 12px;
    border-radius: 12px;
    -ms-grid-columns: 30px 1fr;
    grid-template-columns: 30px 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 2px;
  }
}

.card-user {
  background-color: var(--white);
  -webkit-box-shadow: 4.5px 7px 40px rgba(51, 60, 147, 0.3);
  box-shadow: 4.5px 7px 40px rgba(51, 60, 147, 0.3);
  border-radius: 27px;
  padding: 22px;
}
.card-user__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.card-user__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.card-user__name {
  margin-left: 11px;
  font-size: 11px;
  line-height: 1.3636363636;
  color: var(--black);
  font-weight: 500;
}
.card-user__time {
  margin-left: 7px;
  padding-left: 7px;
  color: rgba(0, 0, 0, 0.56);
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
  position: relative;
}
.card-user__time::before {
  content: "";
  width: 2px;
  height: 2px;
  background-color: currentColor;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}
.card-user__descr {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 11px;
  line-height: 1.3636363636;
  font-weight: 500;
}
.card-user__like {
  margin-top: 15px;
  width: 20px;
  height: 22px;
  display: block;
}

.card-info {
  padding: 50px 43px;
  background: #FBFBFB;
  border: 1px solid #E7EAF2;
  border-radius: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.card-info__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.card-info__title {
  line-height: 1.2307692308;
  font-weight: 500;
  color: var(--dark);
}
@media (min-width: 82.875em) {
  .card-info__title {
    font-size: 1.625rem;
  }
}
@media (min-width: 20em) and (max-width: 82.875em) {
  .card-info__title {
    font-size: calc(1.125rem + 0.5 * (((100vw - 20rem)) / ((62.875))));
  }
}
@media (max-width: 20em) {
  .card-info__title {
    font-size: 1.125rem;
  }
}
.card-info__icon {
  margin-left: 15px;
  width: 53px;
  height: 53px;
}
@media (max-width: 768px) {
  .card-info__icon {
    width: 40px;
    height: 40px;
  }
}
.card-info__descr {
  margin-top: 35px;
  margin-bottom: 50px;
  color: var(--black);
  font-size: 16px;
  line-height: 1.5625;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .card-info__descr {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.card-info__link {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--blue);
  font-size: 16px;
  line-height: 1.375;
  font-weight: 500;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.card-info__link svg {
  margin-left: 12px;
  width: 16px;
  height: 16px;
  fill: currentColor;
}
@media (min-width: 769px) {
  .card-info__link:hover {
    color: var(--blue-light);
  }
}
@media (max-width: 1024px) {
  .card-info__link {
    font-size: 14px;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
  }
  .card-info__link svg {
    margin-left: 8px;
    width: 14px;
    height: 14px;
  }
}
@media (max-width: 1024px) {
  .card-info {
    padding: 24px;
    border-radius: 22px;
  }
}

.nav {
  margin-left: 50px;
  margin-right: 30px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.nav__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 32px;
  -moz-column-gap: 32px;
  column-gap: 32px;
  row-gap: 16px;
}
@media (max-width: 1024px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 45px;
  }
}
@media (min-width: 1301px) {
  .nav__item:last-child {
    margin-left: auto;
  }
}
.nav__link {
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  color: var(--dark);
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 500;
}
@media (min-width: 769px) {
  .nav__link:hover {
    color: var(--blue);
  }
}
@media (max-width: 768px) {
  .nav__link {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .nav {
    visibility: hidden;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 50px 0 20px;
    position: absolute;
    top: 100%;
    left: -16px;
    z-index: var(--index-4);
    width: calc(100% + 32px);
    height: 100%;
    min-height: calc(var(--vh) - var(--header-height));
    margin: 0;
    background-color: var(--white);
  }
  .nav._active {
    -webkit-box-shadow: 0px -2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -2px 1px rgba(0, 0, 0, 0.1);
    visibility: visible;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@media (max-width: 768px) {
  .nav {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}

.header {
  margin-top: 16px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.49);
  -webkit-backdrop-filter: blur(10.5px);
  backdrop-filter: blur(10.5px);
  border-radius: 57px;
  padding: 16px 25px;
}
@media (max-width: 1024px) {
  .header__inner {
    padding: 8px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .header__inner {
    padding: 12px 0;
  }
}
.header__logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .header__logo {
    width: 100px;
  }
}
@media (max-width: 768px) {
  .header__nav .header__call {
    display: block;
  }
}
.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
}
.header__tel svg {
  width: 20px;
  height: 20px;
  fill: var(--blue);
}
.header__tel span {
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  color: var(--dark);
  margin-left: 11px;
  font-size: 16px;
  line-height: 1.3125;
}
@media (min-width: 769px) {
  .header__tel:hover span {
    color: var(--blue);
  }
}
@media (max-width: 768px) {
  .header__tel svg {
    width: 16px;
    height: 16px;
  }
  .header__tel span {
    margin-left: 5px;
    font-size: 13px;
  }
}
.header__call {
  margin-left: 35px;
  border-radius: 19px;
}
@media (max-width: 1024px) {
  .header__call {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .header__call {
    display: none;
    margin: auto 0 0;
    width: 80%;
  }
}
@media (min-width: 1025px) {
  .header__burger {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header {
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: var(--index-5);
  }
  .header .header__inner {
    background-color: transparent;
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
    border-radius: 0;
  }
}

.footer {
  background-color: #0F0F0F;
  color: var(--white);
  border-radius: 45px 45px 0px 0px;
}
@media (max-width: 768px) {
  .footer {
    border-radius: 18px 18px 0 0;
  }
}
.footer__container {
  padding-top: 60px;
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .footer__container {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
.footer__cols {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (-webkit-max-content)[4];
  -ms-grid-columns: (max-content)[4];
  grid-template-columns: repeat(4, -webkit-max-content);
  grid-template-columns: repeat(4, max-content);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-column-gap: 25px;
  grid-row-gap: 40px;
  padding-bottom: 65px;
}
@media (max-width: 1024px) {
  .footer__cols {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .footer__cols {
    padding-bottom: 40px;
  }
}
@media (max-width: 1024px) {
  .footer__col--1 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
}
@media (max-width: 1024px) {
  .footer__col--2 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media (max-width: 1024px) {
  .footer__col--3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}
@media (max-width: 768px) {
  .footer__col--3 {
    grid-column: 1/-1;
  }
}
@media (max-width: 1024px) {
  .footer__col--4 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}
.footer__bottom {
  padding-top: 24px;
  border-top: 1px solid #545454;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
@media (max-width: 768px) {
  .footer__bottom {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.footer__policy {
  line-height: 1.3125;
  font-weight: 400;
}
@media (min-width: 82.875em) {
  .footer__policy {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 82.875em) {
  .footer__policy {
    font-size: calc(0.875rem + 0.125 * (((100vw - 20rem)) / ((62.875))));
  }
}
@media (max-width: 20em) {
  .footer__policy {
    font-size: 0.875rem;
  }
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer-contacts__item {
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  line-height: 1.3125;
  font-weight: 400;
}
@media (min-width: 82.875em) {
  .footer-contacts__item {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 82.875em) {
  .footer-contacts__item {
    font-size: calc(0.875rem + 0.125 * (((100vw - 20rem)) / ((62.875))));
  }
}
@media (max-width: 20em) {
  .footer-contacts__item {
    font-size: 0.875rem;
  }
}
@media (min-width: 769px) {
  .footer-contacts__item:hover {
    color: var(--blue);
  }
}
.footer-contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-nav__title {
  margin-bottom: 24px;
  color: #728FFF;
  line-height: 1.375;
  font-weight: 500;
}
@media (min-width: 82.875em) {
  .footer-nav__title {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 82.875em) {
  .footer-nav__title {
    font-size: calc(0.875rem + 0.125 * (((100vw - 20rem)) / ((62.875))));
  }
}
@media (max-width: 20em) {
  .footer-nav__title {
    font-size: 0.875rem;
  }
}
@media (max-width: 768px) {
  .footer-nav__title {
    margin-bottom: 16px;
  }
}
.footer-nav__item:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .footer-nav__item:not(:last-child) {
    margin-bottom: 14px;
  }
}
.footer-nav__link {
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  line-height: 1.3125;
  font-weight: 400;
}
@media (min-width: 82.875em) {
  .footer-nav__link {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 82.875em) {
  .footer-nav__link {
    font-size: calc(0.8125rem + 0.1875 * (((100vw - 20rem)) / ((62.875))));
  }
}
@media (max-width: 20em) {
  .footer-nav__link {
    font-size: 0.8125rem;
  }
}
@media (min-width: 769px) {
  .footer-nav__link:hover {
    color: var(--blue);
  }
}

.hero-automation__container {
  margin-top: 18px;
  background: -o-linear-gradient(83.44deg, #FFFFFF -6.06%, #F3F5F8 135.59%);
  background: linear-gradient(6.56deg, #FFFFFF -6.06%, #F3F5F8 135.59%);
  border-radius: 70px;
  text-align: center;
  position: relative;
}
@media (max-width: 1024px) {
  .hero-automation__container {
    background: transparent;
    border-radius: 0;
  }
}
.hero-automation__content {
  padding: 42px 0 55px;
  max-width: 800px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .hero-automation__content {
    padding: 25px 0;
  }
}
.hero-automation__subtitle {
  color: var(--blue);
  background-color: var(--silver);
  border-radius: 42px;
  font-size: 10px;
  line-height: 2.1;
  text-transform: uppercase;
  letter-spacing: 0.11em;
  font-weight: 600;
  padding: 6px 20px;
  display: inline-block;
}
.hero-automation__title {
  margin-top: 35px;
}
.hero-automation__title span {
  background: -o-linear-gradient(359.94deg, #1A5AFF 51.8%, #CA95F5 75.15%);
  background: linear-gradient(90.06deg, #1A5AFF 51.8%, #CA95F5 75.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1024px) {
  .hero-automation__title {
    margin-top: 25px;
  }
}
.hero-automation__text {
  margin-top: 35px;
  padding: 25px 44px;
  color: var(--black);
  font-size: 18px;
  line-height: 1.7777777778;
  font-weight: 400;
  background-color: var(--white);
  border: 1px solid var(--silver);
  border-radius: 40px;
}
.hero-automation__text span {
  font-weight: 500;
}
@media (max-width: 1024px) {
  .hero-automation__text {
    margin-top: 25px;
    font-size: 14px;
    border-radius: 16px;
    padding: 12px;
  }
}
@media (max-width: 576px) {
  .hero-automation__text {
    font-size: 13px;
  }
}
.hero-automation__btn {
  margin-top: 45px;
}
@media (max-width: 1024px) {
  .hero-automation__btn {
    margin-top: 25px;
    width: 50%;
  }
}
@media (max-width: 576px) {
  .hero-automation__btn {
    width: 80%;
  }
}
.hero-automation__decor {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 57px;
  right: 60px;
}
.hero-automation__decor span {
  margin-top: 20px;
  text-transform: uppercase;
  color: var(--blue);
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .hero-automation__decor {
    position: static;
  }
  .hero-automation__decor span {
    margin-top: 12px;
    font-size: 10px;
  }
}

.crm-automation {
  margin-top: 50px;
}
.crm-automation__images {
  margin-top: 64px;
  position: relative;
}
.crm-automation__images img {
  margin: 0 auto;
  width: 74.6141975309%;
  height: 100%;
  -webkit-filter: drop-shadow(0px 1.53186px 1.53186px rgba(96, 109, 159, 0.05)) drop-shadow(0px 15.3186px 49.0194px rgba(55, 86, 187, 0.07));
  filter: drop-shadow(0px 1.53186px 1.53186px rgba(96, 109, 159, 0.05)) drop-shadow(0px 15.3186px 49.0194px rgba(55, 86, 187, 0.07));
  border-radius: 38px;
}
.crm-automation__images::before {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 91.2037037037%;
  height: 74.5484400657%;
  background-color: var(--purple);
  border-radius: 58px;
  z-index: -1;
}
@media (max-width: 768px) {
  .crm-automation__images {
    margin-top: 35px;
  }
  .crm-automation__images img {
    border-radius: 16px;
  }
  .crm-automation__images::before {
    bottom: 25px;
    border-radius: 25px;
  }
}
@media (max-width: 576px) {
  .crm-automation__images::before {
    width: 100%;
  }
  .crm-automation__images img {
    width: 85%;
  }
}

.history-automation {
  margin-top: 70px;
}
.history-automation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.history-automation__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
@media (max-width: 1326px) {
  .history-automation__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .history-automation__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
  }
}
.history-automation__item {
  padding: 40px 38px;
  background-color: #FBFBFB;
  border: 1px solid #E7EAF2;
  border-radius: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.history-automation__item:nth-child(1) .history-automation__images {
  margin-top: auto;
}
@media (max-width: 768px) {
  .history-automation__item:nth-child(2) .history-automation__images {
    width: 125px;
    margin-bottom: 24px;
  }
}
.history-automation__item:nth-child(3) .history-automation__elements {
  margin-top: auto;
}
@media (max-width: 1326px) {
  .history-automation__item:nth-child(3) {
    grid-column: 1/-1;
  }
}
@media (max-width: 768px) {
  .history-automation__item {
    padding: 20px;
    border-radius: 18px;
  }
}
.history-automation__title {
  max-width: 90%;
}
.history-automation__title span {
  color: var(--blue);
}
.history-automation__title:not(:last-child) {
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .history-automation__title:not(:last-child) {
    margin-bottom: 24px;
  }
}
.history-automation__title:last-child {
  margin-top: auto;
}
.history-automation__images img {
  -webkit-filter: drop-shadow(2.7px 4px 24px rgba(51, 60, 147, 0.06));
  filter: drop-shadow(2.7px 4px 24px rgba(51, 60, 147, 0.06));
  border-radius: 24px;
}
@media (max-width: 768px) {
  .history-automation__images img {
    width: 200px;
    border-radius: 16px;
  }
}
.history-automation__elements {
  background: #DAE1FE;
  border-radius: 34px;
  padding: 16px 24px;
  overflow: hidden;
}
.history-automation__elements .item-primary:first-child {
  position: relative;
  left: 53px;
}
.history-automation__elements .item-primary:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 1326px) {
  .history-automation__elements {
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
  }
}
@media (max-width: 768px) {
  .history-automation__elements {
    border-radius: 16px;
  }
  .history-automation__elements .item-primary:first-child {
    left: 16px;
  }
}
.history-automation__btn {
  margin-top: 72px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
@media (max-width: 1024px) {
  .history-automation__btn {
    margin-top: 50px;
  }
}

.app-performers-automation {
  margin-top: 120px;
}
.app-performers-automation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 1218px;
}
.app-performers-automation__images {
  margin-top: 65px;
  padding-top: 56px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35.6902356902% 35.7744107744%;
  grid-template-columns: 35.6902356902% 35.7744107744%;
  grid-column-gap: 56px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #3B5DDD;
  border-radius: 58px;
  overflow: hidden;
  position: relative;
}
@media (min-width: 82.875em) {
  .app-performers-automation__images {
    max-height: 41.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 82.875em) {
  .app-performers-automation__images {
    max-height: calc(12.5rem + 28.8125 * (((100vw - 20rem)) / ((62.875))));
  }
}
@media (max-width: 20em) {
  .app-performers-automation__images {
    max-height: 12.5rem;
  }
}
@media (max-width: 1024px) {
  .app-performers-automation__images {
    margin-top: 40px;
    border-radius: 32px;
    grid-column-gap: 40px;
  }
}
@media (max-width: 768px) {
  .app-performers-automation__images {
    padding-top: 32px;
    border-radius: 24px;
    grid-column-gap: 24px;
  }
}
.app-performers-automation__image {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0px 34px 62px #213DA8;
  box-shadow: 0px 34px 62px #213DA8;
  border-radius: 44px;
}
.app-performers-automation__image img {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}
.app-performers-automation__image::before {
  content: "";
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  position: absolute;
  top: -8px;
  left: -8px;
  background-color: rgba(255, 255, 255, 0.11);
  z-index: 1;
}
@media (min-width: 82.875em) {
  .app-performers-automation__image::before {
    border-radius: 3.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 82.875em) {
  .app-performers-automation__image::before {
    border-radius: calc(1rem + 2.4375 * (((100vw - 20rem)) / ((62.875))));
  }
}
@media (max-width: 20em) {
  .app-performers-automation__image::before {
    border-radius: 1rem;
  }
}
@media (max-width: 768px) {
  .app-performers-automation__image::before {
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top: -5px;
    left: -5px;
  }
}
.app-performers-automation__items {
  margin-top: 54px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 16px;
}
@media (max-width: 1024px) {
  .app-performers-automation__items {
    margin-top: 30px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.app-performers-automation__item {
  background-color: #FBFBFB;
  border: 1px solid #E7EAF2;
  border-radius: 40px;
  padding: 40px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .app-performers-automation__item {
    border-radius: 22px;
    padding: 20px;
    min-height: 200px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
}
.app-performers-automation__item-title {
  max-width: 260px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 260px;
  flex: 1 0 260px;
}
.app-performers-automation__item-title span {
  color: var(--blue);
}
@media (max-width: 1024px) {
  .app-performers-automation__item-title {
    max-width: 200px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 200px;
    flex: 1 0 200px;
  }
}
.app-performers-automation__item-card {
  background: #DBE2FF;
  border-radius: 36px;
  padding: 30px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 340px;
  flex: 0 0 340px;
  margin-left: 20px;
}
@media (max-width: 1024px) {
  .app-performers-automation__item-card {
    margin-left: auto;
    position: relative;
    left: 0px;
    padding: 20px;
    border-radius: 18px;
  }
}
.app-performers-automation__btn {
  margin-top: 85px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
@media (max-width: 1024px) {
  .app-performers-automation__btn {
    margin-top: 50px;
  }
}
@media (max-width: 1024px) {
  .app-performers-automation {
    margin-top: 70px;
  }
}

.app-residents-automation {
  margin-top: 110px;
}
.app-residents-automation__container {
  max-width: 1188px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.app-residents-automation__images {
  margin-top: 65px;
  padding-top: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30.6088407006% 30.6088407006% 30.6088407006%;
  grid-template-columns: 30.6088407006% 30.6088407006% 30.6088407006%;
  grid-column-gap: 53px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #a28af0;
  border-radius: 58px;
  overflow: hidden;
  position: relative;
}
@media (min-width: 82.875em) {
  .app-residents-automation__images {
    max-height: 42.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 82.875em) {
  .app-residents-automation__images {
    max-height: calc(12.5rem + 29.5625 * (((100vw - 20rem)) / ((62.875))));
  }
}
@media (max-width: 20em) {
  .app-residents-automation__images {
    max-height: 12.5rem;
  }
}
@media (max-width: 1024px) {
  .app-residents-automation__images {
    margin-top: 40px;
    border-radius: 32px;
    grid-column-gap: 40px;
  }
}
@media (max-width: 768px) {
  .app-residents-automation__images {
    padding-top: 32px;
    border-radius: 24px;
    grid-column-gap: 24px;
  }
}
.app-residents-automation__image {
  height: 100%;
  width: 100%;
  position: relative;
  margin-left: 88px;
}
.app-residents-automation__image img {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}
.app-residents-automation__image::before {
  content: "";
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  position: absolute;
  top: -8px;
  left: -8px;
  background: rgba(248, 250, 253, 0.11);
  z-index: 1;
}
@media (min-width: 82.875em) {
  .app-residents-automation__image::before {
    border-radius: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 82.875em) {
  .app-residents-automation__image::before {
    border-radius: calc(1rem + 2 * (((100vw - 20rem)) / ((62.875))));
  }
}
@media (max-width: 20em) {
  .app-residents-automation__image::before {
    border-radius: 1rem;
  }
}
@media (max-width: 768px) {
  .app-residents-automation__image::before {
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top: -5px;
    left: -5px;
  }
}
@media (max-width: 1024px) {
  .app-residents-automation__image {
    margin-left: 35px;
  }
}
@media (max-width: 768px) {
  .app-residents-automation__image {
    margin-left: 24px;
  }
}
.app-residents-automation__list {
  margin-top: 64px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
@media (max-width: 1024px) {
  .app-residents-automation__list {
    margin-top: 32px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.app-residents-automation__btn {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-top: 80px;
}
@media (max-width: 1024px) {
  .app-residents-automation__btn {
    margin-top: 50px;
  }
}
@media (max-width: 1024px) {
  .app-residents-automation {
    margin-top: 70px;
  }
}

.form-automation {
  margin-top: 125px;
  position: relative;
}
.form-automation::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: -o-linear-gradient(91.09deg, #F3F5F8 49.89%, #FFFFFF 103.15%);
  background: linear-gradient(358.91deg, #F3F5F8 49.89%, #FFFFFF 103.15%);
}
.form-automation__smiley {
  position: absolute;
}
.form-automation__smiley--1 {
  width: 88px;
  top: 18%;
  left: 0;
}
@media (max-width: 1024px) {
  .form-automation__smiley--1 {
    display: none;
  }
}
.form-automation__smiley--2 {
  width: 52px;
  top: 37%;
  left: 10%;
}
@media (max-width: 1024px) {
  .form-automation__smiley--2 {
    top: 5%;
  }
}
.form-automation__smiley--3 {
  width: 37px;
  top: 30%;
  left: 20%;
  -webkit-filter: blur(3.5px);
  filter: blur(3.5px);
}
@media (max-width: 1024px) {
  .form-automation__smiley--3 {
    left: auto;
    right: 0;
    top: 28%;
  }
}
.form-automation__smiley--4 {
  width: 53px;
  top: 11%;
  left: 38%;
}
@media (max-width: 1024px) {
  .form-automation__smiley--4 {
    display: none;
  }
}
.form-automation__smiley--5 {
  width: 79px;
  top: 17%;
  right: 11%;
}
@media (max-width: 1024px) {
  .form-automation__smiley--5 {
    display: none;
  }
}
.form-automation__smiley--6 {
  width: 143px;
  -webkit-filter: blur(5.5px);
  filter: blur(5.5px);
  top: 28%;
  right: 0;
}
@media (max-width: 1024px) {
  .form-automation__smiley--6 {
    display: none;
  }
}
.form-automation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding-top: 200px;
  margin-top: -50px;
  padding-bottom: 150px;
}
@media (max-width: 1024px) {
  .form-automation__container {
    padding-top: 120px;
    padding-bottom: 70px;
  }
}
.form-automation .form-primary__title {
  max-width: 670px;
  line-height: 1.1363636364;
  font-weight: 500;
}
@media (min-width: 82.875em) {
  .form-automation .form-primary__title {
    font-size: 4.125rem;
  }
}
@media (min-width: 20em) and (max-width: 82.875em) {
  .form-automation .form-primary__title {
    font-size: calc(2.1875rem + 1.9375 * (((100vw - 20rem)) / ((62.875))));
  }
}
@media (max-width: 20em) {
  .form-automation .form-primary__title {
    font-size: 2.1875rem;
  }
}
.form-automation .form-primary__descr {
  max-width: 470px;
  margin: 35px auto 0;
}
.form-automation .form-primary__container {
  max-width: 520px;
  margin: 35px auto 0;
}
.form-automation .form-primary .checkbox__label {
  width: 100%;
}
@media (max-width: 1024px) {
  .form-automation {
    margin-top: 70px;
  }
}

@media (max-width: 1024px) {
  .hero-ads__container {
    padding: 0;
  }
}
.hero-ads__title {
  position: relative;
}
.hero-ads__title .popular-subtitle {
  position: absolute;
  top: -18px;
  right: 32%;
  -webkit-transform: rotate(2.67deg);
  -ms-transform: rotate(2.67deg);
  transform: rotate(2.67deg);
}
@media (max-width: 1024px) {
  .hero-ads__title .popular-subtitle {
    top: -25px;
  }
}
.hero-primary {
  margin-top: 18px;
  background: -o-linear-gradient(83.44deg, #FFFFFF -6.06%, #F3F5F8 135.59%);
  background: linear-gradient(6.56deg, #FFFFFF -6.06%, #F3F5F8 135.59%);
  border-radius: 70px;
  padding: 80px 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero-primary__title {
  line-height: 0.9;
  display: block;
}
@media (min-width: 82.875em) {
  .hero-primary__title {
    font-size: 11.875rem;
  }
}
@media (min-width: 20em) and (max-width: 82.875em) {
  .hero-primary__title {
    font-size: calc(3.4375rem + 8.4375 * (((100vw - 20rem)) / ((62.875))));
  }
}
@media (max-width: 20em) {
  .hero-primary__title {
    font-size: 3.4375rem;
  }
}
.hero-primary__text {
  position: relative;
  top: -14px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #E7EAF2;
  -webkit-backdrop-filter: blur(7.5px);
  backdrop-filter: blur(7.5px);
  border-radius: 45px;
  width: 100%;
  padding: 46px 32px;
  text-align: center;
  font-size: 18px;
  line-height: 1.7777777778;
  font-weight: 500;
}
.hero-primary__text p {
  margin: 0 auto;
  max-width: 705px;
}
.hero-primary__text p span {
  font-weight: 500;
}
@media (max-width: 1024px) {
  .hero-primary__text {
    padding: 32px 24px;
    font-size: 14px;
    top: -3px;
  }
}
@media (max-width: 768px) {
  .hero-primary__text {
    font-size: 12px;
    padding: 16px;
  }
}
@media (max-width: 1024px) {
  .hero-primary {
    padding: 56px 16px 32px;
    border-radius: 0;
    background: transparent;
  }
}
/*# sourceMappingURL=main.css.map */