.app-performers-automation {
    margin-top: 120px;

    &__container {
        display: flex;
        flex-direction: column;
        max-width: calc(1188px + 30px);
    }

    &__top {}

    &__images {
        margin-top: 65px;
        padding-top: 56px;

        display: grid;
        grid-template-columns: percent(424, 1188) percent(425, 1188);
        grid-column-gap: 56px;
        justify-content: center;
        background: #3B5DDD;
        border-radius: 58px;

        overflow: hidden;
        position: relative;
        @include adaptiveValue("max-height", 661, 200);

        @media (max-width:$tablet-max) {
            margin-top: 40px;
            border-radius: 32px;
            grid-column-gap: 40px;
        }

        @media (max-width:$smallTablet-max) {
            padding-top: 32px;
            border-radius: 24px;
            grid-column-gap: 24px;
        }
    }

    &__image {
        height: 100%;
        width: 100%;
        position: relative;
        box-shadow: 0px 34px 62px #213DA8;
        border-radius: 44px;

        img {
            height: 100%;
            width: 100%;
            position: relative;
            z-index: 2;
        }

        &::before {
            @include adaptiveValue("border-radius", 55, 16);
            content: '';
            width: calc(100% + (8px*2));
            height: calc(100% + (8px*2));
            position: absolute;
            top: -8px;
            left: -8px;
            background-color: rgba(255, 255, 255, 0.11);
            z-index: 1;

            @media (max-width:$smallTablet-max) {
                width: calc(100% + (5px*2));
                height: calc(100% + (5px*2));
                top: -5px;
                left: -5px;
            }
        }
    }

    &__items {
        margin-top: 54px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 16px;

        @media (max-width:$tablet-max) {
            margin-top: 30px;
            grid-template-columns: 1fr;
        }
    }

    &__item {
        background-color: #FBFBFB;
        border: 1px solid #E7EAF2;
        border-radius: 40px;
        padding: 40px;
        overflow: hidden;

        background-repeat: no-repeat;
        background-size: contain;
        background-position: center right;

        display: flex;
        align-items: center;

        @media (max-width:$tablet-max) {
            border-radius: 22px;
            padding: 20px;
            min-height: 200px;
            align-items: start;
        }
    }

    &__item-title {
        max-width: 260px;
        flex: 1 0 260px;

        span {
            color: var(--blue);
        }

        @media (max-width:$tablet-max) {
            max-width: 200px;
            flex: 1 0 200px;
        }
    }

    &__item-card {
        background: #DBE2FF;
        border-radius: 36px;
        padding: 30px;
        flex: 0 0 340px;
        margin-left: 20px;

        @media (max-width:$tablet-max) {
            margin-left: auto;
            position: relative;
            left: 0px;
            padding: 20px;
            border-radius: 18px;

        }
    }

    &__btn {
        margin-top: 85px;
        align-self: center;

        @media (max-width:$tablet-max) {
            margin-top: 50px;
        }
    }

    @media (max-width:$tablet-max) {
        margin-top: 70px;
    }
}
