.crm-automation {
    margin-top: 50px;

    &__images {
        margin-top: 64px;
        position: relative;

        img {
            margin: 0 auto;
            width: percent(967, 1296);
            height: 100%;
            filter: drop-shadow(0px 1.53186px 1.53186px rgba(96, 109, 159, 0.05)) drop-shadow(0px 15.3186px 49.0194px rgba(55, 86, 187, 0.07));
            border-radius: 38px;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
            width: percent(1182, 1296);
            height: percent(454, 609);
            background-color: var(--purple);
            border-radius: 58px;
            z-index: -1;
        }

        @media (max-width:$smallTablet-max) {
            margin-top: 35px;

            img {
                border-radius: 16px;
            }

            &::before {
                bottom: 25px;
                border-radius: 25px;
            }
        }

        @media (max-width:$mobile-max) {
            &::before {
                width: 100%;
            }

            img {
                width: 85%;
            }
        }
    }
}
