.banner-api-skud-two {
    @include adaptiveValue("margin-top", 171, 54, 1296, 576, 1);
    .container{
        @media (max-width:$desktop){
             padding: 0; 
        }
    }
    &__container {

        @media (min-width:$desktop-min){
            border-radius: 70px;
            background: linear-gradient(358deg, #6C4FCA -7.42%, #C4B2FF 120.26%);
    
            display: flex;
            position: relative;
            min-height: 387px;   
        }
        @media (max-width:$desktop){
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    }

    &__title {
        max-width: 625px;
        padding: 93px 86px 102px;
        color: var(--white);
        span{
            color: #C8B7FF;
        }
        @media (max-width:$desktop){
            padding: 0 15px;
            max-width: none;
            color: var(--black);
            max-width: 500px;
            text-align: center;
            span{
                color: var(--black);
            }
        }
        @media (max-width:$smallTablet-max){
            max-width: 331px;
        }
    }

    &__image {
        position: absolute;
        bottom: -7px;
        right: 14.26%;
        picture{
            &:nth-child(1){
                @media (max-width:$desktop){
                     display: none; 
                }
            }
            &:nth-child(2){
                position: absolute;
                top: 31%;
                left: 5.5%;
              height: 143px;
              width: 328px;

                transition: left $transitionSpeed $transitionFunction;
                img{
                    width: 100%;
                    height: 100%;
                }
                &._animation-active{
                     left: -14%;
                }
                @media (max-width:$desktop){
                     display: none; 
                }
            }
            &:nth-child(3){
                display: none;
                max-width: 335px;
                height: calc(100% + 24px);
                transform: translateY(-56px);
                img{
                    height: 100%;
                }
                @media (max-width:$desktop){
                     display: block; 
                }
                @media (max-width:$smallTablet-max){
                     max-width: 250px; 
                }
            }
        }
        @media (min-width:$desktop-min){
            &:hover{
                picture{
                    &:nth-child(2){
                     left: calc(-14% - 30px);
                    }
                 } 
            }
        }
        @media (max-width:$desktop){
            margin-top: 96px;
             right: 6%; 
             border-radius: 42px 42px 0 0;
background: linear-gradient(358deg, #6C4FCA -7.42%, #C4B2FF 120.26%);
position: relative;
right: auto;
bottom: -10px;
max-width: 100%;
width: 100%;

display: flex;
justify-content: center;
max-height: 415px;
        }
    }
}
