.control-skud-two {
    @include adaptiveValue("margin-top", 120, 48, 1296, 576, 1);

    &__title {
        max-width: 658px;
        text-align: center;
        margin: 0 auto;

        span {
            color: var(--blue);
        }
        @media (max-width:$smallTablet-max){
             max-width: 327px; 
        }
    }

    &__container {
        margin-top: calc(56px + 68px);
        display: grid;
        grid-template-columns: 526px 636px;
        grid-column-gap: 80px;
        grid-row-gap: 60px;

        @media (max-width:$desktop) {
            grid-template-columns: 1fr;
            grid-row-gap: 32px;
            margin-top: 83px;
        }
    }

    &__left {
        background: linear-gradient(359deg, #348D5E -11.12%,
                #60C28E 91.28%), linear-gradient(196deg, #6BA6FF -44.28%, #1541DF 107.8%), #4073EF;
        @include adaptiveValue("border-radius", 70, 42, 1296, 576, 1);
        display: flex;
        justify-content: center;
        align-items: end;
        height: 100%;
        max-height: 508px;
        position: relative;

        picture {
            transition: max-height $transitionSpeed $transitionFunction;
            width: percent(390, 508);
            max-height: 584px;
            transform: translateY(1px);

            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0, 100px 0, 100px calc(100% - 1px), 0 calc(100% - 1px));
            @media (max-width:$mobile-max){
                 max-height: 367px; 
                 width: 72%;
            }
        }

        img {
            position: relative;
            z-index: 2;
            width: 100%;
        }

        @media (min-width:$desktop-min) {
            &:hover {
                picture {
                    max-height: 600px;
                }
            }
        }

        @media (max-width:$desktop) {
            max-width: 450px;
            margin: 0 auto;
        }
        @media (max-width:$mobile-max){
            max-width: 342px;
             max-height: 330px; 
        }
        @media (max-width:350px){
              max-height: 310px;
        }
    }


    &__right {
        transform: translateY(-40px);

        @media (max-width:$desktop) {
            transform: translateY(0);
        }
    }


    &__tabs {
        margin-top: 32px;
        width: 100%;
    }

    &__spollers {
        margin-top: 42px;

        .spollers {
            &__item {
                background: #FBFBFB;
                border: 1px solid #E7EAF2;
                border-radius: 40px;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                @media (max-width:$desktop) {
                    border-radius: 24px;
                }
            }

            &__title {
                color: var(--dark);
                padding: 20px 32px 16px 45px;
                justify-content: start;

                span {
                    margin-right: 24px;
                    @media (max-width:$desktop){
                         margin-right: 16px; 
                    }
                }

                @media (max-width:$desktop) {
                    padding: 12px 16px;
                }
            }

            &__body {
                color: var(--black);
                font-weight: 400;
                padding: 0 87px 49px 119px;

                @media (max-width:$desktop) {
                    padding: 0 10px 26px 72px;
                }
            }

            &__icon {
                margin-right: 24px;

                @media (max-width:$smallTablet-max) {
                    margin-right: 16px;
                }
            }

            &__control {
                margin-left: auto;
            }
        }

        @media (max-width:$desktop) {
         margin-top: 0;
        }
    }
}
