.hero-skud-two {

    &__container {
        margin-top: 18px;
        background: linear-gradient(6.56deg, #FFFFFF -6.06%, #F3F5F8 135.59%);
        border-radius: 70px;
        text-align: center;
        position: relative;

        @media (max-width:$desktop) {
            margin-top: 0;
            background: linear-gradient(242deg, #DFE8FF 3.13%, rgba(255, 255, 255, 0.00) 60.9%);
            border-bottom-left-radius: 36px;
            border-bottom-right-radius: 36px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding: 32px 16px;
        }

        @media (max-width:$smallTablet-max) {
            border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;
        }
    }

    &__content {
        padding: 80px 0 65px;
        max-width: 1002px;
        margin: 0 auto;

        @media (max-width:$desktop) {
         padding: 0;
            max-width: 500px;
        }
        @media (max-width:$smallTablet-max){
             max-width: 342px; 
        }
    }

    &__title {
        margin: 0 auto;
        max-width: 779px;
        text-align: center;

        span {
            color: var(--blue);
        }
        br{
            display: none;
            @media (max-width:$desktop){
                 display: block; 
            }
        }
        @media (max-width:$desktop){
             max-width: none; 
        }
    }

    &__text {
        margin: 28px auto 0;
        max-width: 559px;
        text-align: center;

        color: var(--black);
        font: var(--text-1);

        @media (max-width:$desktop) {
            margin-top: 16px;
        }
        @media (max-width:$smallTablet-max){
            max-width: 336px;
        }
    }

    &__cards {
        margin-top: 56px;
        display: flex;

        @media (max-width:$desktop) {
            margin-top: 34px;
            justify-content: center;
        }
    }

    &__card {
        @media (min-width:$desktop-min) {
            min-width: 246px;
            text-align: left;
            --active-prc: 15.85%;
            transition: transform $transitionSpeed ease-out;
        }

        &:nth-child(1) {

            @media (min-width:$desktop-min) {
                .card-info-four__descr {
                    max-width: 115px;
                }

                &:hover {
                    transform: translateX(calc(-1 * var(--active-prc)));
                }
            }
        }

        &:nth-child(2) {
            @media (min-width:$desktop-min) {
                transform: translateX(-22%);

                .card-info-four__descr {
                    max-width: 178px;
                }

                &:hover {
                    transform: translateX(calc(-22% - var(--active-prc)));
                }
            }
        }

        &:nth-child(3) {
            @media (min-width:$desktop-min) {
                transform: translateX(-42%);

                .card-info-four__descr {
                    max-width: 115px;
                }

                &:hover {
                    transform: translateX(calc(-42% - var(--active-prc)));
                }
            }
            @media (max-width:$smallTablet-max){
                 order: 4; 
            }
        }

        &:nth-child(4) {
            @media (min-width:$desktop-min) {
                transform: translateX(-62%);

                &:hover {
                    transform: translateX(calc(-62% - var(--active-prc)));
                }
            }
        }

        &:nth-child(5) {
            @media (min-width:$desktop-min) {
                transform: translateX(-85%);

                &:hover {
                    transform: translateX(calc(-85% + var(--active-prc)));
                }
            }
            @media (max-width:$smallTablet-max){
                 display: none; 
            }
        }
        @media (max-width:$desktop){
             &:not(:first-child){
                margin-left: 24px;
             } 
        }
        @media (max-width:$smallTablet-max){
            &:not(:first-child){
                margin-left: 8px;
             } 
        }
    }

    &__btn {
        margin-top: 56px;
        width: 276px;

        @media (max-width:$desktop) {
            margin-top: 42px;
            width: 250px;
        }
    }
}
