.hero-skud-two {

    &__container {
        margin-top: 18px;
        background: linear-gradient(6.56deg, #FFFFFF -6.06%, #F3F5F8 135.59%);
        @include adaptiveValue("border-radius", 70, 24, 1296, 576, 1);
        text-align: center;
        position: relative;
    }

    &__content {
        padding: 78px 0 45px;
        max-width: 1002px;
        margin: 0 auto;

        @media (max-width:$tablet-max) {
            padding: 32px 0;
        }
    }

    &__title {
        margin: 0 auto;
        max-width: 779px;
        text-align: center;

        span {
            color: var(--blue);
        }

        @media (max-width:$tablet-max) {
            margin-top: 16px;
        }
    }

    &__text {
        margin: 28px auto 0;
        max-width: 559px;
        text-align: center;

        color: var(--black);
        font: var(--text-1);

        @media (max-width:$tablet-max) {
            margin-top: 16px;
        }
    }

    &__cards {
        margin-top: 56px;
        display: flex;

        @media (max-width:$tablet-max) {
            margin-left: 32px;
        }

        @media (max-width:$mobile-max) {
            margin-left: 0;
        }
    }

    &__card {
        min-width: 246px;
        text-align: left;
        --active-prc: 15.85%;
        transition: transform $transitionSpeed ease-out;

        &:nth-child(1) {
            .card-info-four__descr{
                max-width: 115px;
            }
            @media (min-width:$tablet-min) {
                &:hover {
                    transform: translateX(calc(-1 * var(--active-prc)));
                }
            }
        }

        &:nth-child(2) {
            transform: translateX(-22%);

            @media (min-width:$tablet-min) {
                &:hover {
                    transform: translateX(calc(-22% - var(--active-prc)));
                }
            }

            @media (max-width:$tablet-max) {
                transform: translateX(-50%);
            }

            @media (max-width:$smallTablet-max) {
                transform: translateX(-46%);
            }

            @media (max-width:$smallMobile-max) {
                transform: translateX(-54%);
            }
        }

        &:nth-child(3) {
            transform: translateX(-42%);
            .card-info-four__descr{
                max-width: 115px;
            }
            @media (min-width:$tablet-min) {
                &:hover {
                    transform: translateX(calc(-42% - var(--active-prc)));
                }
            }

            @media (max-width:$tablet-max) {
                transform: translateX(-100%);
            }

            @media (max-width:$smallTablet-max) {
                transform: translateX(-92%);
            }

            @media (max-width:$smallMobile-max) {
                transform: translateX(-108%);
            }
        }

        &:nth-child(4) {
            transform: translateX(-62%);

            @media (min-width:$tablet-min) {
                &:hover {
                    transform: translateX(calc(-62% - var(--active-prc)));
                }
            }

            @media (max-width:$tablet-max) {
                transform: translateX(-149%);
            }

            @media (max-width:$smallTablet-max) {
                transform: translateX(-138%);
            }

            @media (max-width:$smallMobile-max) {
                transform: translateX(-162%);
            }
        }

        &:nth-child(5) {
            transform: translateX(-85%);

            @media (min-width:$tablet-min) {
                &:hover {
                    transform: translateX(calc(-85% + var(--active-prc)));
                }
            }

            @media (max-width:$tablet-max) {
                transform: translateX(-199%);
            }

            @media (max-width:$smallTablet-max) {
                transform: translateX(-184%);
            }

            @media (max-width:$smallMobile-max) {
                transform: translateX(-216%);
            }
        }

        @media (max-width:$smallTablet-max) {
            min-width: 150px;
        }
    }

    &__btn {
        margin-top: 56px;

        @media (max-width:$tablet-max) {
            margin-top: 32px;
            width: 100%;
        }
    }
}
