<section class="about-func-ads-two">
    <div class="container">
        <div class="about-func-ads-two__top top-section-info">
            <h2 class="top-section-info__title title-2">
                О функционале
            </h2>
            <p class="top-section-info__descr">
                Мы&nbsp;реализуем АДС под ключ: <br> ведём жителя от&nbsp;звонка до&nbsp;отзыва
                <span>о&nbsp;работе исполнителя. Контролируем процессы, а&nbsp;вам присылаем отчёты.</span>
            </p>
        </div>
        <div class="about-func-ads-two__inner">
            <div class="about-func-ads-two__row">
                <div class="about-func-ads-two__item about-func-ads-two__item--small about-func-ads-two__item--1">
                    <picture>
                        <source srcset="./img/girl-operator.webp" type="image/webp">
                        <img loading="lazy" src="./img/girl-operator.jpg" class="about-func-ads-two__image" width="382" height="255" alt="Девушка оператор">
                    </picture>
                    <p class="about-func-ads-two__descr">
                        <span>Оповещения</span> о плановых работах и аварийных ситуациях
                    </p>
                </div>
                <div class="about-func-ads-two__item about-func-ads-two__item--big about-func-ads-two__item--2" style="background-image: url('./img/chain-avatars.png');">
                    <p class="about-func-ads-two__descr">
                        Приём аварийных заявок,
                        распределение работ между исполнителями <span>с учётом их загруженности</span>
                    </p>
                    <picture>
                        <source srcset="./img/audio.webp" type="image/webp">
                        <img loading="lazy" src="./img/audio.png" class="about-func-ads-two__audio" width="314" height="65" alt="Аудио">
                    </picture>
                </div>
            </div>
            <div class="about-func-ads-two__row">
                <div class="about-func-ads-two__item about-func-ads-two__item--big about-func-ads-two__item--3" 
                data-animation-item data-animation-item-start="0.95" data-animation-item-repeat>
                    <p class="about-func-ads-two__descr">
                        <span>
                            Контроль качества,
                        </span>
                        сбор обратной связи
                        от жителей
                    </p>
                    <div class="about-func-ads-two__image">
                        <picture>
                            <source srcset="./img/decor-2.webp" type="image/webp">
                            <img loading="lazy" src="./img/decor-2.png" alt="decor">
                        </picture>
                    </div>
                </div>
                <div class="about-func-ads-two__item about-func-ads-two__item--small about-func-ads-two__item--4">
                    <p class="about-func-ads-two__descr">
                        <span>Запись и хранение</span> разговоров, экспорт отчётов и детализация звонков
                    </p>
                    <picture>
                        <source srcset="./img/decor.webp" type="image/webp">
                        <img loading="lazy" src="./img/decor.png" class="about-func-ads-two__image" alt="decor">
                    </picture>
                    <picture>
                        <source srcset="./img/decor-5.webp" type="image/webp">
                        <img loading="lazy" src="./img/decor-5.png" class="about-func-ads-two__image" alt="decor">
                    </picture>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-reset btn-primary about-func-ads-two__btn">
            Узнать подробнее
        </button>
    </div>
</section>
