<section class="about-require-ads-two">
    <div class="container">
        <div class="about-require-ads-two__top top-section-info">
            <h2 class="top-section-info__title title-2">
                О требованиях
            </h2>
            <p class="top-section-info__descr">
                Мы&nbsp;контролируем&nbsp;то, как отвечает на&nbsp;звонок диспетчер и&nbsp;как решается проблема:
                от&nbsp;операторов требуем скорости, вежливого общения и&nbsp;проявления эмпатии
            </p>
        </div>
        <div class="about-require-ads-two__wrapper">
            <p class="about-require-ads-two__descr">
                Уровень лояльности жителей <br>
                напрямую зависит от качества работы диспетчера.
                <span>Вовлечённость в проблему при обращении — наша обязанность.</span>
            </p>
            <div class="row">
                <div class="card-info-secondary">
                    <span class="card-info-secondary__number">
                        01
                    </span>
                    <p class="card-info-secondary__descr">
                        Заявка в работе, пока задача жителя не решена
                    </p>
                </div>
                <div class="card-info-secondary">
                    <span class="card-info-secondary__number">
                        02
                    </span>
                    <p class="card-info-secondary__descr">
                        Не&nbsp;используем ботов: <br>
                        каждый звонок принимает квалифицированный оператор
                    </p>
                </div>
                <div class="card-info-secondary">
                    <span class="card-info-secondary__number">
                        03
                    </span>
                    <p class="card-info-secondary__descr">
                        Держим клиента на линии не дольше 30 секунд, если нужно — перезваниваем
                    </p>
                </div>
            </div>
        </div>
        <div class="about-require-ads-two__wrapper">
            <div class="about-require-ads-two__audio custom-audio">
                <p class="about-require-ads-two__descr">
                    Послушайте реальный
                    звонок:
                </p>
                <div class="col">
                    <div class="custom-audio__wrapper">
                        <audio>
                            <source src="./audio.mp3" type="audio/mp3">
                        </audio>
                    </div>
                    <ul class="custom-audio__tracks list-reset">
                        <li class="custom-audio__track _active">
                            <svg>
                                <use xlink:href="img/sprite.svg#music"></use>
                            </svg>
                            <span>
                                Житель оставляет заявку диспетчеру
                            </span>
                        </li>
                        <li class="custom-audio__track">
                            <svg>
                                <use xlink:href="img/sprite.svg#music"></use>
                            </svg>
                            <span>
                                Диспетчер передаёт заявку исполнителю
                            </span>
                        </li>
                        <li class="custom-audio__track">
                            <svg>
                                <use xlink:href="img/sprite.svg#music"></use>
                            </svg>
                            <span>
                                Диспетчер подтверждает выполнение заявки
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
