<section class="benefit-ads-two">
    <div class="container">
        <div class="benefit-ads-two__top top-section-info">
            <h2 class="top-section-info__title title-2">
                Выгодно использовать
            </h2>
        </div>
        <div data-tabs class="benefit-ads-two__tabs tabs">
            <nav data-tabs-titles class="tabs__navigation">
                <button type="button" class="btn btn-reset tabs__title _tab-active" data-replace-text="1326,Управляющей компании,УК">Управляющей компании</button>
                <button type="button" class="btn btn-reset tabs__title">Жителю</button>
                <button type="button" class="btn btn-reset tabs__title">Исполнителю</button>
            </nav>
            <div data-tabs-body class="tabs__content">
                <div class="tabs__body">
                    <div class="benefit-ads-two__wrapper">
                        <div class="benefit-ads-two__image ibg">
                            <picture>
                                <source srcset="./img/photo-1.webp" type="image/webp">
                                <img loading="lazy" src="./img/photo-1.jpg" width="744" height="471" alt="Управляющей компании">
                            </picture>
                        </div>
                        <div class="benefit-ads-two__content">
                            <div class="benefit-ads-two__item">
                                <span class="benefit-ads-two__number">
                                    1
                                </span>
                                <h3 class="benefit-ads-two__title">
                                    Сокращение расходов на персонал
                                </h3>
                                <p class="benefit-ads-two__descr">
                                    Больше не&nbsp;нужно платить зарплату консьержу: примем, обработаем и&nbsp;закроем заявки жителей. Подрядчиков распределяем сами, ваше участие минимально
                                </p>
                            </div>
                            <div class="benefit-ads-two__item">
                                <span class="benefit-ads-two__number">
                                    2
                                </span>
                                <h3 class="benefit-ads-two__title">
                                    Рост собираемости платежей
                                </h3>
                                <p class="benefit-ads-two__descr">
                                    Обзваниваем неплательщиков, напоминаем о&nbsp;задолженностях. Всегда на&nbsp;связи с&nbsp;собственниками.
                                </p>
                            </div>
                            <div class="benefit-ads-two__item">
                                <span class="benefit-ads-two__number">
                                    3
                                </span>
                                <h3 class="benefit-ads-two__title">
                                    Новые технологии без смены оборудования
                                </h3>
                                <p class="benefit-ads-two__descr">
                                    Весь функционал доступен на&nbsp;базе вашего оборудования, 
                                    подключим за&nbsp;1&nbsp;день
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs__body" hidden>
                    <div class="benefit-ads-two__wrapper">
                        <div class="benefit-ads-two__image ibg">
                            <picture>
                                <source srcset="./img/photo-2.webp" type="image/webp">
                                <img loading="lazy" src="./img/photo-2.jpg" width="744" height="471" alt="Жителю">
                            </picture>
                        </div>
                        <div class="benefit-ads-two__content">
                            <div class="benefit-ads-two__item">
                                <span class="benefit-ads-two__number">
                                    1
                                </span>
                                <h3 class="benefit-ads-two__title">
                                    Оперативная помощь и поддержка
                                </h3>
                                <p class="benefit-ads-two__descr">
                                    Мы&nbsp;всегда на&nbsp;линии, а&nbsp;заявка моментально уходит в&nbsp;работу
                                </p>
                            </div>
                            <div class="benefit-ads-two__item">
                                <span class="benefit-ads-two__number">
                                    2
                                </span>
                                <h3 class="benefit-ads-two__title">
                                    Обратная связь без потери контакта
                                </h3>
                                <p class="benefit-ads-two__descr">
                                    Если необходимо&nbsp;&mdash; диспетчер перезвонит столько раз, сколько того потребует ситуация
                                </p>
                            </div>
                            <div class="benefit-ads-two__item">
                                <span class="benefit-ads-two__number">
                                    3
                                </span>
                                <h3 class="benefit-ads-two__title">
                                    Реальное решение проблем
                                </h3>
                                <p class="benefit-ads-two__descr">
                                    Не&nbsp;просто принимаем заявки, а&nbsp;реально хотим помочь :)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs__body" hidden>
                    <div class="benefit-ads-two__wrapper">
                        <div class="benefit-ads-two__image ibg">
                            <picture>
                                <source srcset="./img/photo-3.webp" type="image/webp">
                                <img loading="lazy" src="./img/photo-3.jpg" width="744" height="471" alt="Исполнителю">
                            </picture>
                        </div>
                        <div class="benefit-ads-two__content">
                            <div class="benefit-ads-two__item">
                                <span class="benefit-ads-two__number">
                                    1
                                </span>
                                <h3 class="benefit-ads-two__title">
                                    Учёт загруженности
                                </h3>
                                <p class="benefit-ads-two__descr">
                                    Диспетчера распределяют заявки между специалистами
                                    с&nbsp;учётом их&nbsp;загруженности
                                </p>
                            </div>
                            <div class="benefit-ads-two__item">
                                <span class="benefit-ads-two__number">
                                    2
                                </span>
                                <h3 class="benefit-ads-two__title">
                                    Моментальные оповещения о новых заявках
                                </h3>
                                <p class="benefit-ads-two__descr">
                                    Исполнитель получает заявку через приложение, а уточнить детали может у диспетчера
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
