<section class="connect-ads-two">
    <div class="container connect-ads-two__container">
        <img loading="lazy" src="./img/lightning-6.png" class="connect-ads-two__decor-lightning connect-ads-two__decor-lightning--1" width="36" height="41" aria-hidden="true" alt="">
        <img loading="lazy" src="./img/lightning-1.png" class="connect-ads-two__decor-lightning connect-ads-two__decor-lightning--2" width="97" height="111" aria-hidden="true" alt="">
        <img loading="lazy" src="./img/lightning-2.png" class="connect-ads-two__decor-lightning connect-ads-two__decor-lightning--3" width="49" height="56" aria-hidden="true" alt="">
        <img loading="lazy" src="./img/lightning-3.png" class="connect-ads-two__decor-lightning connect-ads-two__decor-lightning--4" width="37" height="42" aria-hidden="true" alt="">
        <img loading="lazy" src="./img/lightning-4.png" class="connect-ads-two__decor-lightning connect-ads-two__decor-lightning--5" width="193" height="220" aria-hidden="true" alt="">
        <img loading="lazy" src="./img/lightning-5.png" class="connect-ads-two__decor-lightning connect-ads-two__decor-lightning--6" width="59" height="67" aria-hidden="true" alt="">
        <div class="connect-ads-two__top hero-primary">
            <h1 class="connect-ads-two__title hero-primary__title _no-rellax">
                подключить АДС
            </h1>
            <div class="connect-ads-two__text hero-primary__text _text-rellax" data-rellax-speed="1" data-rellax-tablet-speed="0" data-rellax-xs-speed="0"
                data-rellax-mobile-speed="0" data-rellax-percentage="0">
                <p>
                    Попробуйте  круглосуточную аварийно-диспетчерскую службу.
                </p>
                <p>
                    Оставьте заявку, чтобы узнать подробности.
                </p>
            </div>
        </div>
        <form action="#" class="connect-ads-two__form form-primary">
            <label class="form-primary__label label-primary">
                <input type="text" name="Имя" class="input-reset input-primary label-primary__input" placeholder="Имя">
            </label>
            <label class="form-primary__label label-primary">
                <input type="email" name="email" class="input-reset input-primary label-primary__input" placeholder="E-mail (необязательно)">
            </label>
            <label class="form-primary__label label-primary">
                <input type="tel" name="phone" class="input-reset input-primary label-primary__input" placeholder="Телефон">
            </label>
            <div class="form-primary__agree checkbox">
                <input id="c_1" class="checkbox__input" type="checkbox" value="1">
                <label for="c_1" class="checkbox__label">
                    <span class="checkbox__text">
                        Соглашаюсь на <a href="#">обработку персональных данных</a>
                    </span>
                </label>
            </div>
            <button type="submit" class="connect-ads-two__btn btn btn-reset btn-primary form-primary__btn">
                Оставить заявку
            </button>
        </form>
    </div>
</section>
