<section class="faq-ads-two">
    <div class="container">
        <h2 class="visually-hidden">
            Часто задаваемые вопросы
        </h2>
        <div class="faq-ads-two__wrapper">
            <div data-spollers data-one-spoller class="faq-ads-two__spollers spollers">
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        Сколько стоит?
                        <div class="spollers__control" aria-hidden="true">
                            <div class="spollers__control-wrapper"></div>
                        </div>
                    </button>
                    <div class="spollers__body">
                        <p>
                            Стоимость зависит от&nbsp;нескольких факторов. 
                            Для вашего удобства мы&nbsp; сформировали пакеты услуг: <a href="#">оставьте заявку,</a> чтобы получить прайс
                             и&nbsp;выбрать вариант, наиболее подходящий вашей компании.
                        </p>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        Где вы берёте исполнителей?
                        <div class="spollers__control" aria-hidden="true">
                            <div class="spollers__control-wrapper"></div>
                        </div>
                    </button>
                    <div class="spollers__body">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, adipisci dignissimos
                            ea alias quia delectus? Error, quibusdam hic ipsam id est totam. Ullam, illum eaque.
                        </p>
                        <p>
                            Больше не нужно платить зарплату консьержу: примем, обработаем и закроем заявки жителей.
                            Подрядчиков распределяем сами, ваше участие минимально
                        </p>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        Мы особенная УК, сможете ли вы подстроиться?
                        <div class="spollers__control" aria-hidden="true">
                            <div class="spollers__control-wrapper"></div>
                        </div>
                    </button>
                    <div class="spollers__body">
                        <p>
                            Конечно. Расскажите нам о&nbsp;себе и&nbsp;своих потребностям&nbsp;&mdash; решение обязательно найдём.
                        </p>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        Сколько времени занимает подключение?
                        <div class="spollers__control" aria-hidden="true">
                            <div class="spollers__control-wrapper"></div>
                        </div>
                    </button>
                    <div class="spollers__body">
                        <p>
                            Подключим по&nbsp;стандарту за&nbsp;1&nbsp;день. Если есть нюансы&nbsp;&mdash; сроки могут незначительно увеличиться.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
