<section class="faq-ads-two">
    <div class="container">
        <h2 class="visually-hidden">
            Часто задаваемые вопросы
        </h2>
        <div class="faq-ads-two__wrapper">
            <div data-spollers data-one-spoller class="faq-ads-two__spollers spollers">
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        Что конкретно входит в стандартный пакет АДС?
                        <div class="spollers__control spollers__control--secondary" aria-hidden="true">
                            <div class="spollers__control-wrapper"></div>
                        </div>
                    </button>
                    <div class="spollers__body">
                        <div class="faq-ads-two__element">
                            <div>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#check"></use>
                                </svg>
                            </div>
                            <span>
                                Прием заявок от жителей через мобильное приложение и по телефону
                            </span>
                        </div>
                        <div class="faq-ads-two__element">
                            <div>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#check"></use>
                                </svg>
                            </div>
                            <span>
                                Оперативное реагирование на аварийные ситуации
                            </span>
                        </div>
                        <div class="faq-ads-two__element">
                            <div>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#check"></use>
                                </svg>
                            </div>
                            <span>
                                Регистрация заявок в системе «Продом»
                            </span>
                        </div>
                        <div class="faq-ads-two__element">
                            <div>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#check"></use>
                                </svg>
                            </div>
                            <span>
                                Распределение заявок по исполнителям с учетом их загруженности
                            </span>
                        </div>
                        <div class="faq-ads-two__element">
                            <div>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#check"></use>
                                </svg>
                            </div>
                            <span>
                                Чат с жителем: информирование о статусе заявки, ответы на вопросы,
                                обмен файлами
                            </span>
                        </div>
                        <div class="faq-ads-two__element">
                            <div>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#check"></use>
                                </svg>
                            </div>
                            <span>
                                Контроль выполнения заявки: связь с исполнителями, создание повторных
                                заявок, полное сопровождение до решения вопроса
                            </span>
                        </div>
                        <div class="faq-ads-two__element">
                            <div>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#check"></use>
                                </svg>
                            </div>
                            <span>
                                Обработка пропущенных звонков согласно ПП РФ 331
                            </span>
                        </div>
                        <div class="faq-ads-two__element">
                            <div>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#check"></use>
                                </svg>
                            </div>
                            <span>
                                Сбор оценок и обратной связи от жителей
                            </span>
                        </div>
                        <div class="faq-ads-two__element">
                            <div>
                                <svg>
                                    <use xlink:href="./img/sprite.svg#check"></use>
                                </svg>
                            </div>
                            <span>
                                Аналитика и контроль качества выполненных услуг
                            </span>
                        </div>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        Для чего нам это?
                        <div class="spollers__control spollers__control--secondary" aria-hidden="true">
                            <div class="spollers__control-wrapper"></div>
                        </div>
                    </button>
                    <div class="spollers__body">
                        <p>
                            Качественное ведение заявок от&nbsp;жителей&nbsp;&mdash; это лояльность по&nbsp;отношению к&nbsp;УК. Не&nbsp;всегда штатная диспетчерская способна обеспечить тот уровень работы,
                            которого требует современный житель: вопросы должны решаться быстро, а&nbsp;вовлечённость&nbsp;&mdash; быть максимальной. Важна система, в&nbsp;которой каждая заявка&nbsp;&mdash; это
                            кейс, по&nbsp;его результатам делаются выводы и&nbsp;процессы непрерывно улучшаются.
                        </p>
                        <p>
                            А&nbsp;ещё вы&nbsp;экономите на&nbsp;силах и&nbsp;времени своих сотрудников, которым не&nbsp;приходится ежедневно контактировать с&nbsp;собственниками, вступать в&nbsp;споры и&nbsp;разрешать
                            конфликты. Значительно сокращаются жалобы от&nbsp;жителей в&nbsp;различные инстанции, налаживается общий фон, в&nbsp;спокойной обстановке проходят ОСС.
                        </p>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        У нас уже есть электронный журнал заявок, мы хотим его сохранить
                        <div class="spollers__control spollers__control--secondary" aria-hidden="true">
                            <div class="spollers__control-wrapper"></div>
                        </div>
                    </button>
                    <div class="spollers__body">
                        <p>
                            Нет проблем&nbsp;&mdash; внедрим АДС в&nbsp;вашу систему. База продолжит работать, а&nbsp;история сохранится.
                        </p>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        Мы особенная УК, сможете ли вы подстроиться?
                        <div class="spollers__control spollers__control--secondary" aria-hidden="true">
                            <div class="spollers__control-wrapper"></div>
                        </div>
                    </button>
                    <div class="spollers__body">
                        <p>
                            Конечно. Расскажите нам о&nbsp;себе и&nbsp;своих потребностям&nbsp;&mdash; решение обязательно найдём.
                        </p>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        Сколько времени занимает подключение?
                        <div class="spollers__control spollers__control--secondary" aria-hidden="true">
                            <div class="spollers__control-wrapper"></div>
                        </div>
                    </button>
                    <div class="spollers__body">
                        <p>
                            Подключим по&nbsp;стандарту за&nbsp;1&nbsp;день. Если есть нюансы&nbsp;&mdash; сроки могут незначительно увеличиться.
                        </p>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        Будут ли данные о наших жителях в безопасности?
                        <div class="spollers__control spollers__control--secondary" aria-hidden="true">
                            <div class="spollers__control-wrapper"></div>
                        </div>
                    </button>
                    <div class="spollers__body">
                        <p>
                            Мы&nbsp;обращаемся с&nbsp;персональными данными жителей в&nbsp;полном соответствии с&nbsp;законодательством. Все персональные данные хранятся на&nbsp;защищенных серверах на
                            территории России.
                        </p>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        Сколько стоит?
                        <div class="spollers__control spollers__control--secondary" aria-hidden="true">
                            <div class="spollers__control-wrapper"></div>
                        </div>
                    </button>
                    <div class="spollers__body">
                        <p>
                            Стоимость зависит от&nbsp;нескольких факторов. Для вашего удобства мы&nbsp;сформировали пакеты услуг:
                            <a href="#">оставьте заявку,</a> чтобы получить прайс и&nbsp;выбрать вариант, наиболее подходящий вашей компании.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
