<section class="remote-center-ads-two">
    <div class="remote-center-ads-two__container">
        <h2 class="remote-center-ads-two__title title-2">
            Почему
            удалённый контактный
            центр —
            лучше?
        </h2>
        <div class="remote-center-ads-two__content">
            <div class="col">
                <h3 class="remote-center-ads-two__subtitle">
                    <span>
                        ☹️
                    </span>
                    Диспетчер
                    в штате
                </h3>
                <p>
                    Большие затраты на оплату труда ваших диспетчеров
                </p>
                <p>
                    Временные затраты на поиск персонала, текучка
                </p>
                <p>
                    Минимальная автоматизация или её отсутствие
                </p>
                <p>
                    Отсутствие аналитики
                    по сотрудникам
                </p>
            </div>
            <div class="col">
                <h3 class="remote-center-ads-two__subtitle">
                    <span>
                        👏
                    </span>
                    Удалённый
                    центр
                </h3>
                <p>
                    Более 30 удалённых диспетчеров за те же деньги
                </p>
                <p>
                    Мы сами подбираем и обучаем диспетчеров
                </p>
                <p>
                    Используем собственную CRM-систему
                </p>
                <p>
                    Предоставляем отчёты по заявкам, звонкам, эффективности сотрудников
                </p>
            </div>
        </div>
    </div>
</section>
