<section class="remote-center-ads-two">
    <div class="remote-center-ads-two__container">
        <h2 class="remote-center-ads-two__title title-2">
            <span>Почему</span>
            удалённый контактный
            центр —
            <span>лучше?</span>
        </h2>
        <div class="remote-center-ads-two__content">
            <div class="col">
                <h3 class="remote-center-ads-two__subtitle" data-da=".remote-center-ads-two__nav,1326,1">
                    <img loading="lazy" src="./img/emoji-1.png" width="43" height="42" alt="">
                    <span>
                        Диспетчер
                        <span>в штате</span>
                    </span>
                </h3>
                <div class="remote-center-ads-two__tab-content" data-da=".remote-center-ads-two__inner,1326,1">
                    <img loading="lazy" src="./img/emoji-1.png" width="43" height="42" alt="">
                    <p>
                        Большие затраты на&nbsp;оплату труда ваших диспетчеров
                    </p>
                    <p>
                        Временные затраты на&nbsp;поиск персонала, текучка
                    </p>
                    <p>
                        Минимальная автоматизация или её&nbsp;отсутствие
                    </p>
                    <p>
                        Отсутствие аналитики
                        по&nbsp;сотрудникам
                    </p>
                </div>
            </div>
            <div class="col" aria-hidden="true"></div>
            <div class="col">
                <h3 class="remote-center-ads-two__subtitle" data-da=".remote-center-ads-two__nav,1326,1">
                    <img loading="lazy" src="./img/emoji-2.png" width="43" height="42" alt="">
                    <span>
                        Удалённый
                        <span>центр</span>
                    </span>
                </h3>
                <div class="remote-center-ads-two__tab-content" data-da=".remote-center-ads-two__inner,1326,1">
                    <img loading="lazy" src="./img/emoji-2.png" width="43" height="42" alt="">
                    <p>
                        Более 30&nbsp;удалённых диспетчеров за&nbsp;те&nbsp;же деньги
                    </p>
                    <p>
                        Мы&nbsp;сами подбираем и&nbsp;обучаем диспетчеров
                    </p>
                    <p>
                        Используем собственную <span>CRM-систему</span>
                    </p>
                    <p>
                        Предоставляем отчёты по&nbsp;заявкам, звонкам, эффективности сотрудников
                    </p>
                </div>
            </div>
        </div>
        <div class="remote-center-ads-two__tabs">
            <div class="remote-center-ads-two__nav">

            </div>
            <div class="remote-center-ads-two__inner">

            </div>
        </div>
    </div>
</section>
