<section class="app-dweller-digitale-umgebung">
    <div class="container">
        <h2 class="app-dweller-digitale-umgebung__title title-2">
            Приложение <span>для жителей</span>
            с широким функционалом
        </h2>
        <div class="app-dweller-digitale-umgebung__container app-dweller">
            <div class="app-dweller__pagination">
                <button type="button" class="btn btn-reset app-dweller__dot _active">
                    Платежи
                </button>
                <button type="button" class="btn btn-reset app-dweller__dot">
                    Счётчики
                </button>
                <button type="button" class="btn btn-reset app-dweller__dot">
                    Пропуска
                </button>
                <button type="button" class="btn btn-reset app-dweller__dot">
                    Заявки
                </button>
                <button type="button" class="btn btn-reset app-dweller__dot">
                    Новости
                </button>
                <button type="button" class="btn btn-reset app-dweller__dot">
                    Ещё
                </button>
            </div>
            <div class="app-dweller__images">
                <div class="app-dweller__image _active">
                    <picture>
                        <source srcset="./img/app-dweller-1.webp" type="image/webp">
                        <img loading="lazy" src="./img/app-dweller-1.png" width="377" height="563" alt="Платежи">
                    </picture>
                </div>
                <div class="app-dweller__image _hidden">
                    <picture>
                        <source srcset="./img/app-dweller-2.webp" type="image/webp">
                        <img loading="lazy" src="./img/app-dweller-2.png" width="377" height="563" alt="Платежи">
                    </picture>
                </div>
                <div class="app-dweller__image _hidden">
                    <picture>
                        <source srcset="./img/app-dweller-3.webp" type="image/webp">
                        <img loading="lazy" src="./img/app-dweller-3.png" width="377" height="563" alt="Платежи">
                    </picture>
                </div>
                <div class="app-dweller__image _hidden">
                    <picture>
                        <source srcset="./img/app-dweller-4.webp" type="image/webp">
                        <img loading="lazy" src="./img/app-dweller-4.png" width="377" height="563" alt="Платежи">
                    </picture>
                </div>
                <div class="app-dweller__image _hidden">
                    <picture>
                        <source srcset="./img/app-dweller-5.webp" type="image/webp">
                        <img loading="lazy" src="./img/app-dweller-5.png" width="377" height="563" alt="Платежи">
                    </picture>
                </div>
                <div class="app-dweller__image _hidden">
                    <picture>
                        <source srcset="./img/app-dweller-6.webp" type="image/webp">
                        <img loading="lazy" src="./img/app-dweller-6.png" width="377" height="563" alt="Платежи">
                    </picture>
                </div>
            </div>
            <div class="app-dweller__right">
                <div class="app-dweller__text">
                    <div class="_active">
                        <p>
                            Моментальные уведомления
                            о начислениях, оплата квитанций и архив платежей
                        </p>
                    </div>
                    <div class="_hidden">
                        <p>
                            Удобная передача показаний счётчиков, графики потребления, сообщения о поверках
                        </p>
                    </div>
                    <div class="_hidden">
                        <p>
                            Создание пропусков, гостевые ссылки
                            для самостоятельного прохода гостя
                            на территорию
                        </p>
                    </div>
                    <div class="_hidden">
                        <p>
                            Заявки с указанием категории, чат с УК, история изменений
                            и оценка проведённых работ
                        </p>
                    </div>
                    <div class="_hidden">
                        <p>
                            Свежие новости
                            от управляющей организации,
                            важные объявления
                            и интересные события
                        </p>
                    </div>
                    <div class="_hidden">
                        <p>
                            Важные телефоны,
                            маркет с услугами, онлайн-голосования
                            и опросы
                        </p>
                    </div>
                </div>
                <div class="app-dweller__btns">
                    <a href="#" class="app-dweller__badge">
                        <img loading="lazy" src="img/app-store-badge.svg" alt="App Store">
                    </a>
                    <button type="button" class="btn btn-reset app-dweller__btn" data-popup-path="show-qr">
                        Показать QR-код
                    </button>
                    <a href="#" class="app-dweller__badge">
                        <img loading="lazy" src="img/google-play-badge.svg" alt="Google Play">
                    </a>
                    <a href="#" class="btn btn-reset app-dweller__btn">
                        Скачать.apk
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
