<section class="app-performers-digitale-umgebung">
    <div class="container">
        <div class="app-performers-digitale-umgebung__container">
            <div class="app-performers-digitale-umgebung__item">
                <div class="app-performers-digitale-umgebung__info">
                    <h2 class="app-performers-digitale-umgebung__title title-2">
                        Приложение
                        <span>для исполнителей</span>
                    </h2>
                    <p class="app-performers-digitale-umgebung__descr">
                        Исполнитель видит только те заявки, которые предназначены ему
                    </p>
                    <ul class="app-performers-digitale-umgebung__elements list-reset">
                        <li>
                            <div>
                                <svg>
                                    <use xlink:href="img/sprite.svg#check"></use>
                                </svg>
                            </div>
                            <span>
                                Моментальное оповещение о новых заказах
                            </span>
                        </li>
                        <li>
                            <div>
                                <svg>
                                    <use xlink:href="img/sprite.svg#check"></use>
                                </svg>
                            </div>
                            <span>
                                Учёт загруженности специалиста
                            </span>
                        </li>
                        <li>
                            <div>
                                <svg>
                                    <use xlink:href="img/sprite.svg#check"></use>
                                </svg>
                            </div>
                            <span>
                                Возможность уточнить детали заявки
                            </span>
                        </li>
                        <li>
                            <div>
                                <svg>
                                    <use xlink:href="img/sprite.svg#check"></use>
                                </svg>
                            </div>
                            <span>
                                Фотоотчет выполненной работы
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="app-performers-digitale-umgebung__image">
                    <picture>
                        <source srcset="./img/phone-info-7.webp" type="image/webp">
                        <img loading="lazy" src="./img/phone-info-7.png" width="378" height="565" alt="">
                    </picture>
                    <picture>
                        <source srcset="./img/mini-card-1.webp" type="image/webp">
                        <img loading="lazy" src="./img/mini-card-1.webp" width="321" height="142" alt="">
                    </picture>
                    <picture>
                        <source srcset="./img/phone-info-7-2.png" type="image/webp">
                        <img loading="lazy" src="./img/phone-info-7-2.png" width="433" height="586" alt="">
                    </picture>
                </div>
            </div>
            <div class="app-performers-digitale-umgebung__item" data-animation-item data-animation-item-start="1.35" data-animation-item-repeat>
                <h3 class="app-performers-digitale-umgebung__title">
                    У каждой заявки есть <span>статус</span>, с его помощью легко фильтровать
                    задачи
                </h3>
                <div class="app-performers-digitale-umgebung__badges">
                    <img loading="lazy" src="./img/app-performers-badge-1.png" width="118" height="43"
                        class="app-performers-digitale-umgebung__badge app-performers-digitale-umgebung__badge--1" alt="">
                    <img loading="lazy" src="./img/app-performers-badge-2.png" width="164" height="43"
                        class="app-performers-digitale-umgebung__badge app-performers-digitale-umgebung__badge--2" alt="">
                    <img loading="lazy" src="./img/app-performers-badge-3.png" width="144" height="43"
                        class="app-performers-digitale-umgebung__badge app-performers-digitale-umgebung__badge--3" alt="">
                    <img loading="lazy" src="./img/app-performers-badge-4.png" width="180" height="43"
                        class="app-performers-digitale-umgebung__badge app-performers-digitale-umgebung__badge--4" alt="">
                    <img loading="lazy" src="./img/app-performers-badge-5.png" width="178" height="43"
                        class="app-performers-digitale-umgebung__badge app-performers-digitale-umgebung__badge--5" alt="">
                    <img loading="lazy" src="./img/app-performers-badge-6.png" width="168" height="43"
                        class="app-performers-digitale-umgebung__badge app-performers-digitale-umgebung__badge--6" alt="">
                    <img loading="lazy" src="./img/app-performers-badge-7.png" width="156" height="43"
                        class="app-performers-digitale-umgebung__badge app-performers-digitale-umgebung__badge--7" alt="">
                </div>
            </div>
            <div class="app-performers-digitale-umgebung__item" data-animation-item data-animation-item-start="1.35" data-animation-item-repeat>
                <h3 class="app-performers-digitale-umgebung__title">
                    Можно общаться <span>с&nbsp;жителями в&nbsp;чате,</span> а&nbsp;к&nbsp;выполненной заявке прикреплять фотоотчёт
                </h3>
                <div class="app-performers-digitale-umgebung__card">
                    <div class="card-user">
                        <div class="card-user__top">
                            <img loading="lazy" src="./img/avatar-1.jpg" class="card-user__avatar" width="30" height="30" alt="Мастер Олег">
                            <span class="card-user__name">
                                Мастер Олег
                            </span>
                            <span class="card-user__time">
                                1 час назад
                            </span>
                        </div>
                        <p class="card-user__descr">
                            Добрый день, расскажите, где именно течёт? Буду через 15 минут
                        </p>
                        <img loading="lazy" src="./img/like.jpg" class="card-user__like" width="20" height="22" alt="Лайк">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
