<section class="app-dweller-digitale-umgebung">
    <div class="container">
        <h2 class="app-dweller-digitale-umgebung__title title-2" data-replace-text="1326,Приложение <span>для жителей</span>с широким функционалом,
            Приложение <span>для жителей</span>">
            Приложение <span>для жителей</span>
            с широким функционалом
        </h2>
        <div class="app-dweller-digitale-umgebung__descr">
            <p>
                Широкий функционал, удобство
использования, интуитивно понятный интерфейс
            </p>
        </div>
        <div class="app-dweller-digitale-umgebung__container app-dweller">
            <div class="app-dweller__pagination">
                <button type="button" class="btn btn-reset app-dweller__dot _active">
                    Платежи
                </button>
                <button type="button" class="btn btn-reset app-dweller__dot">
                    Счётчики
                </button>
                <button type="button" class="btn btn-reset app-dweller__dot">
                    Пропуска
                </button>
                <button type="button" class="btn btn-reset app-dweller__dot">
                    Заявки
                </button>
                <button type="button" class="btn btn-reset app-dweller__dot">
                    Новости
                </button>
                <button type="button" class="btn btn-reset app-dweller__dot">
                    Ещё
                </button>
            </div>
            <div class="app-dweller__images">
                <div class="app-dweller__image _active" data-da=".app-dweller__slider .swiper-wrapper .swiper-slide--1,1326">
                    <picture>
                        <source srcset="./img/app-dweller-1.webp" type="image/webp">
                        <img loading="lazy" src="./img/app-dweller-1.png" width="377" height="563" alt="Платежи">
                    </picture>
                </div>
                <div class="app-dweller__image _hidden" data-da=".app-dweller__slider .swiper-wrapper .swiper-slide--2,1326">
                    <picture>
                        <source srcset="./img/app-dweller-2.webp" type="image/webp">
                        <img loading="lazy" src="./img/app-dweller-2.png" width="377" height="563" alt="Платежи">
                    </picture>
                </div>
                <div class="app-dweller__image _hidden" data-da=".app-dweller__slider .swiper-wrapper .swiper-slide--3,1326">
                    <picture>
                        <source srcset="./img/app-dweller-3.webp" type="image/webp">
                        <img loading="lazy" src="./img/app-dweller-3.png" width="377" height="563" alt="Платежи">
                    </picture>
                </div>
                <div class="app-dweller__image _hidden" data-da=".app-dweller__slider .swiper-wrapper .swiper-slide--4,1326">
                    <picture>
                        <source srcset="./img/app-dweller-4.webp" type="image/webp">
                        <img loading="lazy" src="./img/app-dweller-4.png" width="377" height="563" alt="Платежи">
                    </picture>
                </div>
                <div class="app-dweller__image _hidden" data-da=".app-dweller__slider .swiper-wrapper .swiper-slide--5,1326">
                    <picture>
                        <source srcset="./img/app-dweller-5.webp" type="image/webp">
                        <img loading="lazy" src="./img/app-dweller-5.png" width="377" height="563" alt="Платежи">
                    </picture>
                </div>
                <div class="app-dweller__image _hidden" data-da=".app-dweller__slider .swiper-wrapper .swiper-slide--6,1326">
                    <picture>
                        <source srcset="./img/app-dweller-6.webp" type="image/webp">
                        <img loading="lazy" src="./img/app-dweller-6.png" width="377" height="605" alt="Платежи">
                    </picture>
                </div>
            </div>
            <div class="app-dweller__right">
                <div class="app-dweller__text">
                    <div class="app-dweller__descr _active" data-da=".app-dweller__slider .swiper-wrapper .swiper-slide--1,1326,1">
                        <p>
                            Моментальные уведомления
                            о начислениях, оплата квитанций и архив платежей
                        </p>
                    </div>
                    <div class="app-dweller__descr _hidden" data-da=".app-dweller__slider .swiper-wrapper .swiper-slide--2,1326,1">
                        <p>
                            Удобная передача показаний счётчиков, графики потребления, сообщения о&nbsp;поверках
                        </p>
                    </div>
                    <div class="app-dweller__descr _hidden" data-da=".app-dweller__slider .swiper-wrapper .swiper-slide--3,1326,1">
                        <p>
                            Создание пропусков, гостевые ссылки <br>
                            для самостоятельного прохода гостя
                            на&nbsp;территорию
                        </p>
                    </div>
                    <div class="app-dweller__descr _hidden" data-da=".app-dweller__slider .swiper-wrapper .swiper-slide--4,1326,1">
                        <p>
                            Заявки с&nbsp;указанием категории, чат с&nbsp;УК, история изменений
                            и&nbsp;оценка проведённых работ
                        </p>
                    </div>
                    <div class="app-dweller__descr _hidden" data-da=".app-dweller__slider .swiper-wrapper .swiper-slide--5,1326,1">
                        <p>
                            Свежие новости
                            от&nbsp;управляющей организации, <br>
                            важные объявления
                            и&nbsp;интересные события
                        </p>
                    </div>
                    <div class="app-dweller__descr _hidden" data-da=".app-dweller__slider .swiper-wrapper .swiper-slide--6,1326,1">
                        <p>
                            Важные телефоны,
                            маркет с&nbsp;услугами, онлайн-голосования
                            и&nbsp;опросы
                        </p>
                    </div>
                </div>
                <div class="app-dweller__btns">
                    <a href="#" class="app-dweller__badge" data-da=".app-dweller,1326,last">
                        <img loading="lazy" src="img/app-store-badge.svg" alt="App Store">
                    </a>
                    <button type="button" class="btn btn-reset app-dweller__btn" data-popup-path="show-qr">
                        Показать QR-код
                    </button>
                    <a href="#" class="app-dweller__badge" data-da=".app-dweller,1326,last">
                        <img loading="lazy" src="img/google-play-badge.svg" alt="Google Play">
                    </a>
                    <a href="#" class="btn btn-reset app-dweller__btn">
                        Скачать.apk
                    </a>
                </div>
            </div>

            <div class="swiper app-dweller__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide--1"></div>
                    <div class="swiper-slide swiper-slide--2"></div>
                    <div class="swiper-slide swiper-slide--3"></div>
                    <div class="swiper-slide swiper-slide--4"></div>
                    <div class="swiper-slide swiper-slide--5"></div>
                    <div class="swiper-slide swiper-slide--6"></div>
                </div>
            </div>
            <div class="app-dweller-slider-pagination pagination-slider"></div>
        </div>
    </div>
</section>
