<section class="crm-digitale-umgebung">
    <div class="container">
        <div class="crm-digitale-umgebung__container">
            <div class="crm-digitale-umgebung__item">
                <div class="crm-digitale-umgebung__image">
                    <picture>
                      <source srcset="./img/crm-img.webp" type="image/webp">
                      <img loading="lazy" src="./img/crm-img.png" width="625" height="394" alt="">
                    </picture>
                </div>
                <div class="crm-digitale-umgebung__info">
                    <h2 class="crm-digitale-umgebung__title title-2">
                        <span>CRM</span> и электронный
                        журнал
                    </h2>
                    <p class="crm-digitale-umgebung__descr">
                        Инструмент взаимодействия управляющих организаций с&nbsp;жителями. Помогает сократить количество визитов жителей в&nbsp;офис
                        и&nbsp;оптимизировать работу АДС.
                    </p>
                </div>
            </div>
            <div class="crm-digitale-umgebung__item">
                <h3 class="crm-digitale-umgebung__title">
                    Смотрите <span>историю заявок</span>,
                    проверяйте статус, слушайте записи
                </h3>
                <div class="crm-digitale-umgebung__images">
                    <picture>
                        <source srcset="./img/history-images.webp" type="image/webp">
                        <img loading="lazy" src="./img/history-images.jpg" width="262" height="178" alt="Картинка">
                    </picture>
                </div>
            </div>
            <div class="crm-digitale-umgebung__item">
                <div class="crm-digitale-umgebung__images">
                    <picture>
                        <source srcset="./img/avatars-decor-2.webp" type="image/webp">
                        <img loading="lazy" src="./img/avatars-decor-2.jpg" width="202" height="88" alt="Картинка">
                    </picture>
                </div>
                <h3 class="crm-digitale-umgebung__title">
                    Назначайте <span>конкретных исполнителей</span> <br> для конкретных задач
                </h3>
            </div>
            <div class="crm-digitale-umgebung__item">
                <h3 class="crm-digitale-umgebung__title">
                    Получайте <span>моментальные оповещения</span> обо всех изменениях в системе
                </h3>
                <div class="crm-digitale-umgebung__elements">
                    <div class="item-primary item-primary--orange">
                        <div class="item-primary__icon">
                            <svg>
                                <use xlink:href="img/sprite.svg#alarm"></use>
                            </svg>
                        </div>
                        <h3 class="item-primary__title">
                            Новая заявка от жителя
                        </h3>
                        <p class="item-primary__descr">
                            Течь в санузле, нужен сантехник
                        </p>
                    </div>
                    <div class="item-primary item-primary--green">
                        <div class="item-primary__icon">
                            <svg>
                                <use xlink:href="img/sprite.svg#tick"></use>
                            </svg>
                        </div>
                        <h3 class="item-primary__title">
                            Заявка №348321 выполнена
                        </h3>
                        <p class="item-primary__descr">
                            Ангарская 16, кв 72
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
