<section class="hero-digitale-umgebung">
        <div class="hero-digitale-umgebung__container container">
            <div class="hero-digitale-umgebung__content">
                <span class="hero-digitale-umgebung__subtitle">
                    Пакетное предложение
                </span>
                <h1 class="hero-digitale-umgebung__title title-1">
                    <span>«Цифровая среда»</span> для жителей
                    и&nbsp;управляющих организаций
                </h1>
                <div class="hero-digitale-umgebung__text">
                    Мы&nbsp;предлагаем автоматизировать приём и&nbsp;обработку заявок. 
                    Электронный журнал и&nbsp;приложение для сотрудников, а&nbsp;также приложение для жителей&nbsp;&mdash; ваш выбор для этих
                    задач.
                </div>
                <button type="button" class="btn btn-reset btn-primary hero-digitale-umgebung__btn">Оставить заявку</button>
            </div>
        </div>
</section>
