<section class="hero-digitale-umgebung">
        <div class="hero-digitale-umgebung__container container">
            <div class="hero-digitale-umgebung__content">
                <h1 class="hero-digitale-umgebung__title title-1">
                    <span>«Цифровая среда»</span> для жителей
                    и&nbsp;управляющих организаций
                </h1>
                <div class="hero-digitale-umgebung__text">
                    Автоматизируйте приём и&nbsp;обработку заявок. 
                    <span>
                        Электронный журнал, приложение
                        для исполнителей, приложение для жителей
                    </span>
                    &nbsp;&mdash; эффективное решение для рабочих задач.
                </div>
                <button type="button" class="btn btn-reset btn-primary hero-digitale-umgebung__btn">Оставить заявку</button>
            </div>
        </div>
</section>
