<section class="tags-digitale-umgebung">
    <div class="tags-digitale-umgebung__container">
        <svg xmlns="http://www.w3.org/2000/svg" class="tags-digitale-umgebung__decor" width="933" height="672" viewBox="0 0 1440 748" fill="none">
            <g filter="url(#filter0_f_1617_19603)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M787.746 257.467C553.674 225.264 279.132 353.174 254.571 536.109C230.011 719.044 464.733 887.729 698.805 919.932C838.226 939.113 906.471 868.938 1016.1 805.58C1125.72 742.223 1173.58 655.771 1183.51 581.798C1208.07 398.863 1021.82 289.67 787.746 257.467Z"
                    fill="#487EEF" />
            </g>
            <defs>
                <filter id="filter0_f_1617_19603" x="-28.1378" y="-28.4387" width="1494.77" height="1232.53" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="140.468" result="effect1_foregroundBlur_1617_19603" />
                </filter>
            </defs>
        </svg>
        <div class="tags-digitale-umgebung__info">
            <h2 class="tags-digitale-umgebung__title title-2">
                Подключим, настроим
                <span>и&nbsp;научим работать в&nbsp;системе</span>
                за&nbsp;1&nbsp;день
            </h2>
            <button class="btn btn-reset btn-primary tags-digitale-umgebung__btn">
                Связаться с нами
            </button>
        </div>
        <div class="tags-digitale-umgebung__wrapper">
            <div class="tags-digitale-umgebung__row marquee3k ticker-slider" data-speed="1">
                <div>
                    <div class="tags-home__tag tag tag--very-big">
                        Заказ пропуска для посетителей по номеру ТС
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Диспетчеризация
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Умный дом
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Идентификация номера автомобиля
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Электронный журнал
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        АДС 24
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Мобильные приложения
                    </div>
                </div>
            </div>
            <div class="tags-digitale-umgebung__row marquee3k ticker-slider" data-speed="0.7">
                <div>
                    <div class="tags-home__tag tag tag--very-big">
                        Облачный СКУД
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Контроль и управление доступом
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Видеонаблюдение
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Распознавание номеров
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        CRM-система
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Оплата счетов ЖКУ
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Собрания собственников
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Новости и опросы
                    </div>
                </div>
            </div>
            <div class="tags-digitale-umgebung__row marquee3k ticker-slider" data-speed="1">
                <div>
                    <div class="tags-home__tag tag tag--very-big">
                        Охрана
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Парковка
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Работа с заявками
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Анализ данных
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Системы оповещений
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Учёт ресурсов
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Вода
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Свет
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Газ
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Электричество
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Услуги
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Услуги
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
