<section class="about-require-ads">
    <div class="container">
        <div class="about-require-ads__top top-section-info">
            <div class="top-section-info__top">
                <span class="top-section-info__subtitle subtitle-number">
                    №2
                </span>
                <h2 class="top-section-info__title title-2">
                    О требованиях
                </h2>
            </div>
            <p class="top-section-info__descr">
                Мы контролируем то, как отвечает на звонок диспетчер и как решается проблема:
                от операторов требуем скорости, вежливого общения и проявления эмпатии.
            </p>
        </div>
        <div class="about-require-ads__wrapper">
            <div class="about-require-ads__col about-require-ads__col--1">
                <p class="about-require-ads__descr">
                    Уровень лояльности жителей
                    напрямую зависит от качества работы диспетчера.
                    <span>Вовлечённость в проблему при обращении</span> — наша обязанность.
                </p>
                <div class="about-require-ads__audio custom-audio">
                    <p>Послушайте реальный звонок:</p>
                    <div class="custom-audio__wrapper">
                        <audio>
                            <source src="./audio.mp3" type="audio/mp3">
                        </audio>
                    </div>
                </div>
            </div>
            <div class="about-require-ads__col about-require-ads__col--2">
                <div class="card-info-secondary">
                    <span class="card-info-secondary__number">
                        01
                    </span>
                    <p class="card-info-secondary__descr">
                        Заявка в работе, пока задача жителя не решена
                    </p>
                </div>
                <div class="card-info-secondary">
                    <span class="card-info-secondary__number">
                        02
                    </span>
                    <p class="card-info-secondary__descr">
                        Не используем ботов: 
                        каждый звонок принимает квалифицированный оператор
                    </p>
                </div>
                <div class="card-info-secondary">
                    <span class="card-info-secondary__number">
                        03
                    </span>
                    <p class="card-info-secondary__descr">
                        Держим клиента на линии не дольше 30 секунд, если нужно — перезваниваем
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
