<section class="about-func-ads">
    <div class="container">
        <div class="about-func-ads__top top-section-info">
            <div class="top-section-info__top">
                <span class="top-section-info__subtitle subtitle-number">
                    №1
                </span>
                <h2 class="top-section-info__title title-2">
                    О функционале
                </h2>
            </div>
            <p class="top-section-info__descr">
                Мы реализуем АДС под ключ: ведём жителя от звонка до отзыва
                о работе исполнителя. Контролируем процессы, а вам присылаем отчёты.
            </p>
        </div>
        <div class="about-func-ads__inner">
            <div class="about-func-ads__row">
                <div class="about-func-ads__item about-func-ads__item--small about-func-ads__item--1">
                    <picture>
                        <source srcset="./img/girl-operator.webp" type="image/webp">
                        <img loading="lazy" src="./img/girl-operator.jpg" class="about-func-ads__image" width="382"
                            height="255" alt="Девушка оператор">
                    </picture>
                    <p class="about-func-ads__descr">
                        <span>Оповещения</span> о плановых работах и аварийных ситуациях
                    </p>
                </div>
                <div class="about-func-ads__item about-func-ads__item--big about-func-ads__item--2"
                    style="background-image: url('./img/chain-avatars.png');">
                    <p class="about-func-ads__descr">
                        Приём аварийных заявок,
                        распределение работ между исполнителями <span>с учётом их загруженности</span>
                    </p>
                    <picture>
                        <source srcset="./img/audio.webp" type="image/webp">
                        <img loading="lazy" src="./img/audio.png" class="about-func-ads__audio" width="314" height="65"
                            alt="Аудио">
                    </picture>
                </div>
            </div>
            <div class="about-func-ads__row">
                <div class="about-func-ads__item about-func-ads__item--big about-func-ads__item--3">
                    <p class="about-func-ads__descr">
                        <span>
                            Контроль качества,
                        </span>
                        сбор обратной связи
                        от жителей
                    </p>
                    <div class="about-func-ads__image">
                        <picture>
                            <source srcset="./img/decor-2.webp" type="image/webp">
                            <img loading="lazy" src="./img/decor-2.png" alt="decor">
                        </picture>
                    </div>
                </div>
                <div class="about-func-ads__item about-func-ads__item--small about-func-ads__item--4">
                    <p class="about-func-ads__descr">
                        <span>Запись и хранение</span> разговоров, экспорт отчётов и детализация звонков
                    </p>
                    <picture>
                        <source srcset="./img/decor.webp" type="image/webp">
                        <img loading="lazy" src="./img/decor.png" class="about-func-ads__image" alt="decor">
                    </picture>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-reset btn-primary about-func-ads__btn">Неплохо, хочу ещё подробнее</button>
    </div>
</section>
