<section class="benefit-ads">
    <div class="container">
        <div class="benefit-ads__top top-section-info">
            <div class="top-section-info__top">
                <span class="top-section-info__subtitle subtitle-number">
                    №3
                </span>
                <h2 class="top-section-info__title title-2">
                    Выгодно использовать
                </h2>
            </div>
        </div>
        <div data-tabs class="benefit-ads__tabs tabs">
            <nav data-tabs-titles class="tabs__navigation">
                <button type="button" class="btn btn-reset tabs__title _tab-active">Управляющей компании</button>
                <button type="button" class="btn btn-reset tabs__title">Жителю</button>
                <button type="button" class="btn btn-reset tabs__title">Исполнителю</button>
            </nav>
            <div data-tabs-body class="tabs__content">
                <div class="tabs__body">

                    <div class="benefit-ads__wrapper">
                        <div class="benefit-ads__image ibg">
                            <picture>
                                <source srcset="./img/tabs-img.webp" type="image/webp">
                                <img loading="lazy" src="./img/tabs-img.jpg" width="628" height="429" alt="Совещание">
                            </picture>
                        </div>
                        <div class="benefit-ads__content">
                            <div class="benefit-ads__item">
                                <span class="benefit-ads__number">
                                    1
                                </span>
                                <h3 class="benefit-ads__title">
                                    Сокращение расходов на персонал
                                </h3>
                                <p class="benefit-ads__descr">
                                    Больше не нужно платить зарплату консьержу: примем, обработаем и закроем заявки
                                    жителей. Подрядчиков распределяем сами, ваше участие минимально
                                </p>
                            </div>
                            <div class="benefit-ads__item">
                                <span class="benefit-ads__number">
                                    2
                                </span>
                                <h3 class="benefit-ads__title">
                                    Рост собираемости платежей
                                </h3>
                                <p class="benefit-ads__descr">
                                    Больше не нужно платить зарплату консьержу: примем, обработаем и закроем заявки
                                    жителей. Подрядчиков распределяем сами, ваше участие минимально
                                </p>
                            </div>
                            <div class="benefit-ads__item">
                                <span class="benefit-ads__number">
                                    3
                                </span>
                                <h3 class="benefit-ads__title">
                                    Новые технологии без смены оборудования
                                </h3>
                                <p class="benefit-ads__descr">
                                    Больше не нужно платить зарплату консьержу: примем, обработаем и закроем заявки
                                    жителей. Подрядчиков распределяем сами, ваше участие минимально
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="tabs__body">

                    <div class="benefit-ads__wrapper">
                        <div class="benefit-ads__image ibg">
                            <picture>
                                <source srcset="./img/gallery-1.webp" type="image/webp">
                                <img loading="lazy" src="./img/gallery-1.jpg" width="628" height="429" alt="Совещание">
                            </picture>
                        </div>
                        <div class="benefit-ads__content">
                            <div class="benefit-ads__item">
                                <span class="benefit-ads__number">
                                    1
                                </span>
                                <h3 class="benefit-ads__title">
                                    Сокращение расходов на персонал
                                </h3>
                                <p class="benefit-ads__descr">
                                    Больше не нужно платить зарплату консьержу: примем, обработаем и закроем заявки
                                    жителей. Подрядчиков распределяем сами, ваше участие минимально
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="tabs__body">

                    <div class="benefit-ads__wrapper">
                        <div class="benefit-ads__image ibg">
                            <picture>
                                <source srcset="./img/gallery-6.webp" type="image/webp">
                                <img loading="lazy" src="./img/gallery-6.jpg" width="628" height="429" alt="Совещание">
                            </picture>
                        </div>
                        <div class="benefit-ads__content">
                            <div class="benefit-ads__item">
                                <span class="benefit-ads__number">
                                    1
                                </span>
                                <h3 class="benefit-ads__title">
                                    Сокращение расходов на персонал
                                </h3>
                                <p class="benefit-ads__descr">
                                    Больше не нужно платить зарплату консьержу: примем, обработаем и закроем заявки
                                    жителей. Подрядчиков распределяем сами, ваше участие минимально
                                </p>
                            </div>
                            <div class="benefit-ads__item">
                                <span class="benefit-ads__number">
                                    2
                                </span>
                                <h3 class="benefit-ads__title">
                                    Рост собираемости платежей
                                </h3>
                                <p class="benefit-ads__descr">
                                    Больше не нужно платить зарплату консьержу: примем, обработаем и закроем заявки
                                    жителей. Подрядчиков распределяем сами, ваше участие минимально
                                </p>
                            </div>
                            <div class="benefit-ads__item">
                                <span class="benefit-ads__number">
                                    3
                                </span>
                                <h3 class="benefit-ads__title">
                                    Новые технологии без смены оборудования
                                </h3>
                                <p class="benefit-ads__descr">
                                    Больше не нужно платить зарплату консьерж минимально
                                </p>
                            </div>
                            <div class="benefit-ads__item">
                                <span class="benefit-ads__number">
                                    4
                                </span>
                                <h3 class="benefit-ads__title">
                                    Рост собираемости платежей
                                </h3>
                                <p class="benefit-ads__descr">
                                    Больше не нужно платить за
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
