<section class="hero-ads">
    <div class="container hero-ads__container">
        <div class="hero-ads__inner hero-primary">
            <h1 class="hero-ads__title hero-primary__title" data-rellax-speed="-1.8">
                АДС 24/7
                <span class="popular-subtitle">
                    <svg>
                        <use xlink:href="img/sprite.svg#fire"></use>
                    </svg>
                    Популярно
                </span>
            </h1>
            <div class="hero-ads__text hero-primary__text">
                <p>
                    АДС 24/7 — круглосуточная аварийно-диспетчерская служба. <br>
                    Берем на себя всю <span>работу с заявками от жителей и контроль</span>
                    исполнителей. Это выгоднее своей диспетчерской.
                </p>
            </div>
            <button type="button" class="btn btn-reset btn-primary hero-ads__btn">
                Подключить
            </button>
        </div>
    </div>
</section>
