.hero-about-company-two {

    .hero-primary {
        margin-top: 30px;
        padding: 0;
        background: transparent;
        border-radius: 0;

        &__text {
            max-width: 1180px;
        }

        @media (max-width:$desktop) {
            padding-top: 32px;
            margin-top: 0;
        }
    }

    &__inner {
        @media (max-width:$desktop) {
            padding: 32px 16px;
        }
    }

    &__title {
        @media (max-width:$desktop) {
            font: var(--title-2);
            &::first-letter{
                text-transform: uppercase;
            }
        }
    }

    &__text {
        p {
            max-width: 775px;
        }
    }

    &__content {
        margin-top: 70px;
        width: 100%;
        background: linear-gradient(136deg, #6792FF 0%, #2B53E1 83.35%), #F3F7FF;
        @include adaptiveValue("border-radius", 70, 42, 1296, 576, 1);
        height: 720px;
        max-height: 720px;

        position: relative;
        overflow: hidden;
        padding: 86px 86px 83px 86px;

        display: flex;
        justify-content: space-between;

        .col {
            &:nth-child(1) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 481px;

                @media (max-width:$desktop) {
                    width: auto;
                }
            }

            &:nth-child(2) {

                flex-direction: column;
                display: flex;
                width: 381px;

                .card-info-third {
                    transition: transform $transitionSpeed ease-out;

                    &:nth-child(1) {
                        min-height: 360px;
                        height: 360px;

                        @media (min-width:$desktop-min) {
                            &:hover {
                                +.card-info-third {
                                    transform: translateY(-31.5%);

                                    +.card-info-third {
                                        transform: translateY(-123%);
                                    }
                                }
                            }
                        }

                        @media (max-width:$desktop) {
                            min-height: auto;
                            height: auto;
                            transform: translate(0);
                            margin-bottom: -160px;
                            padding-bottom: 100px;
                            transition: margin-bottom $transitionSpeed $transitionFunction;
                            &._active{
                                margin-bottom: -90px;
                            }
                        }
                        @media (max-width:$mobile-max){
                             margin-bottom: -184px; 
                        }
                    }
                    &:nth-child(2) {
                        min-height: 360px;
                        height: 360px;
                        transform: translateY(-61.5%);

                        .card-info-third__descr {
                            max-width: 255px;
                        }

                        @media (min-width:$desktop-min) {
                            &:hover {
                                +.card-info-third {
                                    transform: translateY(-125%);
                                }
                            }
                        }

                        @media (max-width:$desktop) {
                            min-height: auto;
                            height: auto;
                            transform: translate(0);
                            margin-bottom: -160px;
                            padding-bottom: 100px;
                            transition: margin-bottom $transitionSpeed $transitionFunction;
                            &._active{
                                margin-bottom: -90px;
                            }
                        }
                        @media (max-width:$mobile-max){
                            margin-bottom: -156px; 
                       }
                    }

                    &:nth-child(3) {
                        min-height: 270px;
                        height: 270px;
                        transform: translateY(-163%);

                        @media (max-width:$desktop) {
                            min-height: auto;
                            height: auto;
                            transform: translate(0);
                        }
                    }
                }

                @media (max-width:$desktop) {
                    margin-top: 50px;
                    max-height: 468px;
                    width: 100%;
                    max-width: 450px;
                    align-self: center;


                    max-height: none;
                }
                @media (max-width:$mobile-max){
                    max-width: 284px; 
                    min-width: 284px;
                }
            }
        }

        @media (max-width:$desktop) {
            height: auto;
            max-height: none;
            padding: 48px;
            flex-direction: column;
            margin-top: 50px;
        }

        @media (max-width:$smallTablet-max) {
            padding: 32px 24px;
        }
        @media (max-width:$smallMobile-max){
             padding: 32px 12px; 
        }
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 8px;
        column-gap: 5px;
    }

    &__tag {
        height: 62px;

        border-radius: 40px;
        border: 1.8px solid rgba(180, 199, 245, 0.00);
        background: rgba(255, 255, 255, 0.13);
        padding: 0 32px;
        font: var(--text-2-500);

        @media (max-width:$desktop) {
            height: 50px;
            border-radius: 30px;
            padding: 0 24px;
            font-size: 14px;
        }
    }

    &__info {
        span {
            display: block;
            color: var(--white);

            &:nth-child(1) {
                font: var(--title-1);
                line-height: math.div(99, 60);
            }

            &:nth-child(2) {
                max-width: 230px;
                font: var(--text-1);
                margin: 5px 0 0 7px;
            }
        }

        @media (max-width:$desktop) {
            margin-top: 47px;
            text-align: center;
            align-self: center;
        }
    }
}
