.partners-about-company-two {
    @include adaptiveValue("margin-top", 87, 32,1296,576,1);
    &__container {}

    &__top {
        margin: 0 auto;
        max-width: 626px;
        text-align: center;
        color: var(--dark);
        font: var(--text-1);

        p {
            &:not(:last-child) {
                margin-bottom: 32px;

                @media (max-width:$tablet-max) {
                    margin-bottom: 24px;
                }
            }
        }
    }
    &__wrapper{


        @include adaptiveValue("border-radius", 70, 24, 1296, 576, 1);
        border: 1px solid #E7EAF2;

        background: #FFF;

        padding: 84px 0 72px;
        margin: 68px 0 0;
        @media (max-width:$tablet-max){
            margin-top: 32px;
            padding: 32px 0;
        }
        @media (max-width:$smallTablet-max){
             padding: 0;
             border: none; 
        }
    }
    &__slider {
        padding: 0 32px;
        .swiper-slide {
            text-align: center;
            user-select: none;
            --width: 260px;
            overflow: hidden;
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;

            picture {
                flex-grow: 1;
            }

            img {
                border-radius: 36px;
                height: 100%;
                width: var(--width);
            
                @media (max-width:$tablet-max) {
                    border-radius: 24px;
                }
            }

            span {
                margin-top: 18px;
                display: inline-block;
                color: var(--dark);
                font: var(--text-2-500);
                font-weight: 500;
                max-width: var(--width);

                @media (max-width:$tablet-max) {
                    margin-top: 12px;
                }
            }

            &.focus-visible {
                outline: none;

                span {
                    color: var(--blue);
                }
            }
            @media (max-width:$smallTablet-max){
                 --width: 155px;
            }
        }
        @media (max-width:$tablet-max){
            padding: 0 24px;
        }
        @media (max-width:$smallTablet-max){
             padding: 0 16px;
             margin: 0 -16px; 
        }
    }

    &__nav {
        margin: 72px auto 0;
        max-width: 1680px;
        padding: 0 16px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width:$tablet-max) {
            margin-top: 32px;
        }

        @media (max-width:$smallTablet-max) {
            display: none;
        }
    }

    &__prev {}

    &__next {
        margin-left: 8px;
    }
}
