.dis-scroll {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.popup-primary {
    --transition-time: 0.3s;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1051;
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition-time),
        visibility var(--transition-time);
    text-align: center;

    background: rgba(67, 67, 67, 0.78);
    backdrop-filter: blur(11px);

    &__container {
        position: relative;
        min-height: var(--vh, 100vh);
        display: inline-block;
        vertical-align: middle;
        background-color: #fff;
        cursor: default;
        text-align: left;
        display: none;

        &.popup-open {
            display: inline-block !important;
        }
    }

    &__close {
        position: absolute;
        top: 40px;
        right: 40px;
        border: none;
        padding: 0;
        width: 36px;
        height: 36px;
        background-color: #c7c9cd;
        cursor: pointer;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        transition: background-color $transitionSpeed $transitionFunction;

        svg {
            width: 16px;
            height: 16px;
            fill: none;
            stroke: var(--white);
            stroke-width: 3.5px;
            transition: stroke $transitionSpeed $transitionFunction;

            @media (max-width: $desktop) {
                width: 12px;
                height: 12px;
            }
        }

        @media (min-width: $tablet-min) {
            &:hover {
                background-color: #a5a5a5;
            }
        }

        @media (max-width: $desktop) {
            top: 24px;
            right: 24px;
            width: 30px;
            height: 30px;
        }
    }

    &.is-open {
        opacity: 1;
        visibility: visible;
        transition: opacity var(--transition-time),
            visibility var(--transition-time);
    }

    &--show-qr,
    &--download-app {
        display: flex;
        align-items: center;
        justify-content: center;

        .popup-primary {
            &__container {
                min-height: auto;
                max-width: 910px;
                border-radius: 70px;
                padding: 100px 100px 82px 56px;

                @media (max-width: $desktop) {
                    border-radius: 24px 24px 0 0;
                    padding: 65px 24px 32px;
                    max-width: none;
                    width: 100%;
                    height: auto;
                }
            }
        }

        @media (max-width: $desktop) {
            align-items: end;
        }
    }

    &--order-call {
        display: flex;
        align-items: center;
        justify-content: center;

        .popup-primary {
            &__container {
                min-height: auto;
                width: 1076px;
                border-radius: 70px;
                padding: 68px 102px 102px 84px;

                @media (max-width: $desktop) {
                    border-radius: 24px 24px 0 0;
                    padding: 75px 20px 32px;
                    max-width: none;
                    width: 100%;
                    height: auto;
                }
            }
        }

        @media (max-width: $desktop) {
            align-items: end;
        }
    }
    &--order-accepted {
        display: flex;
        align-items: center;
        justify-content: center;

        .popup-primary {
            &__container {
                min-height: auto;
                width: 856px;
                border-radius: 70px;
                padding: 97px 60px;

                @media (max-width: $desktop) {
                    border-radius: 24px 24px 0 0;
                    padding: 65px 24px 32px;
                    max-width: none;
                    width: 100%;
                    height: auto;
                }
            }
        }

        @media (max-width: $desktop) {
            align-items: end;
        }
    }
}

.show-qr {
    display: flex;
    align-items: center;

    &__title {
        font: var(--subtitle-2);
        line-height: 120%;
        font-weight: 500;
        max-width: 297px;

        span {
            color: var(--blue);
            display: block;

            @media (max-width: $desktop) {
                display: inline-block;
            }
        }

        @media (max-width: $desktop) {
            text-align: center;
            max-width: none;
            margin-bottom: 24px;
        }
    }

    &__qrs {
        display: flex;
        margin-left: 18px;

        @media (max-width: $desktop) {
            margin-left: 0;
        }
    }

    &__qr {
        &:not(:last-child) {
            margin-right: 18px;

            @media (max-width: $smallTablet-max) {
                margin-right: 8px;
            }
        }

        span {
            display: block;
            margin-top: 15px;
            color: var(--black);
            font: var(--subtitle-2);
            font-weight: 500;
            line-height: 130%;
            text-align: center;
        }

        @media (max-width: $desktop) {
            max-width: 200px;
        }
    }

    @media (max-width: $desktop) {
        flex-direction: column;
    }
}

.download-app {
    display: flex;

    &__title {
        font-size: 22px;
        line-height: 120%;
        font-weight: 500;
        max-width: 297px;

        span {
            color: var(--blue);
        }

        @media (max-width: $desktop) {
            text-align: center;
            max-width: none;
            margin-bottom: 24px;
        }
    }
    &__badges {
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    &__badge {
        height: 45px;
        width: 151px;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    &__qrs {
        display: flex;
        margin-left: 36px;

        @media (max-width: $desktop) {
            margin-left: 0;
        }
    }

    &__qr {
        &:not(:last-child) {
            margin-right: 18px;

            @media (max-width: $smallTablet-max) {
                margin-right: 8px;
            }
        }

        span {
            display: block;
            margin-top: 15px;
            color: var(--black);
            font: var(--subtitle-2);
            font-weight: 500;
            line-height: 130%;
            text-align: center;
        }

        @media (max-width: $desktop) {
            max-width: 200px;
        }
    }

    @media (max-width: $desktop) {
        flex-direction: column;
    }
}

.order-call {
    display: flex;
    gap: 64px;
    @media (max-width: $desktop) {
        flex-direction: column;
        gap: 32px;
    }
    &__title {
        line-height: math.div(44, 48);
        font-weight: 500;
        max-width: 234px;

        span {
            color: var(--blue);
            display: block;

            @media (max-width: $desktop) {
                display: inline-block;
            }
        }

        @media (max-width: $desktop) {
            text-align: center;
            max-width: none;
            margin-bottom: 24px;
        }
    }

    &__form {
    }

    &__descr {
        margin-top: 24px;
        font: var(--text-1);
        max-width: 358px;
    }

    &__wrapper {
        flex-grow: 1;
    }

    .form-primary {
        &__agree {
            .checkbox__text {
                a {
                    color: var(--blue);
                    text-decoration: none;
                }
            }
        }

        &__btn {
            margin-top: 43px;
        }
    }
    &__row {
        @media (min-width: $smallTablet-min) {
            display: grid;
            grid-template-columns: percent(250, 493) 1fr;
            grid-gap: 10px;
        }
    }
}

.order-accepted {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__icon {
    }

    &__title {
        margin-top: 28px;
        font: var(--subtitle-2);
    }

    &__descr {
        margin-top: 12px;
        font: var(--text-1);
        max-width: 331px;
    }

    &__btn {
        margin-top: 48px;
        min-width: 256px;

        font: var(--text-1);
        font-weight: 500;
    }
}

.fade {
    opacity: 0;
}

.fade,
.fade.animate-open {
    transition: opacity var(--transition-time);
}

.fade.animate-open {
    opacity: 1;
}

.fadeInUp {
    opacity: 0;
    transform: translateY(-100px);
}

.fadeInUp,
.fadeInUp.animate-open {
    transition: transform var(--transition-time), opacity var(--transition-time);
}

.fadeInUp.animate-open {
    opacity: 1;
    transform: translateY(0);
}
