.spollers {
    &__item {
        &:not(:last-child) {
            border-bottom: 1px solid #3F4043;
        }
    }

    &__title {
        font-size: 20px;
        line-height: math.div(28, 20);
        font-weight: 500;
        width: 100%;
        cursor: default;
        text-align: left;
        position: relative;
        color: var(--white);

        display: flex;
        align-items: center;
        justify-content: space-between;

        white-space: normal;
        padding: 20px 0;

        ._spoller-init & {
            cursor: pointer;

            &._spoller-active {
                .spollers__control {
                    &-wrapper {
                        transform: rotate(0deg);

                        &::before {
                            content: '';
                            display: block;
                            width: 0px;
                            height: 0px;
                            border-bottom: solid 2px #e2e2e2;
                            position: absolute;
                            bottom: calc(12px /2 - 2px/2);
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }

        @media (max-width:$tablet-max) {
            padding: 16px 0;
            font-size: 16px;
        }

        @media (max-width:$mobile-max) {
            font-size: 14px;
        }
    }

    &__icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--white);

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        @media (max-width:$tablet-max){
            font-size: 14px;
            width: 40px;
            height: 40px;
        }
        @media (max-width:$smallTablet-max){
             font-size: 12px;
             width: 32px;
             height: 32px; 
        }
    }

    &__control {
        flex: 0 0 28px;
        width: 28px;
        height: 28px;
        background-color: #3F3F42;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        &-wrapper {
            transition: transform $transitionSpeed $transitionFunction;
            width: 12px;
            height: 12px;
            transform: rotate(180deg);
            position: relative;

            &::before {
                content: '';
                display: block;
                width: 12px;
                height: 0px;
                border-bottom: solid 2px #e2e2e2;
                position: absolute;
                bottom: calc(12px / 2 - 2px/2);
                transform: rotate(90deg);
                transition: width 0.3s;
            }

            &::after {
                content: '';
                display: block;
                width: 12px;
                height: 0px;
                border-bottom: solid 2px #e2e2e2;
                position: absolute;
                bottom: calc(12px / 2 - 2px/2);
            }
        }
    }

    &__body {
        padding-bottom: 20px;
        color: var(--white);
        font-size: 16px;
        line-height: math.div(22, 16);
        font-weight: 400;

        p {
            &:not(:last-child) {
                margin-bottom: 16px;

                @media (max-width:$tablet-max) {
                    margin-bottom: 12px;
                }
            }
        }

        @media (max-width:$tablet-max) {
            padding-bottom: 16px;
            font-size: 14px;
        }

        @media (max-width:$mobile-max) {
            font-size: 12px;
        }
    }
}
