.spollers {
    &__item {
        &:not(:last-child) {
            border-bottom: 1px solid #3F4043;
        }
    }

    &__title {
        font-size: 20px;
        line-height: math.div(28, 20);
        font-weight: 500;
        width: 100%;
        cursor: default;
        text-align: left;
        position: relative;
        color: var(--white);

        display: flex;
        align-items: center;
        justify-content: space-between;

        white-space: normal;
        padding: 20px 0;

        ._spoller-init & {
            cursor: pointer;

            &._spoller-active {
                svg {
                    fill: var(--white);
                }
            }
        }

        svg {
            margin-left: 20px;
            --size: 24px;
            width: var(--size);
            height: var(--size);
            flex: 0 0 var(--size);
            fill: #3F3F42;
            transition: fill $transitionSpeed $transitionFunction;

            @media (max-width:$tablet-max) {
                --size: 20px;
            }
        }

        @media (max-width:$tablet-max) {
            padding: 16px 0;
            font-size: 16px;
        }

        @media (max-width:$mobile-max) {
            font-size: 14px;
        }
    }

    &__body {
        padding-bottom: 20px;
        color: var(--white);
        font-size: 16px;
        line-height: math.div(22, 16);
        font-weight: 400;

        p {
            &:not(:last-child) {
                margin-bottom: 16px;

                @media (max-width:$tablet-max) {
                    margin-bottom: 12px;
                }
            }
        }

        @media (max-width:$tablet-max) {
            padding-bottom: 16px;
            font-size: 14px;
        }

        @media (max-width:$mobile-max) {
            font-size: 12px;
        }
    }
}
