.tabs {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__navigation {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #E7EAF2;
        border-radius: 48px;
        height: 74px;
        padding: 0 8px;

        @media (max-width:$desktop) {
         width: 100%;
         height: 58px;
         border-radius: 28px;
        }
        @media (max-width:$smallMobile-max){
             border-radius: 22px; 
        }
    }

    &__title {
        height: 58px;
        border-radius: 48px;
        padding: 0 58px;
        font: var(--subtitle-3);
        border: 1px solid transparent;
        color: #969BA9;
        white-space: nowrap;

        &._tab-active {
            background-color: var(--white);
            color: #231123;
        }

        @media (max-width:$desktop) {
            border-radius: 28px;
            height: 48px;
            flex-grow: 1;
            padding: 0 16px;
        }
        @media (max-width:$smallMobile-max){
             border-radius: 22px;
             padding: 0 12px; 
        }
    }

    &__content {
        align-self: start;
    }

    &__body {}
}
