.tooltip {
    position: relative;
    display: inline-block;

    &__btn {}

    &__content {
        position: absolute;
        left: 0;
        bottom: 100%;
        z-index: 3;
        width: max-content;
        max-width: 553px;

        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition:
            opacity $transitionSpeed $transitionFunction,
            transform $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction;

        >div {
         
        }
    }

    &._active {
        .tooltip__content {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}


.tooltip-html {
    position: fixed;
    padding: 38px 48px;
    border: 1px solid #DCE4FC;
    background: #fff;

    max-width: 553px;
    width: max-content;
    width: 100%;
    color: var(--black);
    font: var(--text-1);
    z-index: 5;

    @include adaptiveValue("border-radius", 40, 24, 1296, 576, 1);

    p{
        &:not(:last-child){
            margin-bottom: 24px;
            @media (max-width:$desktop){
                 margin-bottom: 16px; 
            }
        }
    }
    @media (max-width:$desktop) {
        max-width: calc(100vw - 35px);
        padding: 24px;
    }
}