<section class="app-performers-automation">
    <div class="app-performers-automation__container container">
        <div class="app-performers-automation__top top-section-info">
            <div class="top-section-info__top">
                <span class="top-section-info__subtitle subtitle-number">
                    №2
                </span>
                <h2 class="top-section-info__title title-2">
                    Приложение для исполнителей
                </h2>
            </div>
            <p class="top-section-info__descr">
                Позволяет мастерам моментально получать оповещения о новых заказах.
                Исполнитель видит только те заявки, которые предназначены ему.
            </p>
        </div>
        <div class="app-performers-automation__images">
            <div class="app-performers-automation__image">
                <picture>
                    <source srcset="./img/phone-info.webp" type="image/webp">
                    <img loading="lazy" src="./img/phone-info.png" alt="Телефон">
                </picture>
            </div>
            <div class="app-performers-automation__image">
                <picture>
                    <source srcset="./img/phone-info-2.webp" type="image/webp">
                    <img loading="lazy" src="./img/phone-info-2.png" alt="Телефон">
                </picture>
            </div>
        </div>
        <div class="app-performers-automation__items">
            <div class="app-performers-automation__item" style="background-image: url('./img/elements.png')" ;>
                <h3 class="app-performers-automation__item-title title-3">
                    У каждой заявки есть <span>статус</span>, с его помощью легко фильтровать
                    задачи
                </h3>
            </div>
            <div class="app-performers-automation__item">
                <h3 class="app-performers-automation__item-title title-3">
                    Можно общаться <span>с жителями в чате,</span> а к выполненной заявке прикреплять фотоотчёт
                </h3>
                <div class="app-performers-automation__item-card">
                    <div class="card-user">
                        <div class="card-user__top">
                            <img loading="lazy" src="./img/avatar-1.jpg" class="card-user__avatar" width="30"
                                height="30" alt="Мастер Олег">
                            <span class="card-user__name">
                                Мастер Олег
                            </span>
                            <span class="card-user__time">
                                1 час назад
                            </span>
                        </div>
                        <p class="card-user__descr">
                            Добрый день, расскажите, где именно течёт? Буду через 15 минут
                        </p>
                        <img loading="lazy" src="./img/like.jpg" class="card-user__like" width="20" height="22"
                            alt="Лайк">
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-reset btn-primary btn-primary--big-size app-performers-automation__btn">
            Подробнее
        </button>
    </div>
</section>
