<section class="app-residents-automation">
    <div class="app-residents-automation__container container">
        <div class="app-residents-automation__top top-section-info">
            <div class="top-section-info__top">
                <span class="top-section-info__subtitle subtitle-number">
                    №3
                </span>
                <h2 class="top-section-info__title title-2">
                    Приложение для жителей
                </h2>
            </div>
            <p class="top-section-info__descr">
                Для удобства жителей доступен широкий функционал: от оплаты квитанций и внесения показаний до оформления
                пропусков и участия в голосованиях
            </p>
        </div>
        <div class="app-residents-automation__images">
            <div class="app-residents-automation__image">
                <picture>
                    <source srcset="./img/phone-info-3.webp" type="image/webp">
                    <img loading="lazy" src="./img/phone-info-3.png" alt="Телефон">
                </picture>
            </div>
            <div class="app-residents-automation__image">
                <picture>
                    <source srcset="./img/phone-info-4.webp" type="image/webp">
                    <img loading="lazy" src="./img/phone-info-4.png" alt="Телефон">
                </picture>
            </div>
            <div class="app-residents-automation__image">
                <picture>
                    <source srcset="./img/phone-info-5.webp" type="image/webp">
                    <img loading="lazy" src="./img/phone-info-5.png" alt="Телефон">
                </picture>
            </div>
        </div>
        <ul class="app-residents-automation__list list-reset">
            <li class="app-residents-automation__item card-info">
                <div class="card-info__top">
                    <h3 class="card-info__title">
                        Оплата <br>
                        квитанций
                    </h3>
                    <img loading="lazy" src="./img/pen.svg" width="53" height="53" class="card-info__icon"
                        alt="Иконка ручки">
                </div>
                <p class="card-info__descr">
                    В приложении ведётся учет начислений, хранится история оплат и задолженности по лицевым счетам.
                    Можно посмотреть историю показаний счетчиков.
                </p>
                <a href="#" class="card-info__link">
                    Чуть подробнее
                    <svg>
                        <use xlink:href="img/sprite.svg#check-down"></use>
                    </svg>
                </a>
            </li>
            <li class="app-residents-automation__item card-info">
                <div class="card-info__top">
                    <h3 class="card-info__title">
                        Передача <br>
                        показаний
                    </h3>
                    <img loading="lazy" src="./img/pen.svg" width="53" height="53" class="card-info__icon"
                        alt="Иконка ручки">
                </div>
                <p class="card-info__descr">
                    Можно передавать информацию по каждому счётчику. Приложение напомнит о наступлении периода передачи
                    показаний и сообщит если указаны неверные данные
                </p>
                <a href="#" class="card-info__link">
                    А что ещё есть
                    <svg>
                        <use xlink:href="img/sprite.svg#check-down"></use>
                    </svg>
                </a>
            </li>
            <li class="app-residents-automation__item card-info">
                <div class="card-info__top">
                    <h3 class="card-info__title">
                        Заказ <br>
                        пропусков
                    </h3>
                    <img loading="lazy" src="./img/pen.svg" width="53" height="53" class="card-info__icon"
                        alt="Иконка ручки">
                </div>
                <p class="card-info__descr">
                    При наличии пропуска, гость может самостоятельно открыть дверь в подъезд или попасть на территорию
                    комплекса на своём автомобиле.
                </p>
                <a href="#" class="card-info__link">
                    Разграничение доступа
                    <svg>
                        <use xlink:href="img/sprite.svg#check-down"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <button type="button" class="btn btn-reset btn-primary btn-primary--big-size app-residents-automation__btn">
            Подробнее
        </button>
    </div>
</section>
