<section class="crm-automation">
    <div class="crm-automation__container container">
        <div class="crm-automation__top top-section-info">
            <div class="top-section-info__top">
                <span class="top-section-info__subtitle subtitle-number">
                    №1
                </span>
                <h2 class="top-section-info__title title-2">
                    CRM и электронный журнал
                </h2>
            </div>
            <p class="top-section-info__descr">
                Инструмент взаимодействия управляющих организаций с жителями. Помогает сократить количество визитов
                жителей в офис, а также оптимизировать работу АДС.
            </p>
        </div>
        <div class="crm-automation__images">
            <picture>
                <source srcset="./img/crm-images.webp" type="image/webp">
                <img loading="lazy" src="./img/crm-images.jpg" width="967" height="609" alt="CRM и электронный журнал">
            </picture>
        </div>
    </div>
</section>
