<section class="hero-automation">
    <div class="hero-automation__container container">
        <div class="hero-automation__content">
            <span class="hero-automation__subtitle">
                Пакетное предложение
            </span>
            <h1 class="hero-automation__title title-1">
                Комплексная <span>автоматизация</span>
                для управляющих организаций
            </h1>
            <div class="hero-automation__text">
                <p>
                    Мы предлагаем <span>автоматизировать приём и обработку заявок. </span>
                </p>
                <p>
                    Электронный журнал и приложение для сотрудников, а также приложение
                    для жителей — ваш выбор для этих задач.
                </p>
            </div>
            <button type="button" class="btn btn-reset btn-primary hero-automation__btn">Оставить заявку</button>
        </div>
        <div class="hero-automation__decor">
            <img loading="lazy" src="./img/avatars-decor.png" width="96" height="40" alt="100K+ пользователей">
            <span>100K+ пользователей</span>
        </div>
    </div>
</section>
