<section class="hero-contacts-two">
    <div class="container hero-contacts-two__container">
        <div class="hero-contacts-two__inner hero-primary">
            <h1 class="hero-contacts-two__title hero-primary__title" data-rellax-speed="-2.5" data-rellax-tablet-speed="0"
            data-rellax-xs-speed="0" data-rellax-mobile-speed="0">
                контакты
            </h1>
            <div class="hero-contacts-two__content hero-primary__text">
                <div class="col">
                    <h2 class="hero-contacts-two__content-title">
                        По любым вопросам
                    </h2>
                    <div class="hero-contacts-two__content-wrapper">
                        <a href="mailto:support@prodom.ai">support@prodom.ai</a>
                        <a href="tel:+7 (495) 135-56-51">+7 (495) 135-56-51</a>
                    </div>
                </div>
                <div class="col">
                    <h2 class="hero-contacts-two__content-title">
                        Адрес и часы работы
                    </h2>
                    <div class="hero-contacts-two__content-wrapper">
                        117342, Москва, ул. Бутлерова, д. 17б, офис 86 <br>
                        Метро Беляево, Калужская <br>
                        Пн-Пт с 9:00 до 18:00
                    </div>
                </div>
                <div class="col">
                    <h2 class="hero-contacts-two__content-title">
                        Реквизиты
                    </h2>
                    <div class="hero-contacts-two__content-wrapper">
                        ООО «Продом» <br>
                        ИНН: 9728001711 <br>
                        ОГРН: 1207700139668
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
