.form-about-company {
    @include adaptiveValue("margin-top", 280, 125, 1296, 576, 1);
    margin-bottom: 47px;

    .container {
        max-width: calc(1194px + 30px);
    }

    &__container {
        position: relative;

        @media (min-width:$tablet-min) {
            background-color: #0F0F0F;
            border-radius: 45px;
            z-index: 1;

            &::before {
                content: '';
                background-image: url('../img/gradient-block-2.png');
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                border-radius: 45px;
            }
        }
    }

    &__form {
        max-width: 688px;
        width: 100%;
        margin: 0 auto;
        padding: 62px 120px 90px;

        background-color: var(--white);
        border: 1px solid #E7EAF2;
        border-radius: 45px;
        text-align: center;

        position: relative;
        top: -130px;

        @media (max-width:$tablet-max) {
            top: 0;
            padding: 45px 32px 32px;
        }

        @media (max-width:$smallTablet-max) {
            border-radius: 32px;
            padding: 0;
            border: none;
            background-color: transparent;
            border-radius: 0;
        }
    }

    &__title {
        margin-bottom: 24px;
        color: var(--black);
        font: var(--title-3);
        @media (max-width:$tablet-max) {
            margin-bottom: 16px;
        }
    }

    &__descr {
        margin-bottom: 54px;
        font: var(--text-2);
        color: var(--dark);
        text-align: center;

        @media (max-width:$tablet-max) {
            margin-bottom: 24px;
        }

    }

    .form-primary {
        &__btn {
            margin-top: 40px;

            @media (max-width:$tablet-max) {
                margin-top: 32px;
            }
        }
    }

    @media (max-width:$tablet-max) {
        margin-top: 56px;
        margin-bottom: 56px;
    }
}
