.hero-about-company {

    &__container {
        @media (max-width:$tablet-max) {
            padding: 0;
        }
    }

    &__inner {
        @media (max-width:$tablet-max) {
            padding: 32px 16px;
        }
    }

    &__title {}

    &__text {
        p {
            max-width: 775px;
        }
    }

    &__content {
        margin-top: 32px;
        width: 100%;
        background: linear-gradient(135.83deg, #6792FF 0%, #2B53E1 83.35%), #F3F7FF;
        border-radius: 45px;
        max-height: 649px;

        position: relative;
        overflow: hidden;
        padding: 0 76px;
        display: grid;
        grid-template-columns: 275px 381px;
        justify-content: space-between;

        .col {
            padding-top: 42px;
            padding-bottom: 140px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (max-width:$tablet-max) {
               padding: 0;
            }
        }

        @media (max-width:$tablet-max) {
            grid-template-columns: 1fr;
            max-height: 550px;
            padding: 24px;
            border-radius: 32px;
            max-height: none;
        }

        .card-info-third {
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 8px;
        column-gap: 5px;

        @media (max-width:$tablet-max) {
            justify-content: center;
        }
    }

    &__tag {}

    &__info {
        color: var(--white);
        font-size: 14px;
        line-height: math.div(23, 14);
        font-weight: 500;

        span {
            display: block;
            @include adaptiveValue("font-size", 56, 32, 1920, 576, 1);
            line-height: math.div(92, 56);
            font-weight: 500;
        }

        @media (max-width:$tablet-max) {
            margin-top: 32px;
            text-align: center;
        }
    }

    .simplebar-resize {
        max-height: 649px;
        padding-top: 42px;
        padding-bottom: 42px;

        .simplebar-content-wrapper {
            padding-right: 0;
        }

        .simplebar-vertical {
            display: none;
        }

        @media (max-width:$tablet-max) {
            max-height: none;
            margin-top: 32px;
            padding: 0;
        }
    }
}
