.form-contacts-two {
    @include adaptiveValue("margin-top", 72,32,1296,576,1 );
    @include adaptiveValue("margin-bottom", 108, 48,1296,576,1);
    &__container {
    }

    &__form {
        margin: 0 auto;
        max-width: 540px;

        @media (max-width:$smallTablet-max) {
            width: 100%;
            max-width: none;
        }
    }

    &__title {
        text-align: center;
        max-width: 391px;
        font: var(--text-1);
        @include adaptiveValue("margin-bottom", 48, 24,1296,576,1);
    margin-left: auto;
    margin-right: auto;
    }

    .form-primary {
        &__agree {
            margin-top: 48px;
            margin-left: 0;
            @media (max-width:$tablet-max){
                margin-top: 24px;
            }
        }
        &__btn {
           margin-top: 20px;
        }
    }

}
