.form-contacts-two {
    @include adaptiveValue("margin-top", 72,32,1296,576,1 );
    @include adaptiveValue("margin-bottom", 108, 48,1296,576,1);
    &__container {
    }

    &__form {
        margin: 0 auto;
        max-width: 540px;

        @media (max-width:$smallTablet-max) {
            width: 100%;
            max-width: none;
        }
    }

    &__title {
        text-align: center;
        max-width: 391px;
        @include adaptiveValue("font-size", 18, 14,1296,576,1);
        line-height: math.div(28, 16);
        font-weight: 400;
        @include adaptiveValue("margin-bottom", 48, 24,1296,576,1);
    margin-left: auto;
    margin-right: auto;
    }

    .form-primary {
        &__agree {
        
        }
        &__btn {
           margin-top: 20px;
        }
    }

}
