.hero-contacts-two {
    .container{
        max-width: 1224px;
    }
    &__container {
        @media (max-width:$tablet-max) {
            padding: 0;
        }
    }

    &__inner {
        background: var(--white);
        padding: 0;
        border-radius: 0;
        @media (max-width:$tablet-max) {
            padding: 32px 16px;
        }
    }

    &__title {}

    &__content {
        padding: 54px 100px;

        display: flex;
        justify-content: space-between;
        text-align: left;

        .col {
            &:not(:last-child) {
                margin-right: 32px;

                @media (max-width:$tablet-max) {
                    margin-right: 0;
                    margin-bottom: 32px;
                }
            }
        }

        @media (max-width:$tablet-max) {
            text-align: center;
            flex-direction: column;
            align-items: center;
            padding: 32px;
        }

        @media (max-width:$smallTablet-max) {
            padding: 24px 16px;
        }
    }

    &__content-title {
        color: var(--black);
        font: var(--text-1);
        font-weight: 600;
    }

    &__content-wrapper {
        margin-top: 24px;
        font: var(--text-2-400);
        a {
            display: block;
            transition: color $transitionSpeed $transitionFunction;

            @media (min-width:$smallTablet-min) {
                &:hover {
                    color: var(--blue);
                }
            }
        }

        @media (max-width:$tablet-max) {
            margin-top: 16px;
        }
    }
}
