.hero-contacts-two {
    .container {
        max-width: 1224px;
    }

    &__container {
     
    }

    &__inner {
        margin-top: 30px;
        background: var(--white);
        padding: 0;
        border-radius: 0;

        @media (max-width:$desktop) {
            padding: 32px 0 0;
            margin-top: 0;
        }
    }

    &__title {
        @media (max-width:$desktop) {
            font: var(--title-2);

            &::first-letter {
                text-transform: uppercase;
            }
        }
    }

    &__content {
        padding: 54px 100px;

        display: flex;
        justify-content: space-between;
        text-align: left;

        .col {
            @media (max-width:$desktop) {
                margin-right: 0;
                border-radius: 42px;
                border: 1px solid #E7EAF2;
                background: rgba(255, 255, 255, 0.5);
                padding: 38px 40px;
                width: 100%;
                text-align: left;
            }
            &:not(:last-child) {
                margin-right: 32px;
                @media (max-width:$desktop){
                     margin-bottom: 12px; 
                     margin-right: 0;
                }
            }
        }

        @media (max-width:$desktop) {
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
            padding: 0;
        }
    }

    &__content-title {
        color: var(--black);
        font: var(--text-1);
        font-weight: 600;
        @media (max-width:$desktop){
             font-size: 18px; 
        }
    }

    &__content-wrapper {
        margin-top: 24px;
        font: var(--text-2-400);

        a {
            display: block;
            transition: color $transitionSpeed $transitionFunction;

         @media (min-width:$desktop-min){
            &:hover {
                color: var(--blue);
            } 
         }
        }

        @media (max-width:$desktop) {
            margin-top: 16px;
            font-size: 16px;
        }
    }
}
