<section class="possibilities-skud">
    <div class="possibilities-skud__container container">
        <div class="possibilities-skud__top top-section-info">
            <div class="top-section-info__top">
                <h2 class="top-section-info__title title-2">
                    Наши <span>возможности</span>
                </h2>
            </div>
            <p class="top-section-info__descr">
                Создаём <span>безопасное пространство</span> на территории домов: все посторонние
                автоматически попадают в базу. Машины распознаём по номерам — без пропуска не проедут.
            </p>
        </div>
        <div class="possibilities-skud__inner">
            <div class="possibilities-skud__left">
                <picture>
                    <source srcset="./img/order-frame.webp" type="image/webp">
                    <img loading="lazy" src="./img/order-frame.jpg" class="possibilities-skud__order-frame" width="191"
                        height="165" alt="Заказ пропуска">
                </picture>
                <div class="possibilities-skud__left-wrapper">
                    <div class="possibilities-skud__phone">
                        <picture>
                            <source srcset="./img/phone-3.webp" type="image/webp">
                            <img loading="lazy" src="./img/phone-3.jpg" alt="Телефон">
                        </picture>
                    </div>
                </div>
                <picture>
                    <source srcset="./img/car.webp" type="image/webp">
                    <img loading="lazy" src="./img/car.jpg" class="possibilities-skud__car" width="257" height="150"
                        alt="Машина">
                </picture>
            </div>


            <div data-spollers data-one-spoller class="possibilities-skud__spollers spollers">
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        <div class="spollers__icon" aria-hidden="true">🚗</div>
                        <span>Автоматизация прохода и проезда на территорию</span>
                        <div class="spollers__control" aria-hidden="true">
                            <div class="spollers__control-wrapper"></div>
                        </div>
                    </button>
                    <div class="spollers__body">
                        <p>
                            Можно организовать доступ определённым авто на определенных КПП: например, если это вывоз
                            мусора или завоз стройматериалов
                        </p>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        <div class="spollers__icon" aria-hidden="true">👀</div>
                        <span>Учёт посетителей</span>
                        <div class="spollers__control" aria-hidden="true">
                            <div class="spollers__control-wrapper"></div>
                        </div>
                    </button>
                    <div class="spollers__body">
                        <p>
                            Можно организовать доступ определённым авто на определенных КПП: например, если это вывоз
                            мусора или завоз стройматериалов
                        </p>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        <div class="spollers__icon" aria-hidden="true">🔑</div>
                        <span>Разграничение прав доступа</span>
                        <div class="spollers__control" aria-hidden="true">
                            <div class="spollers__control-wrapper"></div>
                        </div>
                    </button>
                    <div class="spollers__body">
                        <p>
                            Можно организовать доступ определённым авто на определенных КПП: например, если это вывоз
                            мусора или завоз стройматериалов
                        </p>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        <div class="spollers__icon" aria-hidden="true">🤝</div>
                        <span>Интеграция с вашими системами</span>
                        <div class="spollers__control" aria-hidden="true">
                            <div class="spollers__control-wrapper"></div>
                        </div>
                    </button>
                    <div class="spollers__body">
                        <p>
                            Можно организовать доступ определённым авто на определенных КПП: например, если это вывоз
                            мусора или завоз стройматериалов
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
