.app-digitale-umgebung{
    @include adaptiveValue("margin-top",85 ,45,1296,576,1 );
    &__container {
        position: relative;
    }

    &__top {
        background: none;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 36px;
        @media (max-width:$desktop) {
            padding: 32px 0;
        }

        @media (max-width:$smallTablet-max) {
            padding: 24px 0;
        }
    }

    &__title {
        @include adaptiveValue("font-size", 132, 52, 1296, 420, 1);
        letter-spacing: -3.24px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        height: 162px;
        @media (max-width:$desktop){
             height: auto; 
        }
        @media (max-width:$desktop) {
            letter-spacing: -1.56px;
            white-space: normal;
            text-align: center;
            max-width: 925px;
        }
    }

    &__text {
        top: -5px;
        @media (max-width:$desktop){
            top: 18px; 
       }
        p {
            max-width: 750px;

            @media (max-width:$mobile-max) {
                display: inline;
            }
        }

    }

    &__form {
        max-width: 518px;
        margin: 0 auto;

      @media (max-width:$desktop){
         margin-top: 42px; 
      }

        @media (max-width:$smallTablet-max) {
            max-width: none;
        }
    }

    &__btn {
        margin-top: 40px;

        @media (max-width:$desktop) {
            margin-top: 24px;
            height: 58px;
            border-radius: 20px;
        }
    }

    &__decor-lightning {
        position: absolute;
        z-index: 1;

        &--1 {
            top: 2.5%;
            left: 20%;

            @media (max-width:$desktop) {
                display: none;
            }
        }

        &--2 {
            top: 35%;
            left: 10%;

            @media (max-width:$desktop) {
                top: 6%;
                left: auto;
                right: 3%;
                width: 58px;
            }
        }

        &--3 {
            top: 51%;
            left: 4%;

            @media (max-width:$desktop) {
                top: 42%;
                left: 10%;
                width: 32px;
            }
        }

        &--4 {
            top: 75%;
            left: 16%;

            @media (max-width:$desktop) {
                display: none;
            }
        }

        &--5 {
            top: 28%;
            right: -3%;
            z-index: -1;

            @media (max-width:$desktop) {
                top: 39%;
                left: auto;
                right: -3%;
                width: 107px
            }
        }

        &--6 {
            top: 56%;
            right: 17%;

            @media (max-width:$desktop) {
                display: none;
            }
        }
    }
}
