.app-performers-digitale-umgebung {
    @include adaptiveValue("border-top-left-radius", 88, 24, 1296, 576, 1);
    @include adaptiveValue("border-top-right-radius", 88, 24, 1296, 576, 1);
    @include adaptiveValue("padding-top", 164, 48, 1296, 576, 1);
    background-color: var(--white);
    position: relative;
    z-index: 5;

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 40px;
    }

    &__title {
        span {
            color: var(--blue);
        }
    }

    &__info {
        max-width: 435px;

        .app-performers-digitale-umgebung {
            &__title {
                span {
                    display: inline-block;
                }

                @media (max-width:$smallTablet-max) {
                    text-align: center;
                }
            }

            &__descr {
                margin-top: 24px;
                font: var(--text-1);

                @media (max-width:$tablet-max) {
                    margin-top: 16px;
                }

                @media (max-width:$smallTablet-max) {
                    text-align: center;
                }
            }

            &__elements {
                margin-top: 32px;

                li {
                    display: flex;

                    &:not(:last-child) {
                        margin-bottom: 12px;
                    }

                    div {
                        margin-top: 3px;
                        border-radius: 50%;
                        background-color: var(--black);
                        width: 25px;
                        height: 25px;
                        flex: 0 0 25px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        margin-right: 20px;

                        svg {
                            width: 14px;
                            height: 14px;
                            fill: none;
                            stroke-width: 1.5px;
                            stroke: var(--white);

                            @media (max-width:$tablet-max) {
                                width: 11px;
                                height: 11px;
                            }
                        }

                        @media (max-width:$tablet-max) {
                            width: 20px;
                            height: 20px;
                            flex: 0 0 20px;
                            margin-right: 16px;
                        }
                    }

                    span {
                        font: var(--text-1);
                    }
                }

                @media (max-width:$tablet-max) {
                    margin-top: 24px;
                }

                @media (max-width:$smallTablet-max) {
                    display: inline-block;
                }

                @media (max-width:$mobile-max) {
                    display: block;
                }
            }
        }

        @media (max-width:$smallTablet-max) {
            max-width: none;
            margin-bottom: 70px;
        }

        @media (max-width:$mobile-max) {
            margin-bottom: 60px;
        }
    }

    &__image {
        max-height: calc(100% - 57px);
        @include adaptiveValue("border-radius", 70, 24, 1296, 576, 1);
        background: linear-gradient(196deg, #6BA6FF -44.28%, #1541DF 107.8%);
        display: flex;
        justify-content: center;
        align-items: end;
        position: relative;
        picture {
            &:nth-child(1) {
                max-width: percent(434, 636);
                transform: translateY(8px) translateX(20px);
                @media (max-width:$desktop){
                    transform: translateY(8px);
                    display: none;
                }
                @media (max-width:$mobile-max) {
                    max-width: 85%;
                }
            }
            &:nth-child(2){
                position: absolute;
                top: 22.5%;
                left: 17%;

                height: percent(148,508);

                transition: left $transitionSpeed $transitionFunction;
                img{
                    width: 100%;
                    height: 100%;
                }
                @media (max-width:$desktop){
                     display: none; 
                }
            }
            &:nth-child(3){
                display: none;
                transform: translateY(8px);
                max-width: percent(434, 636);
                @media (max-width:$desktop){
                     display: block;
                }
                @media (max-width:$mobile-max){
                    max-width: 85%;
                }
            }
        }
        @media (min-width:$desktop-min){
             &:hover{
                picture{
                    &:nth-child(2){
                        left: calc(17% - 30px)
                    }
                }
             } 
        }
        @media (max-width:$smallTablet-max) {
            max-width: 600px;
            margin: 0 auto;
        }

        @media (max-width:$mobile-max) {
            max-height: calc(100% - 40px - 8px);
        }
    }

    &__item {
        &:nth-child(1) {
            grid-column: 1/-1;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 26px;
            margin-bottom: -57px;

            @media (max-width:$tablet-max) {
                grid-column-gap: 24px;
            }

            @media (max-width:$smallTablet-max) {
                grid-template-columns: 1fr;
            }

            @media (max-width:$mobile-max) {
                margin-bottom: -48px;
            }
        }

        &:nth-child(2),
        &:nth-child(3) {
            background-color: #FBFBFB;
            border: 1px solid #E7EAF2;
            @include adaptiveValue("border-radius", 40, 24, 1296, 576, 1);
            padding: 29px 46px;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center right;
            display: flex;
            align-items: start;
            min-height: 306px;

            .app-performers-digitale-umgebung__title {
                color: var(--dark);
                font: var(--subtitle-2);
            }

            @media (max-width:$tablet-max) {
                grid-column: 1/-1;
                padding: 20px;
            }
        }

        &:nth-child(2) {
            position: relative;
            overflow: visible;

            .app-performers-digitale-umgebung__badges {
                overflow: hidden;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: calc(100% + 14px);
            }

            .app-performers-digitale-umgebung__badge {
                position: absolute;
                transform: translateY(-100px);
                opacity: 0;

                &--1 {
                    top: -2.7%;
                    right: 13.2%;

                    transition: transform 0.25s $transitionFunction,
                        opacity $transitionSpeed $transitionFunction;
                }

                &--2 {
                    top: 30.5%;
                    right: 21.6%;
                    transition: transform 0.3s $transitionFunction,
                        opacity $transitionSpeed $transitionFunction;
                }

                &--3 {
                    top: 45%;
                    right: 23%;
                    transition: transform 0.35s $transitionFunction,
                        opacity $transitionSpeed $transitionFunction;
                }

                &--4 {
                    top: 54.1%;
                    right: 1%;
                    transition: transform 0.4s $transitionFunction,
                        opacity $transitionSpeed $transitionFunction;
                }

                &--5 {
                    top: 70%;
                    right: 28.5%;
                    transition: transform 0.45s $transitionFunction,
                        opacity $transitionSpeed $transitionFunction;
                }

                &--6 {
                    top: 77%;
                    right: 42.6%;
                    transition: transform 0.5s $transitionFunction,
                        opacity $transitionSpeed $transitionFunction;
                }

                &--7 {
                    top: 69.1%;
                    right: 1.7%;
                    transition: transform 0.55s $transitionFunction,
                        opacity $transitionSpeed $transitionFunction;
                }
            }

            .app-performers-digitale-umgebung__title {
                max-width: 291px;
                margin-top: 17px;
                position: relative;
                z-index: 1;

                @media (max-width:$tablet-max) {
                    margin-top: 0;
                    max-width: 200px;
                }
            }

            &._animation-active {
                .app-performers-digitale-umgebung__badge {
                    transform: translateY(0);
                    opacity: 1;
                }
            }

            @media (max-width:$tablet-max) {
                min-height: 200px;
            }
        }

        &:nth-child(3) {
            .app-performers-digitale-umgebung__title {
                max-width: 236px;
                flex: 1 0 236px;
                margin-top: 17px;
                letter-spacing: -0.13px;

                @media (max-width:$tablet-max) {
                    margin-top: 0;
                    max-width: 200px;
                    flex: 1 0 200px;
                }
            }

            .app-performers-digitale-umgebung__card {
                background: #DBE2FF;
                border-radius: 36px;
                padding: 30px;
                flex: 0 0 340px;
                margin-left: 185px;
                transition: margin $transitionSpeed $transitionFunction;

                @media (max-width:$tablet-max) {
                    margin-left: auto;
                    position: relative;
                    left: 0px;
                    padding: 20px;
                    border-radius: 18px;
                }
            }

            &._animation-active {
                .app-performers-digitale-umgebung__card {
                    margin-left: 73px;
                }
            }
        }
    }
}
