.hero-digitale-umgebung {

    &__container {
        margin-top: 12px;
        background: linear-gradient(6.56deg, #FFFFFF -6.06%, #F3F5F8 135.59%);
        border-radius: 70px;
        text-align: center;
        position: relative;

        @media (max-width:$tablet-max) {
            background: transparent;
            border-radius: 0;
        }
    }

    &__content {
        padding: 78px 0 85px;
        max-width: 800px;
        margin: 0 auto;

        @media (max-width:$tablet-max) {
            padding: 25px 0;
        }
    }

    &__title {
        span {
            background: linear-gradient(90deg, #1A5AFF 12.31%, #CA95F5 53.5%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
        }

        @media (max-width:$tablet-max) {
            margin-top: 25px;
        }
    }

    &__text {
        margin-top: 24px;
        color: var(--black);
        font: var(--text-1);

        span {
            font-weight: 600;
        }

        @media (max-width:$tablet-max) {
            margin-top: 24px;
        }
    }

    &__btn {
        margin-top: 96px;
        width: 276px;
        @media (max-width:$tablet-max) {
            margin-top: 32px;
      width: 100%;
        }
    }
}
