<section class="form-contacts">
    <div class="container">
        <div class="form-contacts__container">

            <form action="#" class="form-primary form-contacts__form">
                <h4 class="form-contacts__title">
                    Если есть вопросы — заполните форму ниже.
                    Мы перезвоним.
                </h4>
                <label class="form-primary__label label-primary">
                    <input type="text" name="Имя" class="input-reset input-primary label-primary__input"
                        placeholder="Имя">
                </label>
                <label class="form-primary__label label-primary">
                    <input type="email" name="email" class="input-reset input-primary label-primary__input"
                        placeholder="E-mail (необязательно)">
                </label>
                <label class="form-primary__label label-primary">
                    <input type="tel" name="phone" class="input-reset input-primary label-primary__input"
                        placeholder="Телефон">
                </label>
                <div class="form-primary__choices">
                    <span>Меня интересует:</span>
                    <div class="radio-secondary">
                        <div class="radio-secondary__item">
                            <input id="o_1" class="radio-secondary__input" type="radio"
                                value="Автоматизация для УК и ТСЖ" name="Меня интересует:" checked>
                            <label for="o_1" class="radio-secondary__label">
                                Автоматизация для УК и ТСЖ
                            </label>
                        </div>
                        <div class="radio-secondary__item">
                            <input id="o_2" class="radio-secondary__input" type="radio"
                                value="Аварийно-диспетчерская служба" name="Меня интересует:">
                            <label for="o_2" class="radio-secondary__label">
                                Аварийно-диспетчерская служба
                            </label>
                        </div>
                        <div class="radio-secondary__item">
                            <input id="o_3" class="radio-secondary__input" type="radio"
                                value="Система контроля и управление доступом" name="Меня интересует:">
                            <label for="o_3" class="radio-secondary__label">
                                Система контроля и управление доступом
                            </label>
                        </div>
                        <div class="radio-secondary__item">
                            <input id="o_4" class="radio-secondary__input" type="radio" value="Другое"
                                name="Меня интересует:">
                            <label for="o_4" class="radio-secondary__label">
                                Другое
                            </label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-reset btn-primary form-primary__btn">
                    Отправить заявку
                </button>
            </form>

        </div>
    </div>
</section>
