<section class="banner-api-skud-two">
    <div class="container">
        <div class="banner-api-skud-two__container">
            <h2 class="banner-api-skud-two__title title-2">
                Доступно API
                для бесшовной интеграции
                <span>
                    с&nbsp;вашими сервисами и&nbsp;приложениями
                </span>
            </h2>
            <div class="banner-api-skud-two__image">
                <picture>
                    <source srcset="./img/phone-api-1.webp" type="image/webp">
                    <img loading="lazy" src="./img/phone-api-1.png" width="367" height="455" alt="КП Большая Черёмушкинская">
                </picture>
                <picture data-animation-item data-animation-item-start="1.35" data-animation-item-repeat data-animation-item-max-break="1326">
                    <source srcset="./img/phone-api-2.webp" type="image/webp">
                    <img loading="lazy" src="./img/phone-api-2.png" width="330" height="143" alt="КП Большая Черёмушкинская">
                </picture>
                <picture>
                    <source srcset="./img/phone-api.webp" type="image/webp">
                    <img loading="lazy" src="./img/phone-api.png" width="411" height="455" alt="КП Большая Черёмушкинская">
                  </picture>
            </div>
        </div>
    </div>
</section>
