<section class="banner-skud-two">
    <div class="container">
        <div class="banner-skud-two__container">
            <div class="banner-skud-two__info">
                <h2 class="banner-skud-two__title title-2">
                    Внедрим систему, <span>не меняя ваше текущее оборудование</span>
                </h2>
                <p class="banner-skud-two__descr">
                    Быстро и без заморочек, за 1 день
                </p>
                <button type="button" class="btn btn-reset btn-primary banner-skud-two__btn">
                    Связаться с нами
                </button>
            </div>
        </div>
    </div>
</section>