<section class="banner-api-skud-two">
    <div class="container">
        <div class="banner-api-skud-two__container">
            <h2 class="banner-api-skud-two__title title-2">
                Доступно API
                для бесшовной интеграции
                <span>
                    с&nbsp;вашими сервисами и&nbsp;приложениями
                </span>
            </h2>
            <div class="banner-api-skud-two__image">
                <picture>
                  <source srcset="./img/phone-api.webp" type="image/webp">
                  <img loading="lazy" src="./img/phone-api.png" width="411" height="455" alt="КП Большая Черёмушкинская">
                </picture>
            </div>
        </div>
    </div>
</section>