<section class="control-skud-two">
    <div class="container">
        <h2 class="control-skud-two__title title-2">
            Объединили лучшие отраслевые
            решения и <span>облачные технологии</span>
        </h2>
        <div class="control-skud-two__container">
            <div class="control-skud-two__left">
                <picture>
                    <source srcset="./img/phone-4.webp" type="image/webp">
                    <img loading="lazy" src="./img/phone-4.png" width="284" height="484" alt="">
                </picture>
            </div>
            <div class="control-skud-two__right">
                <div data-spollers data-one-spoller class="control-skud-two__spollers spollers _spoller-init">
                    <div class="spollers__item _spollers-item-active">
                        <button type="button" data-spoller class="btn btn-reset spollers__title _spoller-active">
                            <div class="spollers__icon" aria-hidden="true">⚡️</div>
                            <span>Удобное использование</span>
                            <div class="spollers__control" aria-hidden="true">
                                <div class="spollers__control-wrapper"></div>
                            </div>
                        </button>
                        <div class="spollers__body">
                            <p>
                                Добавляйте объекты, помещения и&nbsp;сотрудников
                                за&nbsp;несколько минут в&nbsp;личном кабинете
                            </p>
                        </div>
                    </div>
                    <div class="spollers__item">
                        <button type="button" data-spoller class="btn btn-reset spollers__title">
                            <div class="spollers__icon" aria-hidden="true">💻</div>
                            <span>Удалённое управление</span>
                            <div class="spollers__control" aria-hidden="true">
                                <div class="spollers__control-wrapper"></div>
                            </div>
                        </button>
                        <div class="spollers__body">
                            <p>
                                Доступ к&nbsp;сервису везде, где есть интернет. Минимум лишних движений, максимум мобильности.
                            </p>
                        </div>
                    </div>
                    <div class="spollers__item">
                        <button type="button" data-spoller class="btn btn-reset spollers__title">
                            <div class="spollers__icon" aria-hidden="true">💰</div>
                            <span>Недорогая эксплуатация</span>
                            <div class="spollers__control" aria-hidden="true">
                                <div class="spollers__control-wrapper"></div>
                            </div>
                        </button>
                        <div class="spollers__body">
                            <p>
                                Больше не&nbsp;нужно содержать бюро пропусков, отдельный сервер для СКУД и&nbsp;оплачивать клиентские приложения.
                            </p>
                        </div>
                    </div>
                    <div class="spollers__item">
                        <button type="button" data-spoller class="btn btn-reset spollers__title">
                            <div class="spollers__icon" aria-hidden="true">🛡️</div>
                            <span>Данные под защитой</span>
                            <div class="spollers__control" aria-hidden="true">
                                <div class="spollers__control-wrapper"></div>
                            </div>
                        </button>
                        <div class="spollers__body">
                            <p>
                                Все данные хранятся в&nbsp;собственном ЦОД класса Tier3, передача данных происходит по&nbsp;защищённому протоколу https.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
