<section class="control-skud-two">
    <div class="container">
        <div class="control-skud-two__container">
            <div class="control-skud-two__left">
                <picture>
                    <source srcset="./img/phone-4.webp" type="image/webp">
                    <img loading="lazy" src="./img/phone-4.png" width="284" height="484" alt="">
                </picture>
            </div>
            <div class="control-skud-two__right">
                <h2 class="control-skud-two__title">
                    Управление системой из&nbsp;браузера
                    или <span>мобильного приложения</span>
                </h2>
                <div data-tabs class="control-skud-two__tabs tabs">
                    <nav data-tabs-titles class="tabs__navigation">
                        <button type="button" class="btn btn-reset tabs__title _tab-active">Для УК</button>
                        <button type="button" class="btn btn-reset tabs__title">Для жителя</button>
                    </nav>
                    <div data-tabs-body class="tabs__content">
                        <div class="tabs__body">

                            <div data-spollers data-one-spoller class="control-skud-two__spollers spollers _spoller-init">
                                <div class="spollers__item">
                                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                                        <div class="spollers__icon" aria-hidden="true">🔑</div>
                                        <span>Одноразовые и многоразовые пропуска</span>
                                        <div class="spollers__control" aria-hidden="true">
                                            <div class="spollers__control-wrapper"></div>
                                        </div>
                                    </button>
                                    <div class="spollers__body">
                                        <p>
                                            Можно создать пропуск на сутки или на целый период
                                            до месяца. Например, если в квартире идёт ремонт,
                                            специалисту удобно сделать многоразовый пропуск.
                                        </p>
                                    </div>
                                </div>
                                <div class="spollers__item">
                                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                                        <div class="spollers__icon" aria-hidden="true">👋</div>
                                        <span>Гостевые ссылки</span>
                                        <div class="spollers__control" aria-hidden="true">
                                            <div class="spollers__control-wrapper"></div>
                                        </div>
                                    </button>
                                    <div class="spollers__body">
                                        <p>
                                            идёт ремонт,
                                            специалисту удобно сделать многоразовый пропуск.
                                        </p>
                                    </div>
                                </div>
                                <div class="spollers__item">
                                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                                        <div class="spollers__icon" aria-hidden="true">📞</div>
                                        <span>Видеодомофония</span>
                                        <div class="spollers__control" aria-hidden="true">
                                            <div class="spollers__control-wrapper"></div>
                                        </div>
                                    </button>
                                    <div class="spollers__body">
                                        <p>
                                            Можно создать пропуск на сутки или на целый период
                                            до месяца. Например, если в квартире идёт ремонт,
                                            специалисту удобно сделать многоразовый пропуск.
                                            до месяца. Например, если в квартире идёт ремонт,
                                            специалисту удобно сделать многоразовый пропуск.
                                        </p>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="tabs__body">

                            <div data-spollers data-one-spoller class="control-skud-two__spollers spollers _spoller-init">
                                <div class="spollers__item">
                                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                                        <div class="spollers__icon" aria-hidden="true">🔑</div>
                                        <span>2Одноразовые и многоразовые пропуска</span>
                                        <div class="spollers__control" aria-hidden="true">
                                            <div class="spollers__control-wrapper"></div>
                                        </div>
                                    </button>
                                    <div class="spollers__body">
                                        <p>
                                            Можно создать пропуск на сутки или на целый период
                                            до месяца. Например, если в квартире идёт ремонт,
                                            специалисту удобно сделать многоразовый пропуск.
                                        </p>
                                    </div>
                                </div>
                                <div class="spollers__item">
                                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                                        <div class="spollers__icon" aria-hidden="true">👋</div>
                                        <span>2Гостевые ссылки</span>
                                        <div class="spollers__control" aria-hidden="true">
                                            <div class="spollers__control-wrapper"></div>
                                        </div>
                                    </button>
                                    <div class="spollers__body">
                                        <p>
                                            идёт ремонт,
                                            специалисту удобно сделать многоразовый пропуск.
                                        </p>
                                    </div>
                                </div>
                                <div class="spollers__item">
                                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                                        <div class="spollers__icon" aria-hidden="true">📞</div>
                                        <span>2Видеодомофония</span>
                                        <div class="spollers__control" aria-hidden="true">
                                            <div class="spollers__control-wrapper"></div>
                                        </div>
                                    </button>
                                    <div class="spollers__body">
                                        <p>
                                            Можно создать пропуск на сутки или на целый период
                                            до месяца. Например, если в квартире идёт ремонт,
                                            специалисту удобно сделать многоразовый пропуск.
                                            до месяца. Например, если в квартире идёт ремонт,
                                            специалисту удобно сделать многоразовый пропуск.
                                        </p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
