<section class="for-whom-skud-two">
    <div class="container">
        <h2 class="for-whom-skud-two__title title-2">
            Для кого <span>подходит</span>
        </h2>
        <div class="for-whom-skud-two__text">
            <p>
                Продом — гибкая система, способная работать в любых сферах:
            </p>
        </div>
        <div class="for-whom-skud-two__wrapper">
            <div class="swiper for-whom-skud-two__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="./img/partner-11.webp" type="image/webp">
                            <img loading="lazy" src="./img/partner-11.jpg" width="196" height="196" alt="Предприятия">
                        </picture>
                        <span>Предприятия</span>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="./img/partner-12.webp" type="image/webp">
                            <img loading="lazy" src="./img/partner-12.jpg" width="196" height="196" alt="Сети ресторанов,
                            магазинов, офисов продаж">
                        </picture>
                        <span>
                            Сети ресторанов,
                            магазинов, офисов продаж
                        </span>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="./img/partner-8.webp" type="image/webp">
                            <img loading="lazy" src="./img/partner-8.jpg" width="196" height="196" alt="Жилые комплексы
                            и коттеджные посёлки">
                        </picture>
                        <span>
                            Жилые комплексы
                            и коттеджные посёлки
                        </span>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="./img/partner-13.webp" type="image/webp">
                            <img loading="lazy" src="./img/partner-13.jpg" width="196" height="196" alt="Небольшие офисы">
                        </picture>
                        <span>
                            Небольшие офисы
                        </span>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="./img/partner-14.webp" type="image/webp">
                            <img loading="lazy" src="./img/partner-14.jpg" width="196" height="196" alt="Бизнес-центры и ТРЦ">
                        </picture>
                        <span>
                            Бизнес-центры и ТРЦ
                        </span>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="./img/partner-15.webp" type="image/webp">
                            <img loading="lazy" src="./img/partner-15.jpg" width="196" height="196" alt="Отдельные шлагбаумы
                            и ворота">
                        </picture>
                        <span>
                            Отдельные шлагбаумы
                            и&nbsp;ворота
                        </span>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="./img/partner-16.webp" type="image/webp">
                            <img loading="lazy" src="./img/partner-16.jpg" width="196" height="196" alt="Коворкинги">
                        </picture>
                        <span>
                            Коворкинги
                        </span>
                    </div>
                </div>
            </div>
            <div class="for-whom-skud-two__nav">
                <button type="button" class="btn btn-reset for-whom-skud-two__prev nav-primary nav-primary_prev">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-left"></use>
                    </svg>
                </button>
                <button type="button" class="btn btn-reset for-whom-skud-two__next nav-primary nav-primary_next">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-left"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
