<section class="hero-skud-two">
    <div class="container hero-skud-two__container">
        <div class="hero-skud-two__content">
            <h1 class="hero-skud-two__title title-1">
                Система контроля <br>и
                <span>управление доступом</span>
                через интернет
            </h1>
            <div class="hero-skud-two__text">
                <p>
                    Объединяем все КПП в&nbsp;одну систему с&nbsp;настройкой прав доступа,
                    автоматизируем процесс идентификации
                </p>
            </div>
            <div class="hero-skud-two__cards">
                <div class="hero-skud-two__card card-info-four">
                    <div class="card-info-four__icon" style="background-color: #FFDAF2;">
                        <svg>
                          <use xlink:href="img/sprite.svg#doors"></use>
                        </svg>
                    </div>
                    <h3 class="card-info-four__title">
                        Двери
                    </h3>
                    <p class="card-info-four__descr">
                        Все виды
                        считывателей
                    </p>
                </div>
                <div class="hero-skud-two__card card-info-four">
                    <div class="card-info-four__icon" style="background-color:#A1C5FF">
                        <svg>
                          <use xlink:href="img/sprite.svg#barriers"></use>
                        </svg>
                    </div>
                    <h3 class="card-info-four__title">
                        Шлагбаумы
                    </h3>
                    <p class="card-info-four__descr">
                        Одиночные и&nbsp;двойные,
                        для платной парковки
                    </p>
                </div>
                <div class="hero-skud-two__card card-info-four">
                    <div class="card-info-four__icon" style="background-color:#FFDED3">
                        <svg>
                          <use xlink:href="img/sprite.svg#turnstiles"></use>
                        </svg>
                    </div>
                    <h3 class="card-info-four__title">
                        Турникеты
                    </h3>
                    <p class="card-info-four__descr">
                        Автономные
                        и&nbsp;системные
                    </p>
                </div>
                <div class="hero-skud-two__card card-info-four">
                    <div class="card-info-four__icon" style="background-color:#7BD49A">
                        <svg>
                          <use xlink:href="img/sprite.svg#gates"></use>
                        </svg>
                    </div>
                    <h3 class="card-info-four__title">
                        Ворота, рольставни
                    </h3>
                    <p class="card-info-four__descr">
                        Любых видов
                    </p>
                </div>
                <div class="hero-skud-two__card card-info-four">
                    <div class="card-info-four__icon" style="background-color:#B7B6FF">
                        <svg>
                          <use xlink:href="img/sprite.svg#camera"></use>
                        </svg>
                    </div>
                    <h3 class="card-info-four__title">
                        Дополнительно
                    </h3>
                    <p class="card-info-four__descr">
                        Камеры, контроллеры, датчики
                    </p>
                </div>
            </div>
            <button type="button" class="btn btn-reset btn-primary hero-skud-two__btn">
                ⚡️ Оставить заявку
            </button>
        </div>
    </div>
</section>
