<section class="ways-skud-two">
    <div class="container">
        <div class="ways-skud-two__container">
            <div class="ways-skud-two__left">
                <h2 class="ways-skud-two__title title-2">
                    Удобный доступ
                    <span>на объект</span>
                </h2>
                <p class="ways-skud-two__descr">
                    Различные способы идентификации
                </p>
            </div>
            <div class="ways-skud-two__right">
                <div data-spollers data-one-spoller class="spollers">
                    <div class="col">
                        <div class="spollers__item _spollers-item-active">
                            <button type="button" data-spoller class="btn btn-reset spollers__title _spoller-active">
                                <div>
                                    <svg>
                                        <use xlink:href="img/sprite.svg#check"></use>
                                    </svg>
                                </div>
                                Карты доступа
                            </button>
                            <div class="spollers__body">
                                <p>
                                    А также брелоки, браслеты и электронные ключи
                                </p>
                            </div>
                        </div>
                        <div class="spollers__item">
                            <button type="button" data-spoller class="btn btn-reset spollers__title">
                                <div>
                                    <svg>
                                        <use xlink:href="img/sprite.svg#check"></use>
                                    </svg>
                                </div>
                                По номеру авто
                            </button>
                            <div class="spollers__body">
                                <p>
                                    Автоматическое распознавание номера
                                </p>
                            </div>
                        </div>
                        <div class="spollers__item">
                            <button type="button" data-spoller class="btn btn-reset spollers__title">
                                <div>
                                    <svg>
                                        <use xlink:href="img/sprite.svg#check"></use>
                                    </svg>
                                </div>
                                NFC-устройства
                            </button>
                            <div class="spollers__body">
                                <p>
                                    Различные смартфоны и метки с поддержкой NFC
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="spollers__item">
                            <button type="button" data-spoller class="btn btn-reset spollers__title">
                                <div>
                                    <svg>
                                        <use xlink:href="img/sprite.svg#check"></use>
                                    </svg>
                                </div>
                                QR-код
                            </button>
                            <div class="spollers__body">
                                <p>
                                    Прикладывайте код на экране смартфона к считывателю
                                </p>
                            </div>
                        </div>
                        <div class="spollers__item">
                            <button type="button" data-spoller class="btn btn-reset spollers__title">
                                <div>
                                    <svg>
                                        <use xlink:href="img/sprite.svg#check"></use>
                                    </svg>
                                </div>
                                ПИН-код
                            </button>
                            <div class="spollers__body">
                                <p>
                                    Доступ по набору кода на вызывной панели или смартфоне
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
