.hero-implement {

    &__container {
        margin-top: 18px;
        background: linear-gradient(6.56deg, #FFFFFF -6.06%, #F3F5F8 135.59%);
        border-radius: 70;
        text-align: center;
        position: relative;
        @media (max-width:$desktop){
            margin-top: 0;
              border-radius: 0;
              background: none;
        }
    }

    &__content {
        padding: 120px 0 100px;
        max-width: 595px;
        margin: 0 auto;

      @media (max-width:$desktop){
        padding: 32px 0 0; 
        max-width: 400px;
      }
      @media (max-width:$smallTablet-max){
        max-width: 326px; 
      }
    }

    &__title {
        margin: 0 auto;
        text-align: center;

        span {
            color: var(--blue);
        }
    }

    &__text {
        margin: 26px auto 0;
        text-align: center;

        color: var(--black);
        font: var(--text-1);

     @media (max-width:$desktop){
            margin-top: 12px;
     }
    }



    &__btn {
        margin-top: 76px;
        width: 276px;
     @media (max-width:$desktop){
        margin-top: 42px;
        width: 250px; 
     }
    }
}
