<section class="app-invite">
    <div class="container">
        <div class="app-invite__container">
            <h2 class="app-invite__title title-1">
                <span>Скачайте</span> приложение «Продом»
                прямо сейчас
            </h2>
            <div class="app-invite__wrapper">
                <div class="app-invite__left">
                    <h3 class="app-invite__subtitle">
                        Я с компьютера
                    </h3>
                    <p class="app-invite__descr">
                        Наведите камеру смартфона
                        на QR код и скачайте приложение
                    </p>
                    <div class="app-invite__qrs">
                        <div class="app-invite__qr">
                            <img loading="lazy" src="img/ios-qr.svg" width="251" height="251" alt="">
                            <span>IOS</span>
                        </div>
                        <div class="app-invite__qr">
                            <img loading="lazy" src="img/android-qr.svg" width="251" height="251"  alt="">
                            <span>Android</span>
                        </div>
                    </div>
                </div>
                <div class="app-invite__right">
                    <h3 class="app-invite__subtitle">
                        Я с телефона
                    </h3>
                    <p class="app-invite__descr">
                        Кликайте по ссылке ниже
                    </p>
                    <div class="app-invite__badges">
                        <a href="#" class="app-invite__badge">
                            <img loading="lazy" src="img/app-store-badge.svg" alt="App Store">
                        </a>
                        <a href="#" class="app-invite__badge">
                            <img loading="lazy" src="img/google-play-badge.svg" alt="Google Play">
                        </a>
                    </div>
                </div>
            </div>


            <svg class="app-invite__decor" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1007" height="893" viewBox="0 0 1007 893" fill="none">
                <g filter="url(#filter0_f_1300_5815)">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M1066.54 1162.72C1184.22 1127.97 1117.65 848.509 899.902 576.435C682.158 304.361 395.702 142.703 278.014 177.455C207.916 198.154 271.863 322.917 313.616 452.202C355.369 581.487 446.204 722.633 534.252 832.651C751.997 1104.73 948.848 1197.47 1066.54 1162.72Z" fill="url(#paint0_linear_1300_5815)"/>
                </g>
                <defs>
                  <filter id="filter0_f_1300_5815" x="0.276901" y="-73.7191" width="1370.26" height="1489.92" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                    <feGaussianBlur stdDeviation="123.251" result="effect1_foregroundBlur_1300_5815"/>
                  </filter>
                  <linearGradient id="paint0_linear_1300_5815" x1="540.053" y1="819.465" x2="830.069" y2="563.511" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#5F5FFA" stop-opacity="0"/>
                    <stop offset="0.07" stop-color="#6565FF"/>
                    <stop offset="0.48" stop-color="#4242E3"/>
                    <stop offset="0.91" stop-color="#2FC4FF"/>
                    <stop offset="1" stop-color="#33A6F9" stop-opacity="0"/>
                  </linearGradient>
                </defs>
              </svg>
        </div>
    </div>
</section>
