<section class="hero-invite">
    <div class="container">
        <div class="hero-invite__container">
            <h1 class="hero-invite__title title-1">
                Ваша управляющая компания использует <span>приложение «Продом»</span>
            </h1>
            <p class="hero-invite__descr">
                Радостно сообщаем, что ваш дом теперь подключен к нашему сервису,
                а значит решать бытовые вопросы теперь можно в пару кликов 🥳
            </p>
            <button type="button" class="btn btn-reset btn-primary hero-invite__btn" data-popup-path="download-app">
                ⚡️ Скачать приложение
            </button>
            <div class="hero-invite__wrapper">
                <div class="hero-invite__images">
                    <div class="hero-invite__image">
                        <picture>
                            <source srcset="./img/invite-phone-1.webp" type="image/webp">
                            <img loading="lazy" src="./img/invite-phone-1.jpg" alt="">
                        </picture>
                    </div>
                    <div class="hero-invite__image">
                        <picture>
                            <source srcset="./img/invite-phone-2.webp" type="image/webp">
                            <img loading="lazy" src="./img/invite-phone-2.jpg" alt="">
                        </picture>
                    </div>
                    <div class="hero-invite__image">
                        <picture>
                            <source srcset="./img/invite-phone-3.webp" type="image/webp">
                            <img loading="lazy" src="./img/invite-phone-3.jpg" alt="">
                        </picture>
                    </div>
                    <div class="hero-invite__image">
                        <picture>
                            <source srcset="./img/invite-phone-4.webp" type="image/webp">
                            <img loading="lazy" src="./img/invite-phone-4.jpg" alt="">
                        </picture>
                    </div>
                    <div class="hero-invite__image">
                        <picture>
                            <source srcset="./img/invite-phone-5.webp" type="image/webp">
                            <img loading="lazy" src="./img/invite-phone-5.jpg" alt="">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="hero-invite__items">
                <div class="hero-invite__item hero-invite__item--1">
                    <h3 class="hero-invite__item-title">
                        Оставляйте <span> заявки
                            на&nbsp;ремонт:</span> статус заявки видно в&nbsp;приложении,
                        а&nbsp;ещё есть чат с&nbsp;УК
                    </h3>
                    <picture>
                      <source srcset="./img/messages.webp" type="image/webp">
                      <img loading="lazy" src="./img/messages.png" class="image" width="333" height="208" alt="">
                    </picture>
                </div>
                <div class="hero-invite__item hero-invite__item--2">
                    <picture>
                        <source srcset="img/pic-3.webp" type="image/webp">
                        <img loading="lazy" src="img/pic-3.png" alt="">
                    </picture>
                    <h3 class="hero-invite__item-title">
                        Передавайте <span>показания</span>, оплачивайте счета: мы&nbsp;напомним, когда пора
                    </h3>
                </div>
                <div class="hero-invite__item hero-invite__item--3">
                    <h3 class="hero-invite__item-title">
                        Создавайте гостям
                        <span>пропуска:</span> доступом
                        на&nbsp;территорию дома управляете&nbsp;вы
                    </h3>
                    <picture>
                        <source srcset="img/pic-1.webp" type="image/webp">
                        <img loading="lazy" src="img/pic-1.png" width="320" height="230" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
