<section class="info-invite">
    <div class="container">
        <div class="info-invite__top">
            <h2 class="info-invite__title title-1">
                Ещё больше <span>новых функций</span>
                с&nbsp;каждым обновлением
            </h2>
            <p class="info-invite__descr">
                Мы&nbsp;анализируем ваши замечания и&nbsp;предложения&nbsp;&mdash; на&nbsp;их&nbsp;основе растёт и&nbsp;улучшается
                функционал. Не&nbsp;стесняйтесь писать нам, мы&nbsp;всё читаем и&nbsp;мотаем на&nbsp;ус!
            </p>
        </div>
        <div class="info-invite__wrapper">
            <div class="info-invite__left">
                <picture>
                  <source srcset="./img/pic-4.webp" type="image/webp">
                  <img loading="lazy" src="./img/pic-4.png" width="457" height="439" alt="">
                </picture>
            </div>


            <div data-spollers data-one-spoller class="info-invite__spollers spollers">
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        <div class="spollers__icon" aria-hidden="true">🚀</div>
                        <span>Свежие новости</span>
                        <div class="spollers__control" aria-hidden="true">
                            <div class="spollers__control-wrapper"></div>
                        </div>
                    </button>
                    <div class="spollers__body">
                        <p>
                            Можно организовать доступ определённым авто на определенных КПП: например, если это вывоз
                            мусора или завоз стройматериалов
                        </p>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        <div class="spollers__icon" aria-hidden="true">🛒</div>
                        <span>Маркет</span>
                        <div class="spollers__control" aria-hidden="true">
                            <div class="spollers__control-wrapper"></div>
                        </div>
                    </button>
                    <div class="spollers__body">
                        <p>
                            Можно организовать доступ определённым авто на определенных КПП: например, если это вывоз
                            мусора или завоз стройматериалов
                        </p>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        <div class="spollers__icon" aria-hidden="true"> 📣</div>
                        <span>Общие собрания собственников и опросы</span>
                        <div class="spollers__control" aria-hidden="true">
                            <div class="spollers__control-wrapper"></div>
                        </div>
                    </button>
                    <div class="spollers__body">
                        <p>
                            Можно организовать доступ определённым авто на определенных КПП: например, если это вывоз
                            мусора или завоз стройматериалов
                        </p>
                    </div>
                </div>
                <div class="spollers__item">
                    <button type="button" data-spoller class="btn btn-reset spollers__title">
                        <div class="spollers__icon" aria-hidden="true">☎️</div>
                        <span>Самые важные телефоны</span>
                        <div class="spollers__control" aria-hidden="true">
                            <div class="spollers__control-wrapper"></div>
                        </div>
                    </button>
                    <div class="spollers__body">
                        <p>
                            Можно организовать доступ определённым авто на определенных КПП: например, если это вывоз
                            мусора или завоз стройматериалов
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>