<header class="header">
    <div class="header__container container">
        <div class="header__inner">
            <a href="#" class="header__logo">
                <img loading="lazy" src="./img/logo.svg" width="131" height="25" alt="продом">
            </a>
            <nav class="header__nav nav" data-menu>
                <ul class="nav__list list-reset" data-spollers="1326,max" data-one-spoller>
                    <li class="nav__item" data-menu-item>
                        <a href="#" class="nav__link">
                            О нас
                        </a>
                    </li>
                    <li class="nav__item nav-dropdown">
                        <span class="nav__link" data-spoller>
                            Продукты и решения
                        </span>
                        <div class="nav-dropdown__container container">
                            <div class="nav-dropdown-content">
                                <div class="nav-dropdown-content__body">
                                    <a href="#" class="nav-dropdown-content__item" data-nav-dropdown-item="2" data-menu-item>
                                        <div>
                                            <svg>
                                                <use xlink:href="img/sprite.svg#security-safe"></use>
                                            </svg>
                                        </div>
                                        <span>
                                            Система контроля
                                            и&nbsp;управления доступом
                                        </span>
                                        <span>
                                            Бесшовная интеграция
                                        </span>
                                    </a>
                                    <a href="#" class="nav-dropdown-content__item" data-nav-dropdown-item="1" data-menu-item>
                                        <div>
                                            <svg>
                                                <use xlink:href="img/sprite.svg#call-2"></use>
                                            </svg>
                                            <span class="popular-subtitle">
                                                <svg>
                                                    <use xlink:href="img/sprite.svg#fire"></use>
                                                </svg>
                                                Хит
                                            </span>
                                        </div>
                                        <span>
                                            Аварийно-диспетчерская
                                            служба
                                        </span>
                                        <span>
                                            24/7, под ключ
                                        </span>
                                    </a>
                                    <a href="#" class="nav-dropdown-content__item" data-nav-dropdown-item="3" data-menu-item>
                                        <div>
                                            <svg>
                                                <use xlink:href="img/sprite.svg#home-hashtag"></use>
                                            </svg>
                                        </div>
                                        <span>
                                            Цифровая среда для жителей
                                            и&nbsp;управляющих организаций
                                        </span>
                                        <span>
                                            CRM, веб, приложения
                                        </span>
                                    </a>
                                    <a href="#" class="nav-dropdown-content__item" data-nav-dropdown-item="4" data-nav-dropdown-item-stub>
                                        <div>
                                            <svg>
                                                <use xlink:href="img/sprite.svg#drop"></use>
                                            </svg>
                                        </div>
                                        <span>
                                            Интеллектуальная система
                                            учёта ресурсов
                                        </span>
                                        <span>
                                            Описание
                                        </span>
                                    </a>
                                    <a href="#" class="nav-dropdown-content__item" data-nav-dropdown-item="5" data-nav-dropdown-item-stub>
                                        <div>
                                            <svg>
                                                <use xlink:href="img/sprite.svg#video"></use>
                                            </svg>
                                        </div>
                                        <span>
                                            Видеонаблюдение
                                        </span>
                                        <span>
                                            Описание в две
                                            строки
                                        </span>
                                    </a>
                                    <a href="#" class="nav-dropdown-content__item" data-nav-dropdown-item="6" data-nav-dropdown-item-stub>
                                        <div>
                                            <svg>
                                                <use xlink:href="img/sprite.svg#key"></use>
                                            </svg>
                                        </div>
                                        <span>
                                            Домофония
                                        </span>
                                        <span>
                                            Описание в две
                                            строки
                                        </span>
                                    </a>
                                </div>
                                <div class="nav-dropdown-content__banner-info banner-info" data-nav-dropdown-banner="1">
                                    <div class="banner-info__info">
                                        <h3 class="banner-info__title title-2">
                                            АДС 24/7
                                        </h3>
                                        <p class="banner-info__descr">
                                            Деньги те&nbsp;же, эффективность&nbsp;&mdash; выше. Предоставляем полный цикл работы
                                            с&nbsp;обращениями жителей.
                                        </p>
                                    </div>
                                </div>
                                <div class="nav-dropdown-content__banner-info banner-info" data-nav-dropdown-banner="2">
                                    <div class="banner-info__info">
                                        <h3 class="banner-info__title title-2">
                                            CКУД
                                        </h3>
                                        <p class="banner-info__descr">
                                            Круглосуточный контроль за&nbsp;территорией: управляйте доступами,
                                            пользуйтесь пропускной системой и&nbsp;создавайте безопасное пространство
                                        </p>
                                    </div>
                                </div>
                                <div class="nav-dropdown-content__banner-info banner-info" data-nav-dropdown-banner="3">
                                    <div class="banner-info__info">
                                        <h3 class="banner-info__title title-2">
                                            Цифровая среда
                                        </h3>
                                        <p class="banner-info__descr">
                                            Современные решения в&nbsp;цифровом формате <br> для управления бытовыми вопросами. Выстраивайте коммуникацию с&nbsp;жителями и&nbsp;сотрудниками.
                                        </p>
                                    </div>
                                </div>
                                <div class="nav-dropdown-content__banner-info banner-info" data-nav-dropdown-banner="4">
                                    <div class="banner-info__info">
                                        <h3 class="banner-info__title title-2">
                                            Система учёта
                                            ресурсов
                                        </h3>
                                        <p class="banner-info__descr">
                                            Мониторинг потребления ресурсов, автоматический сбор показаний приборов учёта, контроль данных в&nbsp;едином интерфейсе
                                        </p>
                                    </div>
                                </div>
                                <div class="nav-dropdown-content__banner-info banner-info" data-nav-dropdown-banner="5">
                                    <div class="banner-info__info">
                                        <h3 class="banner-info__title title-2">
                                            Видеонаблюдение
                                        </h3>
                                        <p class="banner-info__descr">
                                            Контроль за&nbsp;детскими площадками, наблюдение за&nbsp;дворовыми парковками, предотвращение актов вандализма
                                        </p>
                                    </div>
                                </div>
                                <div class="nav-dropdown-content__banner-info banner-info" data-nav-dropdown-banner="6">
                                    <div class="banner-info__info">
                                        <h3 class="banner-info__title title-2">
                                            Домофония
                                        </h3>
                                        <p class="banner-info__descr">
                                            Современное IP-оборудование: стандартные и&nbsp;вандалозащитные,
                                            многофункциональные устройства и&nbsp;пульты консьержа, видеодомофоны
                                        </p>
                                    </div>
                                </div>
                                <div class="nav-dropdown-content__banner-stub banner-stub" data-nav-dropdown-banner-stub>
                                    <h3 class="banner-stub__title">
                                        Страничка скоро
                                        появится
                                    </h3>
                                    <p class="banner-stub__descr">
                                        Наши разработчики уже верстают страничку,
                                        чтобы подробно рассказать о&nbsp;функционале и&nbsp;преимуществах продукта.
                                        А&nbsp;пока&nbsp;&mdash; будем рады ответить на&nbsp;вопросы по&nbsp;телефону :)
                                    </p>
                                    <button type="button" class="btn btn-reset btn-primary banner-stub__btn">
                                        Оставить заявку на звонок
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav__item" data-menu-item>
                        <a href="#" class="nav__link">
                            Внедрение
                        </a>
                    </li>
                    <li class="nav__item" data-menu-item>
                        <a href="#" class="nav__link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="header__actions">
                <a href="tel:+74951355651" class="header__tel">
                    <svg>
                        <use xlink:href="img/sprite.svg#call"></use>
                    </svg>
                    <span>
                        +7 495 135-56-51
                    </span>
                </a>
                <button type="button" class="btn btn-reset btn-secondary header__call" data-da=".header__nav,1326,3" 
                data-popup-path="order-call">
                    Заказать звонок
                </button>
            </div>
            <button class="header__burger burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>
