<section class="news">
    <div class="container">
        <div class="news__image ibg">
            <picture>
                <source srcset="./img/partner-5.webp" type="image/webp">
                <img loading="lazy" src="./img/partner-5.jpg" width="1076" height="262" alt="Обновили кое-что в приложении:
              счета теперь на самом виду">
            </picture>
        </div>
        <div class="news__content">
            <div class="news__top">
                <div class="news__subtitle">
                    <span>обновления</span>
                </div>
                <time datetime="2023-03-19" class="news__time">19 марта 2023</time>
            </div>
            <h1 class="news__title">
                Обновили кое-что в приложении: <br>
                счета теперь на самом виду
            </h1>
            <div class="news__text">
                <p>
                    Мы вынесли самую важную информацию на главной экран приложения. Что изменилось: вы видите
                    задолженность и счета на оплату сразу, а ещё сделали удобнее меню, чтобы сразу попадать в нужный
                    раздел.
                </p>
                <p>
                    Мы вынесли самую важную информацию на главной экран приложения. Что изменилось: вы видите
                    задолженность и счета на оплату сразу, а ещё сделали удобнее меню, чтобы сразу попадать в нужный
                    раздел. Мы вынесли самую важную информацию на главной экран приложения. Что изменилось: вы видите
                    задолженность и счета на оплату сразу, а ещё сделали удобнее меню, чтобы сразу попадать в нужный
                    раздел.
                </p>
                <p>
                    Мы вынесли самую важную информацию на главной экран приложения. Что изменилось: вы видите
                    задолженность и счета на оплату сразу, а ещё сделали удобнее меню, чтобы сразу попадать в нужный
                    раздел.Мы вынесли самую важную информацию на главной экран приложения. Что изменилось: вы видите
                    задолженность и счета на оплату сразу, а ещё сделали удобнее меню, чтобы сразу попадать в нужный
                    раздел.Мы вынесли самую важную информацию на главной экран приложения. Что изменилось: вы видите
                    задолженность и счета на оплату сразу, а ещё сделали удобнее меню, чтобы сразу попадать в нужный
                    раздел.
                </p>
            </div>
            <div class="news__btns">
                <a href="#" class="btn btn-reset btn-secondary btn-secondary--blue news__btn">К другим новостям</a>
                <a href="#" class="btn btn-reset btn-primary btn-primary--blue news__btn">Следующая новость</a>
            </div>
        </div>
    </div>
</section>
