<section class="news-list">
    <div class="container">
        <div class="news-list__items">
            <article class="news-card">
                <a href="#" class="news-card__wrapper">
                    <div class="news-card__image ibg">
                        <picture>
                            <source srcset="./img/news-card.webp" type="image/webp">
                            <img loading="lazy" src="./img/news-card.jpg" class="image" width="375" height="262"
                                alt="Обновили кое-что в приложении: счета теперь на самом виду">
                        </picture>
                    </div>
                    <div class="news-card__content">
                        <div class="news-card__subtitle">
                            <span>обновления</span>
                        </div>
                        <time datetime="2023-03-19" class="news-card__time">19 марта 2023</time>
                        <h2 class="news-card__title">
                            Обновили кое-что в приложении:
                            счета теперь на самом виду
                        </h2>
                        <p class="news-card__descr">
                            Мы вынесли самую важную информацию на главной экран приложения. Что изменилось: вы видите
                            задолженность и счета на оплату сразу, а ещё сделали удобнее меню, чтобы сразу попадать в ну
                        </p>
                    </div>
                </a>
            </article>
            <article class="news-card">
                <a href="#" class="news-card__wrapper">
                    <div class="news-card__image ibg">
                        <picture>
                            <source srcset="./img/news-card.webp" type="image/webp">
                            <img loading="lazy" src="./img/news-card.jpg" class="image" width="375" height="262"
                                alt="Обновили кое-что в приложении: счета теперь на самом виду">
                        </picture>
                    </div>
                    <div class="news-card__content">
                        <div class="news-card__subtitle">
                            <span>обновления</span>
                            <span>обновления</span>
                            <span>обновления</span>
                        </div>
                        <time datetime="2023-03-19" class="news-card__time">19 марта 2023</time>
                        <h2 class="news-card__title">
                            Обновили кое-что в приложении
                        </h2>
                        <p class="news-card__descr">
                            Мы вынесли самую важную информацию на главной экран приложения. Что изменилось: вы видите
                            задолженность и счета на оплату сразу, а ещё сделали удобнее меню, чтобы сразу попадать в
                            нупопадать в нупопадать в нупопадать в ну
                        </p>
                    </div>
                </a>
            </article>
            <article class="news-card">
                <a href="#" class="news-card__wrapper">
                    <div class="news-card__image ibg">
                        <picture>
                            <source srcset="./img/news-card.webp" type="image/webp">
                            <img loading="lazy" src="./img/news-card.jpg" class="image" width="375" height="262"
                                alt="Обновили кое-что в приложении: счета теперь на самом виду">
                        </picture>
                    </div>
                    <div class="news-card__content">
                        <div class="news-card__subtitle">
                            <span>обновления</span>
                        </div>
                        <time datetime="2023-03-19" class="news-card__time">19 марта 2023</time>
                        <h2 class="news-card__title">
                            Обновили кое-что в приложении
                        </h2>
                        <p class="news-card__descr">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia magnam beatae ut. Porro
                            veritatis quam eveniet quis nemo consectetur, delectus velit reprehenderit assumenda esse
                            corrupti quidem quaerat officiis, aut eligendi incidunt architecto mollitia tempora deleniti
                            nostrum minima quos. Voluptatum, eum!
                        </p>
                    </div>
                </a>
            </article>
            <article class="news-card">
                <a href="#" class="news-card__wrapper">
                    <div class="news-card__image ibg">
                        <picture>
                            <source srcset="./img/news-card.webp" type="image/webp">
                            <img loading="lazy" src="./img/news-card.jpg" class="image" width="375" height="262"
                                alt="Обновили кое-что в приложении: счета теперь на самом виду">
                        </picture>
                    </div>
                    <div class="news-card__content">
                        <div class="news-card__subtitle">
                            <span>обновления</span>
                        </div>
                        <time datetime="2023-03-19" class="news-card__time">19 марта 2023</time>
                        <h2 class="news-card__title">
                            Обновили кое-что в приложении
                        </h2>
                        <p class="news-card__descr">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia magnam beatae ut. Porro
                            veritatis quam eveniet quis nemo consectetur, delectus velit reprehenderit assumenda esse
                            corrupti quidem quaerat officiis, aut eligendi incidunt architecto mollitia tempora deleniti
                            nostrum minima quos. Voluptatum, eum!
                        </p>
                    </div>
                </a>
            </article>
        </div>
        <a href="#" class="btn btn-reset btn-secondary btn-secondary--blue news-list__more">
            Ещё новости
        </a>
    </div>
</section>
