<div class="popup popup-primary popup-primary--show-qr">
    <div class="popup__container popup-primary__container" role="dialog" aria-modal="true" data-popup-target="show-qr">
        <button class="btn-reset js-popup-close popup__close popup-primary__close" aria-label="Закрыть модальное окно">
            <svg>
              <use xlink:href="img/sprite.svg#close"></use>
            </svg>
        </button>
        <div class="popup__content popup-primary__content show-qr">
            <h2 class="show-qr__title">
                <span>Скачайте</span>
                приложение &laquo;Продом&raquo; прямо сейчас
            </h2>
            <div class="show-qr__qrs">
                <div class="show-qr__qr">
                    <img loading="lazy" src="img/ios-qr-2.svg" width="210" height="210" alt="">
                    <span>IOS</span>
                </div>
                <div class="show-qr__qr">
                    <img loading="lazy" src="img/android-qr-2.svg" width="210" height="210" alt="">
                    <span>Android</span>
                </div>
            </div>
        </div>
    </div>
</div>
