.btn-reset {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.btn {
    white-space: nowrap;
    transition: color $transitionSpeed $transitionFunction,
        background-color $transitionSpeed $transitionFunction,
        border $transitionSpeed $transitionFunction;
}


.btn-primary {
    height: 58px;
    padding: 0 28px;

    color: var(--white);
    background-color: var(--black);

    border-radius: 15px;

    font-size: 16px;
    line-height: math.div(22, 16);
    font-weight: 500;

    @media (min-width:$smallTablet-min) {
        &:hover {
            color: var(--white);
            background-color: var(--blue);
        }
    }

    &:focus {
        color: var(--white);
        background-color: var(--blue);
    }

    @media (max-width:$tablet-max) {
        height: 44px;
        padding: 0 22px;
        font-size: 13px;
    }
}

.btn-secondary {
    height: 58px;
    padding: 0 28px;

    color: var(--black);
    background-color: transparent;
    border: 1px solid currentColor;

    border-radius: 15px;

    font-size: 16px;
    line-height: math.div(22, 16);
    font-weight: 500;

    @media (min-width:$smallTablet-min) {
        &:hover {
            color: var(--white);
            background-color: var(--blue);
        }
    }

    &:focus {
        color: var(--white);
        background-color: var(--blue);
    }

    @media (max-width:$tablet-max) {
        height: 44px;
        padding: 0 22px;
        font-size: 13px;
    }
}
