.btn-reset {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
}

.btn {
    white-space: nowrap;
    transition: color $transitionSpeed $transitionFunction,
        background-color $transitionSpeed $transitionFunction,
        border $transitionSpeed $transitionFunction;
}


.btn-primary {
    height: 58px;
    padding: 0 28px;

    color: var(--white);
    background-color: var(--black);

    border-radius: 15px;

    font-size: 16px;
    line-height: math.div(22, 16);
    font-weight: 500;


    display: inline-flex;
    align-items: center;
    justify-content: center;

    @media (min-width:$tablet-min) {
        &:hover {
            color: var(--white);
            background-color: var(--blue);
        }
    }
    &:active{
        color: var(--white);
        background-color: var(--blue-dark);
    }
    &.focus-visible {
        color: var(--white);
        background-color: var(--blue);
    }

    @media (max-width:$tablet-max) {
        height: 44px;
        padding: 0 22px;
        font-size: 13px;
    }

    &--big-size {
        font-size: 20px;
        line-height: math.div(22, 20);
        font-weight: 500;
        border-radius: 18px;
        height: 68px;
        padding: 22px 38px 24px;

        @media (max-width:$smallTablet-max) {
            height: 50px;
            padding: 14px 38px;
            font-size: 14px;
            width: 80%;
        }
    }

    &--blue {
        background-color: var(--blue);

        @media (min-width:$tablet-min) {
            &:hover {
                color: var(--white);
                background-color: var(--black);
            }
        }

        &.focus-visible {
            color: var(--white);
            background-color: var(--black);
        }

    }
}

.btn-secondary {
    height: 58px;
    padding: 0 28px;

    color: var(--black);
    background-color: transparent;
    border: 1px solid currentColor;

    border-radius: 15px;

    font-size: 16px;
    line-height: math.div(22, 16);
    font-weight: 500;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    @media (min-width:$tablet-min) {
        &:hover {
            color: var(--white);
            background-color: var(--blue);
        }
    }
    &:active{
        color: var(--white);
        background-color: var(--blue-dark);
    }

    &.focus-visible {
        color: var(--white);
        background-color: var(--blue);
        outline: none;
    }

    @media (max-width:$tablet-max) {
        height: 44px;
        padding: 0 22px;
        font-size: 13px;
    }

    &--blue {
        color: var(--blue);
    }
}
