.checkbox {
    position: relative;

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;

        &:checked+.checkbox__label:after {
            transform: scale(1);
        }
    }

    &__label {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        position: relative;

        &:before {
            content: "";
            align-self: flex-start;
            flex: 0 0 20px;
            width: 20px;
            height: 20px;
            border: 1px solid #D0D5DD;
            border-radius: 6px;
            transition: border $transitionSpeed $transitionFunction;
            position: relative;
            top: 0px;
            @media (max-width:$desktop){
                border-radius: 4.5px;
                width: 15px;
                height: 15px;
                flex: 0 0 15px;
            }
        }

        &::after {
            content: '';
            background-color: var(--black);
            flex: 0 0 14px;
            width: 14px;
            height: 14px;
            position: absolute;
            top: 3px;
            left: 3px;
            border-radius: 5px;
            transform: scale(0);
            transition: transform $transitionSpeed $transitionFunction;
            @media (max-width:$desktop){
                width: 10px;
                height: 10px;
            top: 2.5px;
            left: 2.5px;
            border-radius: 3.5px;
            }
        }

    }

    &__text {
        margin-left: 12px;
        color: var(--black);
        font: var(--text-3);
        a {
            text-decoration: underline;
            transition: color $transitionSpeed $transitionFunction;

            &:hover {
                color: var(--red);
            }
        }
    }
}
