.form-primary {

    &__title {
        color: var(--dark);
        font: var(--title-3);
    }

    &__descr {
        margin-top: 40px;
        font: var(--text-1);
        color: var(--dark);

        @media (max-width:$tablet-max) {
            margin-top: 20px;
        }
    }

    &__container {
        margin-top: 40px;
    }

    &__label {
        height: 75px;
        display: block;

        &:not(:last-child) {
            margin-bottom: 14px;

            @media (max-width:$tablet-max) {
                margin-bottom: 7px;
            }
        }

        @media (max-width:$tablet-max) {
            height: 58px;
        }
    }

    &__agree {
        margin-left: 24px;
        margin-top: 16px;

        .checkbox__text {
            font: var(--text-3);

            @media (max-width:$tablet-max) {
                margin-left: 8px;
            }
        }

        @media (max-width:$tablet-max) {
            margin-top: 12px;
            margin-left: 12px;
        }
    }

    &__btn {
        margin-top: 80px;
        width: 100%;

        padding: 24px 30px;
        height: 70px;

        @media (max-width:$tablet-max) {
            margin-top: 35px;
        }
    }

    &__choices {
        margin-top: 40px;
        text-align: left;

        span {
            display: block;
            margin-bottom: 20px;

            font: var(--text-2);
            @media (max-width:$tablet-max) {
                margin-bottom: 24px;
            }
        }

        @media (max-width:$tablet-max) {
            margin-top: 32px;
        }
    }
}

@import "button";
@import "input";
@import "checkbox";
@import "radio";
