.input-reset {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    background-color: #fff;
    padding: 0;
    outline: none;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }

}

textarea.input-reset {
    resize: none;
}

.input-primary {
    height: 50px;
    width: 100%;

    color: var(--dark);
    font-size: 13px;
    line-height: 100%;
    font-weight: 500;

    padding: 0 26px;

    background: #F8FAFC;
    border: 1px solid #E0E7FF;
    border-radius: 16px;
    transition: border $transitionSpeed $transitionFunction;

    &::placeholder {
        color: #9EACD8;
    }

    &.focus-visible {
        border: 1px solid var(--dark);
    }

    @media (max-width:$smallTablet-max) {
        height: 46px;
        padding: 0 18px;
        border-radius: 12px;
    }
}

.textarea-primary{
    width: 100%;
    --height: 206px;
    min-height: var(--height);
    max-height: var(--height);
    padding: 24px 26px;
    background: #F8FAFC;
    color: var(--dark);
    border: 1px solid #E0E7FF;
    border-radius: 22px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3125;
    transition: border $transitionSpeed $transitionFunction;
    &::placeholder {
        color: #9EACD8;
    }
    &.focus-visible {
        border: 1px solid var(--dark);
    }
    @media (max-width:$smallTablet-max) {
      --height: 125px;
        padding: 16px 18px;
        border-radius: 16px;
    }
}