.input-reset {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    background-color: #fff;
    padding: 0;
    outline: none;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }

}

textarea.input-reset {
    resize: none;
}

.input-primary {
    height: 75px;
    width: 100%;

    color: var(--black);
    font: var(--text-2-500);

    padding: 0 36px;

    background: #F8FAFC;
    border: 1px solid #9EACD8;
    border-radius: 26px;
    transition: border $transitionSpeed $transitionFunction;

    &::placeholder {
        color: #9EACD8;
    }

    &.focus-visible {
        border: 1px solid var(--black);
    }

@media (max-width:$desktop){
    height: 58px;
    padding: 0 26px;
    border-radius: 20px;
    font-size: 14px; 
}
}

.textarea-primary {
    width: 100%;
    --height: 206px;
    min-height: var(--height);
    max-height: var(--height);
    padding: 24px 26px;
    background: #F8FAFC;
    color: var(--dark);
    border: 1px solid #E0E7FF;
    border-radius: 22px;
    font: var(--text-2-500);
    transition: border $transitionSpeed $transitionFunction;

    &::placeholder {
        color: #9EACD8;
    }

    &.focus-visible {
        border: 1px solid var(--dark);
    }

@media (max-width:$desktop){
    --height: 125px;
    padding: 16px 18px;
    border-radius: 16px; 
}
}
