<section class="hero-implement">
    <div class="container hero-implement__container">
        <div class="hero-implement__content">
            <span class="hero-implement__subtitle">
                быстро и бесплатно
            </span>
            <h1 class="hero-implement__title title-1">
                Внедрение сервисов
                Продом
            </h1>
            <div class="hero-implement__text">
                <p>
                    Бесплатно настроим сервис под бизнес-процессы вашей компании,
                    обучим персонал, будем рядом всё время
                </p>
            </div>
            <button type="button" class="btn btn-reset btn-primary hero-implement__btn">Оставить заявку</button>
        </div>
    </div>
</section>