<section class="info-implement">
    <div class="container">
        <div class="info-implement__item info-implement-item">
            <div class="info-implement-item__image">
                <picture>
                    <source srcset="./img/info-implement-1.webp" type="image/webp">
                    <img loading="lazy" src="./img/info-implement-1.jpg" width="580" height="363" alt="Условия сотрудничества">
                </picture>
            </div>
            <div class="info-implement-item__info">
                <h2 class="info-implement-item__title title-2">
                    Условия <br>
                    сотрудничества
                </h2>
                <div class="info-implement-item__text">
                    <p>
                        Обязательным условием является наличие как минимум 1&nbsp;сотрудника, 
                        обладающего <span>желанием и&nbsp;временем для внедрения и&nbsp;обучения.</span> 
                        Практика показывает, что для эффективного внедрения в&nbsp;95% случаев таким человеком должен быть 
                        ответственный за&nbsp;изменение в&nbsp;компании сотрудник, которого назначает директор.
                    </p>
                </div>
            </div>
        </div>
        <div class="info-implement__item info-implement-item info-implement-item--reversed">
            <div class="info-implement-item__info">
                <h2 class="info-implement-item__title title-2">
                    Стоимость
                </h2>
                <div class="info-implement-item__text">
                    <p>
                        Стоимость внедрения рассчитывается индивидуально, 
                        но&nbsp;при стандартном решении внедрение производится <span>бесплатно</span>
                    </p>
                </div>
            </div>
            <div class="info-implement-item__image">
                <picture>
                    <source srcset="./img/info-implement-2.webp" type="image/webp">
                    <img loading="lazy" src="./img/info-implement-2.jpg" width="580" height="363" alt="Стоимость">
                </picture>
            </div>
        </div>
        <div class="info-implement__item info-implement-item">
            <div class="info-implement-item__image">
                <picture>
                    <source srcset="./img/info-implement-3.webp" type="image/webp">
                    <img loading="lazy" src="./img/info-implement-3.jpg" width="580" height="363" alt="Результат">
                </picture>
            </div>
            <div class="info-implement-item__info">
                <h2 class="info-implement-item__title title-2">
                    Результат
                </h2>
                <div class="info-implement-item__text">
                    <p>
                        Полностью <span>настроенный и&nbsp;запущенный сервис</span>, 
                        обученные сотрудники, понимание как работать в&nbsp;системе.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
