<section class="progress-implement">
    <div class="container">
        <div class="progress-implement__wrapper">
            <div class="progress-implement__info">
                <div class="progress-implement__img">
                    <picture>
                        <source srcset="./img/people.webp" type="image/webp">
                        <img loading="lazy" src="./img/people.jpg" class="image" width="363" height="363" alt="Картинка">
                    </picture>
                </div>
                <h2 class="progress-implement__title title-2">
                    Полное
                    сопровождение
                    с момента
                    подключения
                </h2>
            </div>
            <div class="progress-implement__content">
                <div class="progress-implement__line">
                    <div class="progress-implement__state" aria-hidden="true"></div>
                    <div class="progress-implement__state" aria-hidden="true"></div>
                    <div class="progress-implement__state" aria-hidden="true"></div>
                    <div class="progress-implement__state" aria-hidden="true"></div>
                    <div class="progress-implement__state" aria-hidden="true"></div>
                </div>
                <div class="progress-implement__finish">
                    <img loading="lazy" src="./img/likes.svg" width="110" height="55" alt="">
                    <span>Успешная командная работа</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="337" viewBox="0 0 200 337" fill="none">
                        <g filter="url(#filter0_f_1_8804)">
                            <ellipse cx="99.6953" cy="168.5" rx="54.5" ry="123.5" fill="white" />
                        </g>
                        <defs>
                            <filter id="filter0_f_1_8804" x="0.195312" y="0" width="199" height="337" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                                <feGaussianBlur stdDeviation="22.5" result="effect1_foregroundBlur_1_8804" />
                            </filter>
                        </defs>
                    </svg>
                </div>
                <div class="progress-implement__stages">
                    <div class="progress-implement__stage _right">
                        <p>
                            Знакомство, изучение ваших
                            внутренних процессов
                        </p>
                    </div>
                    <div class="progress-implement__stage _left">
                        <p>
                            Подготовка
                            и&nbsp;планирование
                        </p>
                    </div>
                    <div class="progress-implement__stage _right">
                        <p>
                            Настройка
                            справочников
                        </p>
                    </div>
                    <div class="progress-implement__stage _left">
                        <p>
                            Обучение сотрудников,
                            тестирование процессов
                        </p>
                    </div>
                    <div class="progress-implement__stage _right">
                        <p>
                            Запуск, оповещение жителей, аналитика процессов в&nbsp;личном кабинете
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
