<section class="about-home">
    <div class="container">
        <div class="about-home__top">
            <h2 class="about-home__title">
                Автоматизируем рутину <br>
                 и создаем <span>конкурентные преимущества</span>
            </h2>
            <button type="button" class="btn btn-reset btn-secondary">
                О нас
            </button>
        </div>
        <div class="about-home__content">
            <div class="about-home__items">
                <button type="button" class="btn btn-reset about-home__item about-home__item--1">
                    <div class="about-home__item-icon">
                        <svg>
                          <use xlink:href="img/sprite.svg#like"></use>
                        </svg>
                    </div>
                    <span class="about-home__item-subtitle">
                        до
                    </span>
                    <div class="about-home__item-title">
                        90%
                    </div>
                    <p class="about-home__item-descr">
                        привлекательность
                        <span>обьекта</span>
                    </p>
                    <span class="about-home__item-link">
                        Почему это важно →
                    </span>
                </button>
                <button type="button" class="btn btn-reset about-home__item about-home__item--2">
                    <div class="about-home__item-icon">
                        <svg>
                          <use xlink:href="img/sprite.svg#grammerly"></use>
                        </svg>
                    </div>
                    <span class="about-home__item-subtitle">
                        до
                    </span>
                    <div class="about-home__item-title">
                        100%
                    </div>
                    <p class="about-home__item-descr">
                        рост лояльности жителей
                        и&nbsp;покупателей
                    </p>
                    <span class="about-home__item-link">
                        Как мы узнали об этом →
                    </span>
                </button>
                <button type="button" class="btn btn-reset about-home__item about-home__item--3">
                    <div class="about-home__item-icon">
                        <svg>
                          <use xlink:href="img/sprite.svg#coin"></use>
                        </svg>
                    </div>
                    <span class="about-home__item-subtitle">
                        до
                    </span>
                    <div class="about-home__item-title">
                        20%
                    </div>
                    <p class="about-home__item-descr">
                        к&nbsp;прибыли за&nbsp;счет оптимизации
                    </p>
                    <span class="about-home__item-link">
                        Каким образом →
                    </span>
                </button>
            </div>
        </div>
    </div>
</section>