<section class="about-home">
    <div class="container">
        <div class="about-home__top">
            <h2 class="about-home__title">
                Автоматизируем рутину <br>
                и создаем <span>конкурентные преимущества</span>
            </h2>
            <button type="button" class="btn btn-reset btn-secondary about-home__badge">
                О нас
            </button>
        </div>
        <div class="about-home__content">
            <div class="about-home__items">
                <div class="about-home__item about-home__item--1">
                    <div class="about-home__item-icon">
                        <svg>
                            <use xlink:href="img/sprite.svg#like"></use>
                        </svg>
                    </div>
                    <span class="about-home__item-subtitle">
                        на
                    </span>
                    <div class="about-home__item-title">
                        32%
                    </div>
                    <p class="about-home__item-descr">
                        рост привлекательности
                        <span>обьекта</span>
                    </p>
                    <div class="tooltip about-home__item-link">
                        <button type="button" class="btn btn-reset tooltip__btn about-home__item-target" data-tooltip-html="                                <p>
                            Главным изменением в&nbsp;отрасли девелопмента стало появление новой категории потребителей&nbsp;&mdash; миллениалов. Они предпочитают
                            технологичные, быстрые и&nbsp;удобные решения, их&nbsp;жизнь в&nbsp;новом жилье должна быть цифровой. Мобильные приложения для жителей полностью
                            закрывают эту потребность
                        </p>
                        <p>
                            Для девелоперов переход к&nbsp;цифровизации также является преимуществом, так как повышает привлекательность их&nbsp;объектов для потенциальных
                            покупателей.
                        </p>">
                            Почему это важно →
                        </button>
                    </div>
                </div>
                <div class="about-home__item about-home__item--2">
                    <div class="about-home__item-icon">
                        <svg>
                            <use xlink:href="img/sprite.svg#grammerly"></use>
                        </svg>
                    </div>
                    <span class="about-home__item-subtitle">
                        на
                    </span>
                    <div class="about-home__item-title">
                        27%
                    </div>
                    <p class="about-home__item-descr">
                        рост лояльности
                        <span>ваших жителей</span>
                    </p>
                    <div class="tooltip about-home__item-link">
                        <button type="button" class="btn btn-reset tooltip__btn about-home__item-target" data-tooltip-html="<p>
                            Сервис &laquo;Продом&raquo; помогает управляющим компаниям выстроить простые процессы взаимодействия с&nbsp;жителями и&nbsp;изменить систему предоставления услуг.
                        </p>
                        <p>
                            В&nbsp;результате использования наших продуктов, мы&nbsp;бережём ваше время, забираем рутинные дела, чтобы вы&nbsp;сфокусировались на&nbsp;том, что у&nbsp;вас классно получается и&nbsp;приносит удовольствие. С&nbsp;помощью совместных усилий, растёт удовлетворённость жителей и&nbsp;их&nbsp;лояльность к&nbsp;УК.
                        </p>">
                            Как мы узнали об этом →
                        </button>
                    </div>
                </div>
                <div class="about-home__item about-home__item--3">
                    <div class="about-home__item-icon">
                        <svg>
                            <use xlink:href="img/sprite.svg#coin"></use>
                        </svg>
                    </div>
                    <span class="about-home__item-subtitle">
                        от
                    </span>
                    <div class="about-home__item-title">
                        250 <span>тыс. руб.</span>
                    </div>
                    <p class="about-home__item-descr">
                        в&nbsp;год сокращение
                        <span>расходов</span>
                    </p>
                    <div class="tooltip about-home__item-link">
                        <button type="button" class="btn btn-reset tooltip__btn about-home__item-target" data-tooltip-html="<p>
                            УК&nbsp;может существенно сократить расходы, если делегирует часть обязанностей специализированным компаниям. Например, передав
                            на&nbsp;аутсорсинг диспетчерскую службу,&nbsp; даже небольшая жилищная организация экономит от&nbsp;250&nbsp;тыс. руб. ежегодно.
                        </p>" data-tooltip-position-x="center">
                            Каким образом →
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
