<section class="about-home">
    <div class="container">
        <div class="about-home__top">
            <h2 class="about-home__title">
                Автоматизируем рутину <br>
                и создаем <span>конкурентные преимущества</span>
            </h2>
            <button type="button" class="btn btn-reset btn-secondary about-home__badge">
                О нас
            </button>
        </div>
        <div class="about-home__content">
            <div class="about-home__items">
                <div class="about-home__item about-home__item--1">
                    <div class="about-home__item-icon">
                        <svg>
                            <use xlink:href="img/sprite.svg#like"></use>
                        </svg>
                    </div>
                    <span class="about-home__item-subtitle">
                        до
                    </span>
                    <div class="about-home__item-title">
                        32%
                    </div>
                    <p class="about-home__item-descr">
                        рост привлекательности
                        <span>обьекта</span>
                    </p>
                    <div class="tooltip about-home__item-link">
                        <button type="button" class="btn btn-reset tooltip__btn about-home__item-target">
                            Почему это важно →
                        </button>
                        <div class="tooltip__content about-home__item-text">
                            <div>
                                <p>
                                    Главным изменением в&nbsp;отрасли девелопмента стало появление новой категории потребителей&nbsp;&mdash; миллениалов. Они предпочитают
                                    технологичные, быстрые и&nbsp;удобные решения, их&nbsp;жизнь в&nbsp;новом жильё должна быть цифровой. Мобильные приложения для жителей полностью
                                    закрывают эту потребность
                                </p>
                                <p>
                                    Для девелоперов переход к&nbsp;цифровизации также является преимуществом, так как повышает привлекательность их&nbsp;объектов для потенциальных
                                    покупателей.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-home__item about-home__item--2">
                    <div class="about-home__item-icon">
                        <svg>
                            <use xlink:href="img/sprite.svg#grammerly"></use>
                        </svg>
                    </div>
                    <span class="about-home__item-subtitle">
                        на
                    </span>
                    <div class="about-home__item-title">
                        27%
                    </div>
                    <p class="about-home__item-descr">
                        рост лояльности
                        <span>ваших жителей</span>
                    </p>
                    <div class="tooltip about-home__item-link">
                        <button type="button" class="btn btn-reset tooltip__btn about-home__item-target">
                            Как мы узнали об этом →
                        </button>
                        <div class="tooltip__content about-home__item-text">
                            <div>
                                <p>
                                    Для роста удовлетворённости жителей можно улучшить взаимодействие с&nbsp;ними: улучшить обслуживание, упростить процесс взаимодействия или
                                    изменить систему предоставления услуг.
                                </p>
                                <p>
                                    Сервис &laquo;Продом&raquo; способен решить эти задачи одновременно, объединяя все сервисы&nbsp;УК и&nbsp;обеспечивая коммуникацию
                                    с&nbsp;жителями. &laquo;Продом&raquo; упрощает жизнь и&nbsp;экономит время жителей&nbsp;&mdash; соответственно, растёт их&nbsp;лояльность.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-home__item about-home__item--3">
                    <div class="about-home__item-icon">
                        <svg>
                            <use xlink:href="img/sprite.svg#coin"></use>
                        </svg>
                    </div>
                    <span class="about-home__item-subtitle">
                        на
                    </span>
                    <div class="about-home__item-title">
                        250 <span>тыс. руб.</span>
                    </div>
                    <p class="about-home__item-descr">
                        в&nbsp;год сокращение
                        <span>расходов</span>
                    </p>
                    <div class="tooltip about-home__item-link">
                        <button type="button" class="btn btn-reset tooltip__btn about-home__item-target">
                            Каким образом →
                        </button>
                        <div class="tooltip__content about-home__item-text">
                            <div>
                                <p>
                                    УК&nbsp;может существенно сократить расходы, если делегирует часть обязанностей специализированным компаниям. Например, передав
                                    на&nbsp;аутсорсинг диспетчерскую службу,&nbsp; даже небольшая жилищная организация экономит от&nbsp;250&nbsp;тыс. руб. ежегодно.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
