<section class="app-home">
    <div class="container app-home__container">
        <div class="app-home__top hero-primary">
            <h1 class="app-home__title hero-primary__title _no-rellax">
                оставьте заявку
            </h1>
            <div class="app-home__text hero-primary__text">
                <p>
                    Укажите, какой вопрос вам интересен. Мы очень скоро
                    свяжемся с вами и всё подробно расскажем.
                </p>
            </div>
        </div>
        <form action="#" class="app-home__form form-primary">
            <label class="form-primary__label label-primary">
                <input type="text" name="Имя" class="input-reset input-primary label-primary__input" placeholder="Имя">
            </label>
            <label class="form-primary__label label-primary">
                <input type="tel" name="phone" class="input-reset input-primary label-primary__input" placeholder="Телефон">
            </label>
               <textarea name="text" class="input-reset form-primary__textarea textarea-primary" placeholder="Кратко опишите задачу"></textarea>
            <button type="submit" class="btn btn-reset btn-primary form-primary__btn app-home__btn">
                Отправить заявку
            </button>
        </form>
    </div>
</section>