<section class="hero-home">
    <div class="hero-home__container container">
        <div class="hero-home__wrapper">
            <div class="hero-home__info">
                <h1 class="hero-home__title">
                    Цифровые сервисы для 
                    <span>управляющих компаний</span> <br>
                    и девелоперов
                </h1>
                <p class="hero-home__descr">
                    Современный программный комплекс создания «цифровой среды» для эффективной работы
                </p>
                <button type="button" class="btn btn-reset btn-primary hero-home__btn">
                    Оставить заявку
                </button>
            </div>
            <div class="hero-home__images">
                <div class="hero-home__image">
                    <picture>
                        <source srcset="./img/home-phone-1.webp" type="image/webp">
                        <img loading="lazy" src="./img/home-phone-1.jpg" alt="">
                    </picture>
                </div>
                <div class="hero-home__image">
                    <picture>
                        <source srcset="./img/home-phone-2.webp" type="image/webp">
                        <img loading="lazy" src="./img/home-phone-2.jpg" alt="">
                    </picture>
                </div>
                <div class="hero-home__image">
                    <picture>
                        <source srcset="./img/home-phone-3.webp" type="image/webp">
                        <img loading="lazy" src="./img/home-phone-3.jpg" alt="">
                    </picture>
                </div>
                <div class="hero-home__image">
                    <picture>
                        <source srcset="./img/home-phone-4.webp" type="image/webp">
                        <img loading="lazy" src="./img/home-phone-4.jpg" alt="">
                    </picture>
                </div>
                <div class="hero-home__image">
                    <picture>
                        <source srcset="./img/home-phone-5.webp" type="image/webp">
                        <img loading="lazy" src="./img/home-phone-5.jpg" alt="">
                    </picture>
                </div>
                <div class="hero-home__image">
                    <picture>
                        <source srcset="./img/home-phone-6.webp" type="image/webp">
                        <img loading="lazy" src="./img/home-phone-6.jpg" alt="">
                    </picture>
                </div>
                <div class="hero-home__image">
                    <picture>
                        <source srcset="./img/home-phone-7.webp" type="image/webp">
                        <img loading="lazy" src="./img/home-phone-7.jpg" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
