<section class="info-home">
    <div class="container">
        <div class="info-home__wrapper">
            <div class="info-home__left">
                <div class="swiper info-home__slider">
                    <div class="swiper-wrapper">
                        <button type="button" class="btn btn-reset swiper-slide info-home__applic">
                            <div>
                                <svg>
                                    <use xlink:href="img/sprite.svg#plus"></use>
                                </svg>
                            </div>
                            <span>Ваши дома 🥳</span>
                            <span aria-hidden="true" style="opacity: 0; visibility: hidden;">использует Продом</span>
                        </button>
                        <a href="#" class="swiper-slide">
                            <picture>
                                <source srcset="./img/partner-10.webp" type="image/webp">
                                <img loading="lazy" src="./img/partner-10.jpg" width="207" height="233" alt="ЖК 9/18">
                            </picture>
                            <span>ЖК Лайнер Восток</span>
                            <span>использует Продом</span>
                        </a>
                        <a href="#" class="swiper-slide">
                            <picture>
                                <source srcset="./img/partner-9.webp" type="image/webp">
                                <img loading="lazy" src="./img/partner-9.jpg" width="207" height="233" alt="ЖК 9/18">
                            </picture>
                            <span>ЖК Прайм Тайм</span>
                            <span>использует Продом</span>
                        </a>
                        <a href="#" class="swiper-slide">
                            <picture>
                                <source srcset="./img/partner-8.webp" type="image/webp">
                                <img loading="lazy" src="./img/partner-8.jpg" width="207" height="233" alt="ЖК Лайнер Запад">
                            </picture>
                            <span>ЖК Зиларт</span>
                            <span>использует Продом</span>
                        </a>
                        <a href="#" class="swiper-slide">
                            <picture>
                                <source srcset="./img/partner-7.webp" type="image/webp">
                                <img loading="lazy" src="./img/partner-7.jpg" width="207" height="233" alt="ЖК Прайм Тайм">
                            </picture>
                            <span>ЖК 9/18</span>
                            <span>использует Продом</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="info-home__info">
                <div class="info-home__decor">
                    <picture>
                        <source srcset="./img/avatars-decor-4.webp" type="image/webp">
                        <img loading="lazy" src="./img/avatars-decor-4.png" width="126" height="43" alt="">
                    </picture>
                    <picture>
                        <source srcset="./img/hi_emodji.webp" type="image/webp">
                        <img loading="lazy" src="./img/hi_emodji.png" width="36" height="37" alt="">
                    </picture>
                </div>
                <p class="info-home__descr">
                    Продом помогает управляющим компаниям, застройщикам и
                    девелоперам сокращать расходы и повышать качество своих услуг, а жителям экономить время на бытовых вопросах
                </p>
                <button type="button" class="btn btn-reset btn-secondary info-home__btn">Узнать, как именно</button>
            </div>
        </div>
    </div>
</section>
