<section class="possibilities-home">
    <div class="container possibilities-home__container">
        <div class="possibilities-home__top hero-primary">
            <h1 class="possibilities-home__title hero-primary__title _no-rellax">
                возможности
            </h1>
            <div class="possibilities-home__text hero-primary__text _text-rellax" data-rellax-speed="1" data-rellax-tablet-speed="0"
                data-rellax-xs-speed="0" data-rellax-mobile-speed="0" data-rellax-percentage="0">
                <p>
                    Объединяем умные решения в&nbsp;единую систему.
                </p>
                <p>
                    Используйте только&nbsp;то, что нужно вам.
                </p>
            </div>
        </div>
        <div class="possibilities-home__inner">
            <div class="possibilities-home__item possibilities-home__item--1">
                <picture>
                    <source srcset="./img/phone-info-6.webp" type="image/webp">
                    <img loading="lazy" src="./img/phone-info-6.png" width="284" height="484" alt="">
                </picture>
            </div>
            <div class="possibilities-home__item possibilities-home__item--2">
                <div class="col">
                    <h3 class="possibilities-home__item-title">
                        Цифровая среда
                        для управляющих
                        компаний <span>и&nbsp;жителей</span>
                    </h3>
                    <p class="possibilities-home__item-descr">
                        Переведем в&nbsp;онлайн документооборот, ведение реестров, расчет, прием платежей, 
                        работу диспетчерской службы, работу с&nbsp;мастерами и&nbsp;общение с&nbsp;жителями
                    </p>
                </div>
                <picture>
                    <source srcset="./img/crm-images-2.webp" type="image/webp">
                    <img loading="lazy" src="./img/crm-images-2.png" width="571" height="361" alt="Заявка №27234">
                </picture>
            </div>
            <div class="possibilities-home__item possibilities-home__item--3">
                <img loading="lazy" src="img/finger-print.svg" alt="">
                <h3 class="possibilities-home__item-title">
                    Бесключевой доступ,
                    СКУД, IP-домофония
                </h3>
                <p class="possibilities-home__item-descr">
                    без смены вашего текущего оборудования
                </p>
            </div>
            <div class="possibilities-home__item possibilities-home__item--4">
                <h3 class="possibilities-home__item-title">
                    Аварийно-
                    диспетчерская
                    служба <span>24/7</span>
                </h3>
                <picture>
                    <source srcset="img/avatars-decor-5.webp" type="image/webp">
                    <img loading="lazy" src="img/avatars-decor-5.png" width="168" height="73" alt="">
                </picture>
                <div class="possibilities-home__item-tags">
                    <div class="row">
                        <div class="possibilities-home__tag tag tag--white tag--big">
                            Работа с заявками от жителей
                        </div>
                        <div class="possibilities-home__tag tag tag--white tag--big">
                            Оповещения
                        </div>
                        <div class="possibilities-home__tag tag tag--white tag--big">
                            Детализация звонков
                        </div>
                    </div>
                    <div class="row">
                        <div class="possibilities-home__tag tag tag--white tag--big">
                            Контроль и распределение исполнителей
                        </div>
                        <div class="possibilities-home__tag tag tag--white tag--big">
                            Сбор обратной связи
                        </div>
                    </div>
                </div>
            </div>
            <div class="possibilities-home__item possibilities-home__item--5">
                <picture>
                    <source srcset="img/pic.webp" type="image/webp">
                    <img loading="lazy" src="img/pic.png" alt="">
                </picture>
                <h3 class="possibilities-home__item-title">
                    <span>Интеллектуальная</span> система учёта ресурсов
                </h3>
            </div>
        </div>
    </div>
</section>
