<section class="tags-home">
    <div class="tags-home__container">
        <img loading="lazy" src="./img/blur.svg" class="tags-digitale-umgebung__decor" width="1440" height="748" alt="" aria-hidden="true">
        <div class="tags-home__info">
            <h2 class="tags-home__title title-2">
                Подключим, настроим
                <span>и&nbsp;научим работать в&nbsp;системе</span>
                за&nbsp;1&nbsp;день
            </h2>
            <button class="btn btn-reset btn-primary tags-home__btn">
                Связаться с нами
            </button>
        </div>
        <div class="tags-home__wrapper">
            <div class="tags-home__row marquee3k ticker-slider" data-speed="1">
                <div>
                    <div class="tags-home__tag tag tag--very-big">
                        Заказ пропуска для посетителей по номеру ТС
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Диспетчеризация
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Умный дом
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Идентификация номера автомобиля
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Электронный журнал
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        АДС 24
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Мобильные приложения
                    </div>
                </div>
            </div>
            <div class="tags-home__row marquee3k ticker-slider" data-speed="0.7">
                <div>
                    <div class="tags-home__tag tag tag--very-big">
                        Облачный СКУД
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Контроль и управление доступом
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Видеонаблюдение
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Распознавание номеров
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        CRM-система
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Оплата счетов ЖКУ
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Собрания собственников
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Новости и опросы
                    </div>
                </div>
            </div>
            <div class="tags-home__row marquee3k ticker-slider" data-speed="1">
                <div>
                    <div class="tags-home__tag tag tag--very-big">
                        Охрана
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Парковка
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Работа с заявками
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Анализ данных
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Системы оповещений
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Учёт ресурсов
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Вода
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Свет
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Газ
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Электричество
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Услуги
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Услуги
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
