<section class="tags-home">
    <div class="tags-home__container">
        <svg xmlns="http://www.w3.org/2000/svg" class="tags-home__decor" width="637" height="620" viewBox="0 0 1199 1176" fill="none">
            <g filter="url(#filter0_f_1513_36623)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M607.288 281.967C444.306 271.111 274.495 409.688 281.403 578.7C288.31 747.713 469.321 883.16 632.303 894.015C729.38 900.481 766.645 830.983 832.868 764.433C899.091 697.882 920.427 615.135 917.633 546.792C910.726 377.78 770.27 292.822 607.288 281.967Z"
                    fill="url(#paint0_linear_1513_36623)" />
            </g>
            <defs>
                <filter id="filter0_f_1513_36623" x="0.262939" y="0.433899" width="1198.54" height="1174.94" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="140.468" result="effect1_foregroundBlur_1513_36623" />
                </filter>
                <linearGradient id="paint0_linear_1513_36623" x1="899.55" y1="551.337" x2="358.185" y2="651.231" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#5F5FFA" stop-opacity="0" />
                    <stop offset="0.07" stop-color="#6565FF" />
                    <stop offset="0.48" stop-color="#4242E3" />
                    <stop offset="0.91" stop-color="#2FC4FF" />
                    <stop offset="1" stop-color="#33A6F9" stop-opacity="0" />
                </linearGradient>
            </defs>
        </svg>
        <div class="tags-home__wrapper">
            <div class="tags-home__row swiper" data-ticker-speed="6000">
                <div class="swiper-wrapper">
                    <div class="tags-home__tag tag tag--very-big swiper-slide">
                        Заказ пропуска для посетителей по номеру ТС
                    </div>
                    <div class="tags-home__tag tag tag--very-big swiper-slide">
                        Умный дом
                    </div>
                    <div class="tags-home__tag tag tag--very-big swiper-slide">
                        Идентификация номера автомобиля
                    </div>
                    <div class="tags-home__tag tag tag--very-big swiper-slide">
                        СКУД
                    </div>
                </div>
            </div>
            <div class="tags-home__row swiper" data-ticker-speed="4500">
                <div class="swiper-wrapper">
                    <div class="tags-home__tag tag tag--very-big swiper-slide">
                        Пропуск автомобиля через КПП с автооткрытием ворот и шлагбаума
                    </div>
                    <div class="tags-home__tag tag tag--very-big swiper-slide">
                        Идентификация номера автомобиля
                    </div>
                </div>
            </div>
            <div class="tags-home__row swiper" data-ticker-speed="5000">
                <div class="swiper-wrapper">
                    <div class="tags-home__tag tag tag--very-big swiper-slide">
                        Идентификация номера автомобиля
                    </div>
                    <div class="tags-home__tag tag tag--very-big swiper-slide">
                        Идентификация номера автомобиля
                    </div>
                    <div class="tags-home__tag tag tag--very-big swiper-slide">
                        Идентификация номера автомобиля
                    </div>
                    <div class="tags-home__tag tag tag--very-big swiper-slide">
                        Идентификация номера автомобиля
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
