<section class="tags-home">
    <div class="tags-home__container">
        <svg xmlns="http://www.w3.org/2000/svg" class="tags-home__decor" width="637" height="620" viewBox="0 0 1199 1176" fill="none">
            <g filter="url(#filter0_f_1513_36623)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M607.288 281.967C444.306 271.111 274.495 409.688 281.403 578.7C288.31 747.713 469.321 883.16 632.303 894.015C729.38 900.481 766.645 830.983 832.868 764.433C899.091 697.882 920.427 615.135 917.633 546.792C910.726 377.78 770.27 292.822 607.288 281.967Z"
                    fill="url(#paint0_linear_1513_36623)" />
            </g>
            <defs>
                <filter id="filter0_f_1513_36623" x="0.262939" y="0.433899" width="1198.54" height="1174.94" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feGaussianBlur stdDeviation="140.468" result="effect1_foregroundBlur_1513_36623" />
                </filter>
                <linearGradient id="paint0_linear_1513_36623" x1="899.55" y1="551.337" x2="358.185" y2="651.231" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#5F5FFA" stop-opacity="0" />
                    <stop offset="0.07" stop-color="#6565FF" />
                    <stop offset="0.48" stop-color="#4242E3" />
                    <stop offset="0.91" stop-color="#2FC4FF" />
                    <stop offset="1" stop-color="#33A6F9" stop-opacity="0" />
                </linearGradient>
            </defs>
        </svg>
        <div class="tags-home__wrapper">
            <div class="tags-home__row marquee3k ticker-slider" data-speed="1">
                <div>
                    <div class="tags-home__tag tag tag--very-big">
                        Заказ пропуска для посетителей по номеру ТС
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Диспетчеризация
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Умный дом
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Идентификация номера автомобиля
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Электронный журнал
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        АДС 24
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Мобильные приложения
                    </div>
                </div>
            </div>
            <div class="tags-home__row marquee3k ticker-slider" data-speed="0.7">
                <div>
                    <div class="tags-home__tag tag tag--very-big">
                        Облачный СКУД
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Контроль и управление доступом
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Видеонаблюдение
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Распознавание номеров
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        CRM-система
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Оплата счетов ЖКУ
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Собрания собственников
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Новости и опросы
                    </div>
                </div>
            </div>
            <div class="tags-home__row marquee3k ticker-slider" data-speed="1">
                <div>
                    <div class="tags-home__tag tag tag--very-big">
                        Охрана
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Парковка
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Работа с заявками
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Анализ данных
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Системы оповещений
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Учёт ресурсов
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Вода
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Свет
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Газ
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Электричество
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Услуги
                    </div>
                    <div class="tags-home__tag tag tag--very-big">
                        Услуги
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
