<section class="training-home">
    <div class="container">
        <div class="training-home__wrapper">
            <h2 class="training-home__title">
                Используем в своей работе технологии машинного обучения и анализа данных
            </h2>
            <div class="training-home__tags">
                <div class="row">
                    <div class="training-home__tag tag tag--big">
                        Умные чат-боты
                    </div>
                    <div class="training-home__tag tag tag--big">
                        Анализ данных
                    </div>
                    <div class="training-home__tag tag tag--big">
                        Системы рекомендаций
                    </div>
                </div>
                <div class="row">
                    <div class="training-home__tag tag tag--big">
                        Компьютерное зрение
                    </div>
                    <div class="training-home__tag tag tag--big">
                        Ecommers-решения
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>