.hero-ads {


    &__container {
        @media (max-width:$tablet-max) {
            padding: 0;
        }
    }

    &__title {
        position: relative;

        .popular-subtitle {
            position: absolute;
            top: -18px;
            right: 32%;

            transform: rotate(2.67deg);

            @media (max-width:$tablet-max) {
                top: -25px;
            }
        }
    }

    &__text {}

    &__btn {
        margin-top: 48px;
        padding: 0 32px;
    }
}


