.hero-invite {
    margin-top: 68px;

    &__container {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        max-width: 879px;

        span {
            color: var(--blue);
        }
    }

    &__descr {
        max-width: 620px;
        margin-top: 28px;
        color: var(--black);

        font: var(--text-1);
    }

    &__btn {
        margin-top: 64px;

        @media (max-width:$tablet-max) {
            margin-top: 32px;
            width: 100%;
        }
    }

    &__wrapper {
        --height: 439px;
        margin-top: 156px;
        border-radius: 377px;
        background: linear-gradient(196deg, #6BA6FF -44.28%, #1541DF 107.8%), linear-gradient(358deg, #957BE9 -11.58%, #C4B2FF 102.86%);
        max-width: 1192px;
        min-height: var(--height);
        max-height: var(--height);
        width: 100%;
        padding-left: 184px;

        @media (max-width:1200px) {
            margin-top: 90px;
            @include adaptiveValue("padding-left", 165, 80, 1200, 1024, 0);
            max-width: none;
            --height: 453px;
            border-radius: 55px;
        }

        @media (max-width:$tablet-max) {
            padding-left: 42px;
            border-radius: 24px;
            --height: 460px;
        }

        @media (max-width:$smallTablet-max) {
            --height: 375px;
            padding-left: 16px;
        }

        @media (max-width:$mobile-max) {
            --height: 250px;
            padding-left: 24px;
        }
        @media (max-width:$smallMobile-max){
             padding-left: 16px; 
        }
    }

    &__images {
        margin-top: -87px;
        display: flex;

      @media (max-width:$desktop){
        margin-top: -42px; 
      }
        @media (max-width:$tablet-max) {
            max-height: 460px;
        }

        @media (max-width:$smallTablet-max) {
            max-height: 375px;
            margin-top: -16px;
        }

        @media (max-width:$mobile-max) {
            max-height: 250px;
        }
    }

    &__image {
        border-radius: 50px;
        min-width: 320px;
        min-height: 463px;
        box-shadow: 0px 4.87057px 38.17794px 0px rgba(4, 58, 163, 0.09);       transition: transform $transitionSpeed ease-out;
        --active-prc: 35.2%;
        img {
            height: 100%;
            border-radius: 50px;

            @media (max-width:$smallTablet-max) {
                border-radius: 40px;
            }

            @media (max-width:$mobile-max) {
                border-radius: 28px;
            }
        }
        &:nth-child(1) {
            @media (min-width:$tablet-min) {
                &:hover {
                    transform: translateX(calc(-1 * var(--active-prc)));
                }
            }
        }
        &:nth-child(2) {
            transform: translateX(-61%);
            @media (min-width:$tablet-min) {
                &:hover {
                    transform: translateX(calc(-61% - var(--active-prc)));
                }
            }
            @media (max-width:$smallMobile-max) {
                transform: translateX(-75%);
            }
           @media (max-width:$mobile-max){
            transform: translateX(-80%);
           }
        }

        &:nth-child(3) {
            transform: translateX(calc(-320px + (-22%)));

            @media (min-width:$tablet-min) {
                &:hover {
                    transform: translateX(calc(-320px + (-22%) - var(--active-prc)));
                }
            }
            @media (max-width:$smallMobile-max) {
                transform: translateX(calc(-310px + (-44%)));
            }
            @media (max-width:$mobile-max){
                transform: translateX(calc(-290px + (-58%)));
            }
        }

        &:nth-child(4) {
            transform: translateX(calc((-320px*2) + 17%));
            @media (min-width:$tablet-min) {
                &:hover {
                    transform: translateX(calc((-320px*2) + 17% - var(--active-prc)));
                }
            }
            @media (max-width:$smallMobile-max) {
                transform: translateX(calc((-310px*2) + (-9%)));
            }
            @media (max-width:$mobile-max){
                transform: translateX(calc((-290px*2) + (-35%)));
            }
        }

        &:nth-child(5) {
            transform: translateX(calc((-320px*3) + 56%));

            @media (max-width:$smallMobile-max) {
                transform: translateX(calc((-310px*3) + 21%));
            }
            @media (max-width:$mobile-max){
                transform: translateX(calc((-290px*3) - 12%));
            }
        }

      @media (max-width:$desktop){
        min-height: auto; 
      }
        @media (max-width:$tablet-max) {
            min-width: 330px;
            border-radius: 50px;
        }

        @media (max-width:$smallTablet-max) {
            min-width: 310px;
            border-radius: 40px;
        }

        @media (max-width:$mobile-max) {
            min-width: 290px;
            border-radius: 30px;
        }
    }



    &__items {
        @include adaptiveValue("margin-top", 92, 32, 1296, 576, 1);
        align-self: stretch;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 13px;
        @media (max-width:$tablet-max){
            grid-template-columns: repeat(2,1fr);
        }
        @media (max-width:$smallTablet-max){
             grid-template-columns: 1fr; 
        }
    }

    &__item {
        @include adaptiveValue("border-radius", 60, 24, 1296, 576, 1);

        border: 1px solid #e7eaf2;
        background-color: #fbfbfb;
        color: var(--black);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        text-align: left;

        .hero-invite__item-title {
            font: var(--subtitle-1);

            span {
                color: var(--blue);
            }
        }

        &--1 {
            padding: 48px 35px 45px 44px;

            .hero-invite__item-title {
                margin-bottom: 48px;
                @media (max-width:$tablet-max){
                    margin-bottom: 24px;
                }
            }
            @media (max-width:$tablet-max){
                padding: 32px;
            }
            @media (max-width:$smallTablet-max){
                 padding: 24px; 
            }
        }

        &--2 {
            padding: 25px 0 48px 44px;

            .hero-invite__item-title {
                margin-right: 44px;

                @media (max-width:$smallTablet-max) {
                    margin-right: 24px;
                }
            }

            @media (max-width:$tablet-max) {
                padding: 32px 0 32px 32px;

                img {
                    max-width: 50%;
                    margin-left: auto;
                }
            }

            @media (max-width:$smallTablet-max) {
                padding: 24px 0 24px 24px;
            }

            @media (max-width:$mobile-max) {
                img {
                    max-width: 65%;
                }
            }
        }

        &--3 {
            padding: 48px 0 37px 44px;

            .hero-invite__item-title {
                margin-right: 44px;
                margin-bottom: 34px;

                @media (max-width:$smallTablet-max) {
                    margin-right: 24px;
                    margin-bottom: 24px;
                }
            }

            img {
                margin-left: auto;
                transform: translateX(12%);
                box-shadow: 0px 9.34226px 22.18787px -4.67113px rgba(237, 238, 239, 0.72);
                overflow: hidden;
            }
            @media (max-width:$tablet-max){
              padding: 32px 0 32px 32px;
            }
          @media (max-width:$smallTablet-max){
            padding: 24px 0 24px 24px; 
          }
        }
    }

    @media (max-width:$tablet-max) {
        margin-top: 30px;
    }
}
