.title-1 {
    color: var(--dark);
    font: var(--title-2);
}

.title-2 {
    color: var(--dark);
    font: var(--title-3);
}

.subtitle-number {
    color: var(--blue);
    background-color: #F3F6FF;

    letter-spacing: 0.11em;
    font: var(--subtitle-3);
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px 22px;
    border-radius: 42px;

    @media (max-width:$smallTablet-max) {
        border-radius: 28px;
        padding: 8px 16px;
    }
}

.popular-subtitle {
    background-color: #ff604a;
    color: var(--white);
    border-radius: 32px;

    font: var(--text-3);
    padding: 9px 20px;

    display: inline-flex;
    align-items: center;

    svg {
        width: 15px;
        height: 17px;
        fill: var(--white);
        margin-right: 5px;
    }

    @media (max-width:$smallTablet-max) {
        padding: 6px 12px;
        border-radius: 20px;

        svg {
            width: 12px;
            height: 14px;
        }
    }
}

.text-center {
    text-align: center;
}



.top-section-info {

    &__top {
        display: flex;
        justify-content: center;

        @media (max-width:$tablet-max) {
            flex-direction: column;
        }
    }

    &__subtitle {
        align-self: start;
        margin-right: 20px;

        @media (max-width:$tablet-max) {
            margin-right: 0;
            align-self: center;
        }
    }

    &__title {
        text-align: center;

        @media (max-width:$tablet-max) {
            margin-top: 12px;
        }
    }

    &__descr {
        margin: 32px auto 0;

        text-align: center;
        max-width: 842px;

        color: var(--black);
        font:var(--text-1);

        @media (max-width:$tablet-max) {
            margin-top: 20px;
        }
    }
}


.hero-primary {
    margin-top: 18px;
    background: linear-gradient(6.56deg, #FFFFFF -6.06%, #F3F5F8 135.59%);
    border-radius: 70px;
    padding: 60px 51px 66px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        @include adaptiveValue("font-size", 190, 50, 1296, 576, 1);
        line-height: math.div(171, 190);
        display: block;
        white-space: nowrap;
    }

    &__text {
        position: relative;
        top: -14px;

        background: rgba(255, 255, 255, 0.5);
        border: 1px solid #E7EAF2;
        backdrop-filter: blur(7.5px);
        border-radius: 45px;
        width: 100%;
        padding: 46px 32px;
        text-align: center;


        font: var(--text-1);
        p {
            margin: 0 auto;
            max-width: 705px;

            span {
                font-weight: 600;
            }
        }

        @media (max-width:$tablet-max) {
            padding: 32px 24px;
            top: -3px;
            border-radius: 24px;
        }

        @media (max-width:$smallTablet-max) {
            padding: 16px;
        }
    }

    @media (max-width:$tablet-max) {
        padding: 56px 16px 56px;
        border-radius: 0;
        background: transparent;
    }
}

.custom-audio {
    .green-audio-player {
        font-family: inherit;
        box-shadow: none;
        min-width: 460px;
        width: 460px;
        height: 52px;
        border-radius: 200px;
        background: rgba(128, 131, 137, 0.19);

        svg {
            width: 12px;
            height: 12px;

            path {
                fill: #fff;
            }
        }

        .controls__current-time {
            color: #fff;
            font: var(--text-3);
            order: 1;
        }

        .controls__total-time {
            font: var(--text-3);
            color: #fff;
            order: 2;
            margin-left: 10px;

            &::before {
                content: '/';
                position: relative;
                left: -5px;
            }
        }

        .controls .controls__slider {
            margin-left: 12px;
            margin-right: 0;
            order: 3;
        }

        .controls {
            @media (max-width:$tablet-max) {
                margin-top: 2px;
            }
        }

        .slider {
            background-color: #fff;

            .gap-progress {
                background: #B29AFF;
                z-index: 99;

                .pin {
                    background-color: #B29AFF;
                    width: 12px;
                    height: 12px;
                    box-shadow: none;
                }
            }
        }

        .controls .controls__slider .controls__progress .progress__pin {
            right: -11px;
            top: -4px;
        }

        .volume {
            &__button {
                svg {
                    width: 13px;
                    height: 13px;
                }

                &.open path {
                    fill: #B29AFF !important; // need hack :(
                }
            }

            .volume__controls {
                bottom: 33px !important; // need hack :(
                height: 65px;
            }

            .volume__controls .volume__slider .volume__progress .volume__pin {
                left: -3px;
            }
        }

        @media (max-width:$smallTablet-max) {
            max-width: 100%;
            width: 100%;
            min-width: 100%;
        }
    }

    @media (max-width:$smallTablet-max) {
        width: 100%;
    }
}


.tag {
    height: 42px;
    background-color: #3a60e8;
    border-radius: 42px;
    font: var(--text-3);
    padding: 0 16px;
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width:$tablet-max) {
        height: 36px;
        padding: 0 14px;
        border-radius: 18px;
    }

    &.tag--white {
        border: 1px solid rgba(180, 199, 245, 0.00);
        background-color: #f1f3f4;
        color: var(--black);
    }

    &.tag--big {
        letter-spacing: -0.158px;
        border-radius: 36px;
        height: 52px;
        padding: 0 24px;
        font: var(--text-2-500);
        @media (max-width:$tablet-max) {
            padding: 0 20px;
            height: 44px;
            border-radius: 18px;
        }

        @media (max-width:$smallTablet-max) {
            height: 40px;
            padding: 0 16px;
        }
    }

    &.tag--very-big {
        font: var(--subtitle-2);
        letter-spacing: -0.245px;
        border-radius: 56px;
        height: 79px;
        padding: 0 38px;
        @media (max-width:$tablet-max) {
            padding: 0 30px;
            height: 56px;
            border-radius: 24px;
        }

        @media (max-width:$smallTablet-max) {
            height: 50px;
            padding: 0 22px;
        }
    }
}


.nav-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    border-radius: 32px;

    width: 61px;
    height: 52px;

    transition: background-color $transitionSpeed $transitionFunction;

    svg {
        width: 28px;
        height: 28px;
        fill: var(--white);

        @media (max-width:$tablet-max) {
            width: 24px;
            height: 24px;
        }
    }

    &_prev {}

    &_next {
        svg {
            transform: rotate(180deg);
        }
    }

    &.swiper-button-disabled {
        background-color: #E7EAF2;
        cursor: default;
    }

    @media (max-width:$tablet-max) {
        width: 51px;
        height: 42px;
    }
}


.ticker-slider {
    .marquee3k__copy {
        display: inline-flex !important;
        align-items: center !important;
    }
}

.banner-info {
    @include adaptiveValue("border-radius", 50, 24, 1296, 576, 1);
    position: relative;
    overflow: hidden;

    &__info {
        padding: 36px 23px 44px 44px;
        border-radius: 50px;
        background: linear-gradient(355deg, #000 -248.96%, rgba(0, 0, 0, 0.00) 105.66%);

        backdrop-filter: blur(5px);

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
    }

    &__title {
        color: var(--white);
        font-weight: 500;
    }

    &__descr {
        color: var(--white);
        margin-top: 12px;
        font: var(--text-3);
    }
}


.banner-stub {
    @include adaptiveValue("border-radius", 50, 24, 1296, 576, 1);
    position: relative;
    overflow: hidden;
    background-image: url('../img/card-7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 9.63389px 42.03881px 0px rgba(182, 179, 192, 0.20);

    padding: 39px 40px 44px 44px;

    flex-direction: column;

    &__title {
        color: var(--white);
        font: var(--title-3);
    }

    &__descr {
        color: var(--white);

        margin-top: 16px;
        font: var(--text-3);
    }

    &__btn {
        margin-top: auto;
        height: 55px;

        padding: 0 28px;
        font: var(--text-3);
        align-self: start;
        border-radius: 20px;
    }
}
