.possibilities-skud {
    margin-top: 80px;

    .top-section-info {

        &__top {}

        &__title {
            margin: 0;

            span {
                color: var(--blue-dark);
            }
        }

        &__descr {
            max-width: 840px;

            span {
                font-weight: 500;
            }
        }
    }

    &__inner {
        margin-top: 80px;
        display: grid;
        grid-template-columns: percent(398, 1296) 1fr;
        grid-column-gap: 125px;

        @media (max-width:$desktop) {
            margin-top: 56px;
            grid-template-columns: 1fr;
        }

        @media (max-width:$smallTablet-max) {
            margin-top: 32px;
            align-items: center;
            justify-content: center;
        }
    }

    &__left {
        margin-top: 16px;
        position: relative;
        align-self: start;
        @media (max-width:$desktop){
            max-width: 500px;
            align-self: center;
            margin: 32px auto 0;
        }
        @media (max-width:$smallTablet-max){
             max-width: 320px; 
        }
    }

    &__left-wrapper {
        background: linear-gradient(0deg, #C8E6FC, #C8E6FC), linear-gradient(0deg, #FFFFFF, #FFFFFF), #3B5DDD;
        border-radius: 56px;
        padding: 36px 42px;
        max-height: 386px;
        overflow: hidden;
        @media (max-width:$desktop){
            max-height: 500px;
            padding: 32px;
            border-radius: 32px;
        }
        @media (max-width:$smallTablet-max){
             padding: 24px;
             max-height: 400px;
        }
    }

    &__order-frame {
        position: absolute;
        top: -67px;
        right: 8%;
        box-shadow: 0px 21.2107px 63.6322px rgba(134, 128, 151, 0.16);
        border-radius: 22px;
        z-index: 2;
        @media (max-width:$smallTablet-max){
             width: 150px;
             top: -50px; 
             border-radius: 16px;
        }
    }

    &__car {
        position: absolute;
        bottom: -75px;
        right: -19%;
        box-shadow: 0px 21.2107px 63.6322px rgba(134, 128, 151, 0.16);
        border-radius: 22px;
        z-index: 2;
        @media (max-width:$desktop){
            right: 0;
            width: 220px;
            bottom: -50px;
        }
        @media (max-width:$smallTablet-max){
             width: 200px; 
        }
    }

    &__phone {
        @include adaptiveValue("border-radius", 32, 16, 1296, 576, 1);
        position: relative;

        img {
            height: 100%;
            width: 100%;
            position: relative;
            z-index: 1;
            @include adaptiveValue("border-radius", 32, 16, 1296, 576, 1);
        }

        &::before {
            @include adaptiveValue("border-radius", 32, 16, 1296, 576, 1);
            content: '';
            width: calc(100% + (8px*2));
            height: calc(100% + (8px*2));
            position: absolute;
            top: -8px;
            left: -8px;
            background-color: rgba(248, 250, 253, 0.11);
            z-index: 1;
            border-radius: 28px;

            @media (max-width:$smallTablet-max) {
                width: calc(100% + (5px*2));
                height: calc(100% + (5px*2));
                top: -5px;
                left: -5px;
            }
        }
    }

    &__spollers {
        .spollers {
            &__item {
                background: #FBFBFB;
                border: 1px solid #E7EAF2;
                border-radius: 40px;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
                @media (max-width:$desktop){
                    border-radius: 24px;
                }
            }

            &__title {
                color: var(--dark);
                padding: 20px 44px 20px 32px;
                justify-content: start;

                span {
                    margin-right: 24px;
                }
                @media (max-width:$desktop){
                    padding: 12px 24px;
                }
            }

            &__body {
                color: #868A93;
                padding: 0 150px 40px 110px;
              @media (max-width:$desktop){
                   padding: 0 24px 24px; 
              }
            }

            &__icon {
                margin-right: 24px;
                @media (max-width:$smallTablet-max){
                     margin-right: 16px; 
                }
            }

            &__control {
                margin-left: auto;
            }
        }
        @media (max-width:$desktop){
            margin-top: 72px;
        }
    }

    @media (max-width:$desktop) {
        margin-top: 56px;
    }
}
