.results-skud {
    @include adaptiveValue("margin-top", 150, 48, 1296, 576, 1);

    .top-section-info {

        &__top {}

        &__title {
            margin: 0;

            span {
                color: var(--blue);
            }
        }

        &__descr {
            max-width: 540px;
        }
    }

    &__container {
        max-width: calc(1024px + (15px*2));
    }

    &__top {}

    &__list {
        margin-top: 72px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 32px;

     @media (max-width:$desktop){
        margin-top: 32px;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px; 
     }

        @media (max-width:$mobile-max) {
            grid-template-columns: 1fr;
            grid-row-gap: 12px;
        }
    }

    &__item {
        background: #FBFBFB;
        border: 1px solid #E7EAF2;
        border-radius: 56px;
        padding: 32px 46px 70px;

     @media (max-width:$desktop){
        border-radius: 42px; 
        padding: 32px 32px 45px 32px;
     }
    }

    &__icon {
        width: 40px;
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
        border-radius: 20px;
        background-color: var(--blue);

        svg {
            fill: none;
            stroke: var(--white);
            stroke-width: 2px;
            width: 14px;
            height: 14px;

            @media (max-width:$desktop) {
                width: 12px;
                height: 12px;
            }
        }

        @media (max-width:$desktop) {
            width: 22px;
            height: 22px;
        }
    }

    &__title {
        margin-top: 24px;
        font: var(--subtitle-3);
        color: var(--dark);
        max-width: 225px;

      @media (max-width:$desktop){
        margin-top: 16px; 
      }
    }

    &__descr {
        margin-top: 16px;
        color: var(--dark);
        font: var(--text-2-400);
    }

    &__item--big {
        background: linear-gradient(196deg, #6BA6FF -44.28%, #1541DF 107.8%), #0A5DFF;
        grid-column: 2 span;

        display: flex;
        flex-direction: column;

        .results-skud {
            &__avatars {
                margin-bottom: 50px;

              @media (max-width:$desktop){
                    margin-bottom: 32px; 
              }

                img {
                  @media (max-width:$desktop){
                    width: 100px; 
                  }
                }
            }

            &__descr {
                margin-top: auto;
                font: var(--subtitle-1);
                color: var(--white);
                @media (min-width:$desktop-min){
                     font-size: 30px; 
                }
                span {
                    color: #9FB6FE;
                }

            }
        }
        @media (max-width:$desktop){
              margin-top: 24px;
        }
        @media (max-width:$mobile-max) {
            grid-column: auto;
        }
    }

    &__avatars {}

    &.results-skud--two {
        .results-skud {
            &__container {
                max-width: calc(1185px + (15px*2));

                @media (max-width:$desktop) {
                    padding-top: 61px;
                }
            }

            &__descr {
            }

            &__list {
                @media (min-width:$desktop-min) {
                    margin-top: 56px;
                }
            }

            &__item {
                @media (min-width:$desktop-min) {
                    padding: 46px 46px 88px;
                }

                &:not(.results-skud__item--big) {
                    background: var(--white);
                    .results-skud__descr{
                        @media (max-width:$desktop) {
                            font-size: var(--small-fz);
                            margin-top: 12px;
                        }
                    }
                }
            }

            &__icon {
                @media (min-width:$desktop-min) {
                    width: 32px;
                    height: 32px;
                }
            }

            &__item--big {
                @media (min-width:$desktop-min) {
                  padding: 56px 40px 56px 56px;
                }
            }
        }

        .top-section-info__descr {
            max-width: 748px;

            @media (max-width:$desktop) {
                display: none;
            }
        }

        @media (max-width:$desktop) {
            background-color: var(--white);
            border-radius: 42px;
            position: relative;
            z-index: 1;
            top: -105px;
            margin-bottom: -105px;
        }
    }
}
